<div class="Formulario" style="display: none;">
    <form id="clientesWeb" method="POST" class="horizontal-form empresas">
        <h3 class="form-subtitulo">Dados do(a) cliente</h3>
        <div class="form-body">
            <div class="row">
                <input type="text" name="codigo" id="codigo" class="form-control" style="display:none;"  readonly>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="serie" class="control-label">Empresa<span class="required" aria-required="true"> * </span></label>
                        <div class="input-group">
                            <input type="text" class="form-control"
                            name="empresa" id="empresa"
                            readonly="readonly" placeholder="Empresa">
                            <span class="input-group-addon" style="border-color: #2a3f54;background-color: #34485c;"
                            onclick="$('.bs-example-modal-lg-g').modal();">
                                <i class="fa fa-search" style="color:#FFF;"></i>
                            </span>
                        </div>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="email" class="control-label">Email</label>
                        <input type="text"placeholder="exemplo@exemplo.com"  name="email" id="email" class="form-control" readonly>
                        <span class="help-block help-block-email"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="senha" class="control-label">Senha</label>
                        <input type="text"placeholder="****"  name="senha" id="senha" class="form-control" readonly>
                        <span class="help-block help-block-email"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3" style="display:none;">
                    <div class="form-group">
                        <label for="serie" class="control-label">Serie</label>
                        <input type="text"placeholder="****"  name="serie" id="serie" class="form-control" readonly>
                        <span class="help-block help-block-serie"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="nivel" class="control-label">Nivel</label>
                        <select class="form-control" name="nivel" id="nivel">
                            <option value="A">ADMIN</option>
                            <option value="U">USUARIO</option>
                            <option value="C">CLIENTE</option>
                        </select>

                        <!-- <input type="text"  name="" id="nivel" class="form-control" readonly> -->
                        <span class="help-block help-block-nivel"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="sistema" class="control-label">Sistema</label>
                        <select class="form-control" name="sistema" id="ativo" id="sistema">
                            <option value="csgestor" selected="selected">CSGestor</option>
                            <option value="app.csb2b">CSB2B</option>
                            <!--<option value="csgestor-csb2b">Todos</option>-->
                        </select>
                        <span class="help-block help-block-serie"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="ativo" class="control-label">Ativo</label>
                        <select class="form-control" name="ativo" id="ativo">
                            <option value="1" selected="selected">Ativado</option>
                            <option value="0">Desativado</option>
                        </select>
                        <span class="help-block help-block-serie"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="referencia" class="control-label">Referência</label>
                        <input type="text"placeholder="****"  name="referencia" id="referencia" class="form-control" readonly>
                        <span class="help-block help-block-serie"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="border-top:1px solid #eee;">
            <div class="col-sm-12 form-footer" style="margin-top:10px;">
                <div class="pull-right">
                    <button type="button" class="btn btn-danger" onclick="initClientes.transicaoLayout(false);">
                        <i class="material-icons md-24 ">arrow_back</i> Voltar
                    </button>
                    <button type="button" class="btn btn-success" onclick="initClientes.confirmarAlteracaoDeRegistro();">
                        <i class="material-icons md-24 ">check</i> Salvar
                    </button>
                </div>
            </div>
        </div>

    </form>
</div>
