<div class="x_content Grid">

    <table id="datatable" class="table table-striped">
        <thead>
        <tr>
            <th value="codigo">Código</th>
            <th value="email">E-mail</th>
            <th value="empresa">Empresa</th>
            <th value="nivel">Nível</th>
            <th value="sistema">Sistema</th>
            <th value="false">Ativação</th>
            <th value="false">Detalhes</th>
            <th value="false">Excluir</th>
        </tr>
        </thead>
        <tbody class="Grid">

        </tbody>
    </table>
</div>
