<div class="label label-info Formulario pull-right" style="display:none;">
    <span id="statusForm" ></span>
</div>
<div class="portlet light">
    <div id="portlet-title" class="portlet-title">
        <div class="caption col-sm-4">
            <span onclick="initClientes.transicaoLayout(false);">
                <i class="material-icons md-24  Formulario" style="display:none;">arrow_back</i>
                <?= $this->titulo; ?>&nbsp;
            </span>
        </div>
        <div class="pull-right col-sm-8">
            <div class="actions">
                <div class="datatable_Filtros Parametros FiltroGrid">
                        <!-- <span class="col-lg-2 col-sm-3 col-xs-12 pull-right">
                            <buttom type="button"  onclick="initClientes.adicionarRegistro();"
                                      style="padding-right:8px;"
                                      class="btn btn-success form-control">
                                      <i class="material-icons md-18">add</i> Adicionar
                            </buttom>
                        </span> -->
                    <div class="Grid">
                        <?= isset($this->filtros) && $this->filtros->getHtml() ? $this->filtros->getHtml() : '' ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="portlet-body" class="portlet-body">
        <div class="form-inline Grid">
            <div class="datatable_Filtros">
                <span id="datatable_FiltroGridBuscaLeng" mover="false">

                </span>
                <span id="datatable_FiltroGridBuscaColuna">
                    <select name="colunaBusca" class="form-control pull-left" style="margin-left:5px;">
                    </select>
                </span>
                <span id="datatable_FiltroGridBuscaTipo">
                    <select name="formaBusca" class="form-control pull-left" style="margin-left:5px;">
                    </select>
                </span>
                <span id="datatable_FiltroGridBusca" >

                </span>
                <span class="" >
                    <button type="reset" id="datatable_FiltroGridBuscaLimpar" class="btn btn-warning" style="margin-bottom: 5px;margin-left:5px;">
                        <i class="material-icons md-18">autorenew</i>
                        Limpar
                    </button>
                </span>
            </div>
        </div>

        <?= $this->grid; ?>

        <?= $this->formulario; ?>

        <?= $this->modal; ?>

        <div class="clearfix"></div>
    </div>
</div>
