<div class="modal fade bs-example-modal-lg-g" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="tituloModal">Empresas</h4>
            </div>
                <div class="modal-body">
                            <div class="form-inline GridEmpresas">
                                    <div class="datatableEmpresas_Filtros">
                                            <span id="datatableEmpresas_FiltroGridBuscaLeng" mover="false" style="margin-rigth:5px;">

                                            </span>
                                            <span id="datatableEmpresas_FiltroGridBuscaColuna">
                                                            <select name="colunaBusca" class="form-control pull-left" style="margin-left:5px;">
                                                            </select>
                                            </span>
                                            <span id="datatableEmpresas_FiltroGridBuscaTipo">
                                                            <select name="formaBusca" class="form-control pull-left" style="margin-left:5px;">
                                                            </select>
                                            </span>
                                            <span id="datatableEmpresas_FiltroGridBusca" >

                                            </span>
                                            <span class="" >
                                                <button type="reset" id="datatableEmpresas_FiltroGridBuscaLimpar" class="btn btn-warning" style="margin-bottom: 5px;margin-left:5px;">
                                                    <i class="material-icons md-18">autorenew</i>
                                                            Limpar
                                                    </button>
                                            </span>
                                    </div>
                            </div>

                                <table id="datatableEmpresas" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th value="serie">Código serie</th>
                                        <th value="fantasia">Fantasia</th>
                                        <th value="ip">IP</th>
                                        <th value="banco">Banco de dados</th>
                                        <th value="porta">Porta</th>
                                        <th value="dominio">Dominio</th>
                                        <!-- <th value="false">Selecionar</th> -->
                                    </tr>
                                    </thead>
                                    <tbody class="GridEmpresas">

                                    </tbody>
                                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
