<div class="Formulario" style="display: none;">
    <form method="POST" id="produto" class="horizontal-form empresas">

        <div class="row">
            <div class="col-xs-12">
                <div class="portlet light">

                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject bold uppercase font-dark">Detalhes</span>
                            <span class="caption-helper">sobre o produto</span>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <input type="number" placeholder="Id" name="id" id="idProduto" class="form-control" style="display: none;">
                        <div class="row">
                            <div class="col-sm-4 col-lg-3">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <center>
                                            <div style="height:200px;">
                                                <div class="thumbnail">
                                                    <img id="imagemProduto" src="/img/notfound.jpg" class="portrait" alt="Image" />
                                                </div>
                                                <buttom type="button" class="btn btn-upload form-control" onclick="formularioProdutos.uploadLogo();"
                                                        style="position: relative;bottom: 54px;width: 200px;">
                                                    <i class="fa fa-upload"></i> Upload imagem
                                                </buttom>
                                                <input type="text" name="imagem" id="imagem" class="form-control" style="display: none;">
                                                <span class="help-block" style="position: relative;bottom: 54px;width: 200px;">Resolução recomendade de 160x160</span>
                                            </div>
                                        </center>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8 col-lg-9">

                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label for="nome" class="control-label">Nome</label>
                                            <input type="text" placeholder="Produto demostração"  name="nome" id="nome" class="form-control">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="preco" class="control-label">Preço</label>
                                            <input type="number" placeholder="0.00" name="preco" id="preco" class="form-control">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="descricao" class="control-label">Descrição<span class="required" aria-required="true"> * </span></label>
                                            <input type="text" placeholder="Esse produto e a demostração"  name="descricao" id="descricao" class="form-control" required>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>                                    
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>


        <div class="row" style="border-top:1px solid #eee;">
            <div class="col-sm-12 form-footer" style="margin-top:10px;">
                <div class="pull-right">
                    <button type="button" class="btn btn-danger BtnVoltar" onclick="formularioProdutos.transicaoLayout(false);$('.panelsTotais').hide();">
                        <i class="material-icons md-24 ">arrow_back</i> Voltar
                    </button>
                    <button type="button" class="btn btn-success" onclick="formularioProdutos.confirmarAlteracaoDeRegistro();">
                        <i class="material-icons md-24 ">check</i> Salvar
                    </button>
                </div>
            </div>
        </div>

    </form>
</div>
