<div class="x_content Grid">

    <table id="datatable" class="table table-striped">
        <thead>
            <tr>
                <!--<th value="false">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ativo</th>-->
                <th value="id">ID</th>
                <th value="imagem">Imagem</th>
                <th value="nome">Nome</th>
                <th value="descricao">Descricao</th>
                <th value="preco">Preço</th>
                <!--<th style="text-align: center;" value="false">DB</th>-->
                <th style="text-align: center;" value="false">Detalhes</th>
                <th style="text-align: center;" value="false">Exclusão</th>
            </tr>
        </thead>
        <tbody class="Grid">

        </tbody>
    </table>
</div>
