<div aria-hidden="true" aria-labelledby="" role="dialog" tabindex="-1" id="modalForcaSerie" class="modalForcaSerie modal fade">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content" style="border-radius:0px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <center>
                    <h4 class="modal-title">
                        <b>
                            CODIGOS DE SERIE PARA O FORÇA DE VENDAS
                        </b>
                    </h4>
                </center>
            </div>
            <div class="panel-body">
                <div class="tab-pane active">

                    <div class="form-inline GridSerie">
                        <div class="datatableSerie_Filtros">
                            <span id="datatableSerie_FiltroGridBuscaLeng" mover="false" style="margin-rigth:5px;">

                            </span>
                            <span id="datatableSerie_FiltroGridBuscaColuna">
                                <select name="colunaBusca" class="form-control pull-left" style="margin-left:5px;">
                                </select>
                            </span>
                            <span id="datatableSerie_FiltroGridBuscaTipo">
                                <select name="formaBusca" class="form-control pull-left" style="margin-left:5px;">
                                </select>
                            </span>
                            <span id="datatableSerie_FiltroGridBusca" >

                            </span>
                            <span class="" >
                                <button type="reset" id="datatableSerie_FiltroGridBuscaLimpar" class="btn btn-warning" style="margin-bottom: 5px;margin-left:5px;">
                                    <i class="material-icons md-18">autorenew</i>
                                    Limpar
                                </button>
                            </span>

                            <span class="pull-right" >
                                    <span class="btn btn-info" style="margin-bottom: 5px;margin-left:5px;"
                                          onclick="gridForcaSeriesNovo.gerarCodigo($('#serie').val());">
                                        <i class="material-icons md-18">add</i>
                                         Num. de série
                                    </span>
                                </span>
                        </div>
                    </div>
                    <table id="datatableSerie" class="table table-striped">
                        <thead>
                            <tr>
                                <th value="codigo">Código</th>
                                <th value="aparelho">Identificação do aparelho</th>
                                <th value="representante">Representante</th>
                                <th value="numForca">Num. série Força de Vendas</th>
                                <th value="false">Limpar</th>
                                <th value="false">Excluir</th>
                            </tr>
                        </thead>
                        <tbody class="GridSerie">

                        </tbody>
                    </table>



                </div>
                <hr class="separator">
                <center>
                    <button type="button" class="btn btn-large btn-success" data-dismiss="modal" aria-hidden="true"><i class="material-icons md-24 ">check</i> OK</button>
                </center>
            </div>
        </div>
    </div>
</div>