
    <div class="label label-info Formulario pull-right" style="display:none;">
    <span id="statusForm" ></span>

</div>
<div class="portlet light">
    <div id="portlet-title" class="portlet-title">
        <div class="caption col-sm-4">
            <span onclick="initEmpresas.transicaoLayout(false);">
                <i class="material-icons md-24  Formulario" style="display:none;">arrow_back</i>
                <?= $this->titulo; ?>&nbsp;
            </span>
        </div>
        <div class="pull-right col-sm-8">
            <div class="actions">
                <div class="datatable_Filtros Parametros FiltroGrid">
                    <span class="pull-right">
                        <buttom type="button"  onclick="initEmpresas.adicionarRegistro();"
                                style="padding-right:8px;margin:5px;"
                                class="btn btn-success form-control btnAdicionar">
                            <i class="material-icons md-18">add</i> Adicionar
                        </buttom>
                    </span>
                    <?= isset($this->filtros) && $this->filtros->getHtml() ? $this->filtros->getHtml() : '' ?>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <div class="form-inline Grid">
            <div class="datatable_Filtros">
                <span id="datatable_FiltroGridBuscaLeng" mover="false" style="margin-rigth:5px;">

                </span>
                <span id="datatable_FiltroGridBuscaColuna">
                    <select name="colunaBusca" class="form-control pull-left" style="margin-left:5px;">
                    </select>
                </span>
                <span id="datatable_FiltroGridBuscaTipo">
                    <select name="formaBusca" class="form-control pull-left" style="margin-left:5px;">
                    </select>
                </span>
                <span id="datatable_FiltroGridBusca" >

                </span>
                <span class="" >
                    <button type="reset" id="datatable_FiltroGridBuscaLimpar" class="btn btn-warning" style="margin-bottom: 5px;margin-left:5px;">
                        <i class="material-icons md-18">autorenew</i>
                        Limpar
                    </button>
                </span>
            </div>
        </div>

        <?= $this->grid; ?>

        <?= $this->formulario; ?>

        <div class="clearfix"></div>
    </div>
</div>
