<div class="Formulario" style="display: none;">
    <form id="forcaCadastro" method="POST" class="horizontal-form empresas">
        <h3 class="form-subtitulo">Dados da loja</h3>
        <div class="form-body">
            <div class="row">
                <!-- <input type="text" name="codigo" id="codigo" value="0" class="form-control" style="display: none"> -->
                <input type="text" name="serie" id="serie" class="form-control" style="display: none">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="serie" class="control-label">Empresa<span class="required" aria-required="true"> * </span></label>
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   name="fantasia" id="fantasia"
                                   readonly="readonly" placeholder="Empresa">
                            <span class="input-group-addon" style="border-color: #2a3f54;background-color: #34485c;"
                                  onclick="$('.bs-example-modal-lg-g').modal();">
                                <i class="fa fa-search" style="color:#FFF;"></i>
                            </span>
                        </div>
                        <span class="help-block">Verificar existencia de cadastro para o CSB2B, para ativação do força de vendas!</span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="ip" class="control-label">IP <span class="required" aria-required="true"> * </span></label>
                        <input type="text" placeholder="IP da loja" name="ip" class="form-control" required>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="banco" class="control-label">Banco<span class="required" aria-required="true"> * </span></label>
                        <input type="text" placeholder="Nome do banco" name="banco" id="banco" class="form-control" required>
                        <span class="help-block"></span>
                    </div>
                </div>
<!--                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">&nbsp;</label>
                        <buttom type="button"  onclick=""
                                style="padding-right:8px;"
                                class="btn btn-info form-control">
                            <i class="material-icons md-18">autorenew</i> Atualizar base do cliente
                        </buttom>
                    </div>
                </div>-->
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label  class="control-label">Sistema<span class="required" aria-required="true"> * </span></label>
                        <select name="tipoLoja" class="form-control">
                            <option value="loja">Loja</option>
                            <option value="master">Master</option>
                        </select>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-sm-1">
                    <label for="qtdAdiquirida" class="control-label">Qtd. Adiquirida</label>
                    <div class="form-group">
                        <input type="number" name="qtdAdiquirida" value="0" id="qtdAdiquirida" class="form-control">
                        <!--<span class="help-block">Apenas informativo de quantidade contratada</span>-->
                    </div>
                </div>
                <div class="col-sm-1">
                    <label for="qtdUso" class="control-label">Qtd. Usada</label>
                    <div class="form-group">
                        <input type="number" name="qtdUso" value="0" id="qtdUso" class="form-control">
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">Dias de validade *</label>
                        <input name="dias" id="dias"
                               oninput="maxLengthCheck(this)"  maxlength="3"
                               class="date-picker form-control col-md-7 col-xs-12"
                               type="number" min="0" max="999">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">Dia do vencimento *</label>
                        <input  name="dataValidade" id="dataValidade"
                                class="date-picker form-control col-md-7 col-xs-12"
                                readonly="readonly" type="text">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">&nbsp;</label>
                        <buttom type="button"  onclick="$('#dataValidade').val('');$('#dias').val('');"
                                style="padding-right:8px;"
                                class="btn btn-success form-control">
                            <i class="material-icons md-18">autorenew</i> Limpar data
                        </buttom>
                    </div>
                </div>

            </div>
            <br>


            <div class="" style="border-top:1px solid #eee;">
                <div class="portlet light">
                    <h3 class="form-subtitulo"><?= $this->subTitulo; ?></h3>
                    <div id="portlet-body" class="portlet-body">
                        <div class="form-inline GridSeries">
                            <div class="datatableSerie_Filtros">
                                <span id="datatableSerie_FiltroGridBuscaLeng" mover="false">

                                </span>
                                <span id="datatableSerie_FiltroGridBuscaColuna">
                                    <select name="colunaBusca" class="form-control pull-left" style="margin-left:5px;">
                                    </select>
                                </span>
                                <span id="datatableSerie_FiltroGridBuscaTipo">
                                    <select name="formaBusca" class="form-control pull-left" style="margin-left:5px;">
                                    </select>
                                </span>
                                <span id="datatableSerie_FiltroGridBusca" >

                                </span>
                                <span class="" >
                                    <span id="datatableSerie_FiltroGridBuscaLimpar" class="btn btn-warning" style="margin-bottom: 5px;margin-left:5px;">
                                        <i class="material-icons md-18">autorenew</i>
                                        Limpar
                                    </span>
                                </span>
<!--                                                <span class="pull-right" >
                                        <span class="btn btn-info" style="margin-bottom: 5px;margin-left:5px;"
                                              onclick="initForcaVendas.setAtualiza('Provedor');">
                                                <i class="fa fa-download"></i>
                                                Atualizar base do provedor
                                        </span>
                                </span>-->
                                <span class="pull-right" >
                                    <span class="btn btn-info" style="margin-bottom: 5px;margin-left:5px;"
                                          onclick="initSerie.gerarCodigo($('#serie').val());">
                                        <i class="material-icons md-18">add</i>
                                        1 código de série
                                    </span>
                                </span>
                            </div>
                        </div>

                        <?= $this->gridSeries; ?>

                        <div class="clearfix"></div>
                    </div>
                </div>


            </div>
            <div class="row" style="border-top:1px solid #eee;">
                <div class="col-sm-12 form-footer" style="margin-top:10px;">
                    <div class="pull-right">
                        <button type="button" class="btn btn-danger" onclick="initForcaVendas.transicaoLayout(false);">
                            <i class="material-icons md-24 ">arrow_back</i> Voltar
                        </button>
                        <button type="button" class="btn btn-success" onclick="initForcaVendas.confirmarAlteracaoDeRegistro();">
                            <i class="material-icons md-24 ">check</i> Salvar
                        </button>
                    </div>
                </div>
            </div>
    </form>



</div>
