<div class="x_content Grid">

    <table id="datatable" class="table table-striped">
        <thead>
            <tr>
                <th value="serie">Código série</th>
                <th value="fantasia">Empresa</th>
                <th value="ip">IP</th>
                <th value="banco">Banco</th>
                <th value="qtdAdiquirida">Qtd. adiquirida</th>
                <th value="qtdUso">Qtd. em uso</th>
                <th value="dataValidade">Expiram em</th>
                <th value="false">Detalhes</th>
                <th value="false">Excluir</th>
            </tr>
        </thead>
        <tbody class="Grid">

        </tbody>
    </table>
</div>
