<div class="Formulario" style="display: none;">
    <div class="row">

        <div class="col-xs-4">

            <div class="portlet light">

                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold uppercase font-dark">Detalhes</span>
                        <span class="caption-helper">sobre o contrato</span>
                    </div>
                </div>

                <div class="portlet-body">

                    <form method="POST" id="plano" class="horizontal-form conexao">
                        <div class="form-body">
                            <input type="number" name="idSistema" id="idSistema" style="display: none;">
                            <input type="number" name="id" id="id" style="display: none;">

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="idCliente" class="control-label">Cliente cadastrado<span class="required" aria-required="true"> * </span></label>
                                        <input type="text" placeholder="999 - CLIENTE EXEMPLO"  name="idCliente" id="idCliente" class="form-control" readonly="readonly" required>
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="apelido" class="control-label">Apelido<span class="required" aria-required="true"> * </span></label>
                                        <input type="text" placeholder="Exemplo"  name="apelido" id="apelido" class="form-control" required
                                               title="Descrição abrevida do cliente">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="form-group">
                                        <label for="idPlano" class="control-label">Selecionar plano</label>
                                        <div class="input-group">
                                            <input type="text" placeholder="999 - PLANO EXEMPLO"  name="idPlano" id="idPlano" class="form-control" readonly="readonly">
                                            <span onclick="$('#idPlano').val('');" class="input-group-addon" style="border-color: #eea236;background-color: #f0ad4e;">
                                                <i class="fa fa-refresh" style="color:#FFF;"></i>
                                            </span>
                                            <span id="buscarCliente" onclick="$('#modalPlano').modal();" class="input-group-addon" style="border-color: #2a3f54;background-color: #34485c;">
                                                <i class="fa fa-search" style="color:#FFF;"></i>
                                            </span>
                                        </div>

                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="ativo" class="control-label">Habilitado</label>
                                        <select name="ativo" id="ativo" class="form-control selected-row-input">
                                            <option value="0">NÃO</option>
                                            <option value="1">SIM</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="idConexao" class="control-label">Selecionar conexão</label>
                                        <div class="input-group">
                                            <input type="text" placeholder="999 - CONEXAO EXEMPLO"  name="idConexao" id="idConexao" class="form-control" readonly="readonly"
                                                   title="Quando valor for branco ira criar um novo cadastro de conexão!">
                                            <span onclick="$('#idConexao').val('');" class="input-group-addon" style="border-color: #eea236;background-color: #f0ad4e;">
                                                <i class="fa fa-refresh" style="color:#FFF;"></i>
                                            </span>
                                            <span id="buscarCliente" onclick="$('#modalConexao').modal();" class="input-group-addon" style="border-color: #2a3f54;background-color: #34485c;">
                                                <i class="fa fa-search" style="color:#FFF;"></i>
                                            </span>
                                        </div>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="subDominio" class="control-label">Subdominio</label>
                                        <input type="text" placeholder="app.dominio.com.br"  name="subDominio" id="subDominio" class="form-control">
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </form>

                </div>
            </div>

        </div>

        <div class="col-xs-8">
            <div class="portlet light ">

                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold uppercase font-dark">Recursos</span>
                        <span class="caption-helper">vinculados ao contrato</span>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="form-inline GridRecursoContratado">
                        <div class="datatableRecursoContratado_Filtros">
                            <span id="datatableRecursoContratado_FiltroGridBuscaLeng" mover="false" style="margin-rigth:5px;">

                            </span>
                            <span id="datatableRecursoContratado_FiltroGridBuscaColuna">
                                <select name="colunaBusca" class="form-control pull-left" style="margin-left:5px;">
                                </select>
                            </span>
                            <span id="datatableRecursoContratado_FiltroGridBuscaTipo">
                                <select name="formaBusca" class="form-control pull-left" style="margin-left:5px;">
                                </select>
                            </span>
                            <span id="datatableRecursoContratado_FiltroGridBusca" >

                            </span>
                            <span class="" >
                                <!--onclick="idPlanoContratado = null; codigoPlanoContratado = null;"-->
                                <button type="reset" id="datatableRecursoContratado_FiltroGridBuscaLimpar"  class="btn btn-warning" style="margin-bottom: 5px;margin-left:5px;">
                                    <i class="material-icons md-18">autorenew</i>
                                    Limpar
                                </button>
                            </span>
                            <span class="" >
                                <button id="btnAdicaoRecurso" onclick="$('#modalRecurso2').modal();" class="btn btn-success" style="margin-bottom: 5px;margin-left:5px;">
                                    <i class="material-icons md-18">add</i>
                                    Adicionar recursos
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="x_content GridRecursoContratado">

                        <table id="datatableRecursoContratado" class="table table-striped">
                            <thead>
                                <tr>
                                    <!--<th value="id">Id</th>-->
                                    <th value="plano">Plano</th>
                                    <th value="recurso">Recurso</th>
                                    <th value="submodulo">Submodulo</th>
                                    <th value="quantidade">Qtd. Liberada</th>
                                    <th value="preco">Valor unitario</th>
                                    <th value="preco">Subtotal</th>
                                    <th value="data">Data da Liberação</th>
                                    <th value="false" style="text-align: center;">Exclusão</th>
                                </tr>
                            </thead>

                            <tbody class="GridRecursoContratado">

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div class="row" style="border-top:1px solid #eee;">
        <div class="col-sm-12 form-footer" style="margin-top:10px;">
            <div class="pull-right">
                <button type="button" class="btn btn-danger" onclick="formularioConexao.transicaoLayout3(false);">
                    <i class="material-icons md-24 ">arrow_back</i> Voltar
                </button>
                <button type="button" class="btn btn-success" onclick="formularioConexao.confirmarAlteracaoDeRegistro();">
                    <i class="material-icons md-24 ">check</i> Salvar
                </button>
            </div>
        </div>
    </div>
</div>