<form method="POST" id="empresas" class="horizontal-form empresas">

    <div class="row">
        <div class="col-xs-12">
            <div class="portlet light">

                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold uppercase font-dark">Detalhes</span>
                        <span class="caption-helper">sobre o cliente</span>
                    </div>
                </div>

                <div class="portlet-body">
                    <input type="number" placeholder="Id" name="id" id="idClienteFinal" class="form-control" style="display: none;">
                    <div class="row">
                        <div class="col-sm-4 col-lg-3">
                            <div class="row">
                                <div class="col-sm-12">
                                    <center>
                                        <div style="height:200px;">
                                            <div class="thumbnail">
                                                <img id="logoEmpresa" src="/img/notfound.jpg" class="portrait" alt="Image" />
                                            </div>
                                            <buttom type="button" class="btn btn-upload form-control" onclick="formularioEmpresas.uploadLogo();"
                                                    style="position: relative;bottom: 54px;width: 200px;">
                                                <i class="fa fa-upload"></i> Upload logo
                                            </buttom>
                                            <input type="text" name="logo" id="logo" class="form-control" style="display: none;">
                                            <span class="help-block" style="position: relative;bottom: 54px;width: 200px;">Resolução recomendade de 160x160</span>
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 col-lg-9">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="documento" class="control-label">CNPJ / CPF<span class="required" aria-required="true"> * </span></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control"
                                                   name="documento" id="documento"
                                                   placeholder="Documento"
                                                   oninput="maxLengthCheck(this)"  maxlength="18"
                                                   required >
                                            <span id="buscarCnpj" class="input-group-addon" style="border-color: #2a3f54;background-color: #34485c;">
                                                <i class="fa fa-search" style="color:#FFF;"></i>
                                            </span>
                                        </div>
                                        <span class="help-block">Digite apenas números</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="serie" class="control-label">Código de Série</label>
                                        <input type="number" placeholder="9999999" oninput="maxLengthCheck(this)"  maxlength="7" name="serie" id="serie" class="form-control">
                                        <span class="help-block"></span>
                                    </div>
                                </div>


                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label for="ativo" class="control-label">Habilitado</label>
                                        <select name="ativo" id="ativoCliente" class="form-control selected-row-input">
                                            <option value="0">NÃO</option>
                                            <option value="1">SIM</option>
                                        </select>
                                    </div>
                                </div>

                                <!--                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <label for="ativo" class="control-label">Ativação</label>
                                                            <input id="ativo" name="ativo" class="form-control" type="checkbox" style="width: 25px!important;"/>
                                                        </div>
                                                    </div>-->
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="fantasia" class="control-label">Fantasia</label>
                                        <input type="text" placeholder="Fantasia da empresa"  name="fantasia" id="fantasia" class="form-control">
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="razaoSocial" class="control-label">Razao Social<span class="required" aria-required="true"> * </span></label>
                                        <input type="text" placeholder="Razao social da empresa"  name="razaoSocial" id="razaoSocial" class="form-control" required>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="portlet light">

                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold uppercase font-dark">Contato</span>
                        <span class="caption-helper">do cliente</span>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="email" class="control-label">E-mail</label>
                                <input type="email" placeholder="exemplo@provedor.com" name="email" id="email" class="form-control">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="telefone" class="control-label">Telefone<span class="required" aria-required="true"> * </span></label>
                                <input type="text" placeholder="(99) 99999-9999"  name="telefone" id="telefone" class="form-control" required>
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">

            <div class="portlet light">

                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold uppercase font-dark">Endereço</span>
                        <span class="caption-helper">do cliente</span>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="cep" class="control-label"> CEP <span class="required" aria-required="true"> * </span> </label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="cep" id="cep" placeholder="CEP" required>
                                    <a id="buscarCep" class="input-group-addon" style="border-radius:0px; border-color: #2a3f54;background-color: #34485c;">
                                        <i class="fa fa-search" style="color:#FFF;"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="rua" class="control-label">Rua<span class="required" aria-required="true"> * </span></label>
                                <input type="text"placeholder="Rua"  name="rua" id="rua" class="form-control" required>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="numero" class="control-label">Nº<span class="required" aria-required="true"> * </span></label>
                                <input type="text"placeholder="Numero"  name="numero" id="numero" class="form-control" required>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="complemento" class="control-label">Complemento</label>
                                <input type="text"placeholder="Complemento"  name="complemento" id="complemento" class="form-control">
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="estado" class="control-label">Estado<span class="required" aria-required="true"> * </span></label>
                                <input type="text" placeholder="Estado"  name="estado" id="estado" class="form-control" required>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="cidade" class="control-label">Cidade<span class="required" aria-required="true"> * </span></label>
                                <input type="text" placeholder="Cidade"  name="cidade" id="cidade" class="form-control" required>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="bairro" class="control-label">Bairro<span class="required" aria-required="true"> * </span></label>
                                <input type="text" placeholder="Bairro"  name="bairro" id="bairro" class="form-control" required>
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>

    <div class="row" style="border-top:1px solid #eee;">
        <div class="col-sm-12 form-footer" style="margin-top:10px;">
            <div class="pull-right">
                <button type="button" class="btn btn-danger BtnVoltar" onclick="formularioEmpresas.transicaoLayout(false);$('.panelsTotais').hide();">
                    <i class="material-icons md-24 ">arrow_back</i> Voltar
                </button>
                <button type="button" class="btn btn-success" onclick="formularioEmpresas.confirmarAlteracaoDeRegistro();">
                    <i class="material-icons md-24 ">check</i> Salvar
                </button>
            </div>
        </div>
    </div>

</form>