
<div class="portlet light GridConexaoContratada">

    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject bold uppercase font-dark">Contratos</span>
            <span class="caption-helper">vinculo entre cliente, plano e conexão</span>
        </div>
    </div>

    <div class="portlet-body">

        <div class="form-inline GridConexaoContratada">
            <div class="datatableConexaoContratada_Filtros">
                <span id="datatableConexaoContratada_FiltroGridBuscaLeng" mover="false" style="margin-rigth:5px;">

                </span>
                <span id="datatableConexaoContratada_FiltroGridBuscaColuna">
                    <select name="colunaBusca" class="form-control pull-left" style="margin-left:5px;">
                    </select>
                </span>
                <span id="datatableConexaoContratada_FiltroGridBuscaTipo">
                    <select name="formaBusca" class="form-control pull-left" style="margin-left:5px;">
                    </select>
                </span>
                <span id="datatableConexaoContratada_FiltroGridBusca" >

                </span>
                <span class="" >
                    <button type="reset" id="datatableConexaoContratada_FiltroGridBuscaLimpar" onclick="idPlanoContratado = null; codigoPlanoContratado = null; gridRecursosContratados.getDatarTable().ajax.reload();" class="btn btn-warning" style="margin-bottom: 5px;margin-left:5px;">
                        <i class="material-icons md-18">autorenew</i>
                        Limpar
                    </button>
                </span>
                <span class="" >
                    <button id="btnAdicaoRecurso" onclick="formularioConexao.adicionarRegistro();" class="btn btn-success" style="margin-bottom: 5px;margin-left:5px;">
                        <i class="material-icons md-18">add</i>
                        Adicionar
                    </button>
                </span>
            </div>
        </div>

        <div class="x_content GridConexaoContratada">

            <table id="datatableConexaoContratada" class="table table-striped">
                <thead>
                    <tr>
                        <!--<th value="id">Id</th>-->
                        <!--<th value="cliente">Cliente</th>-->
                        <th value="sistema">Sistema</th>
                        <th value="plano">Plano</th>
                        <th value="apelido">Apelido</th>
                        <!--<th value="banco">Banco</th>-->
                        <!--<th style="text-align: center;" value="false">Ativo</th>-->
                        <th style="text-align: center;" value="false">Detalhes</th>
                        <th style="text-align: center;" value="false">Exclusão</th>
                    </tr>
                </thead>

                <tbody class="GridConexaoContratada">

                </tbody>
            </table>
        </div>


    </div>

    <div class="row" style="border-top:1px solid #eee;">
        <div class="col-sm-12 form-footer" style="margin-top:10px;">
            <div class="pull-right">
                <button type="button" class="btn btn-danger BtnVoltar" onclick="formularioEmpresas.transicaoLayout(false);$('.panelsTotais').hide();">
                    <i class="material-icons md-24 ">arrow_back</i> Voltar
                </button>
            </div>
        </div>
    </div>
</div>


<div class="FormConexaoContratada" style="display: none;">
    <?php include (__DIR__ . '/formularioTab2.phtml'); ?>
</div>