<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="robots" content="INDEX,FOLLOW">

<meta name="description" content="ERP TPWS">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>ERP TPWS</title>
<link rel="shortcut icon" href="<?= $this->basePath('img/favicon.ico'); ?>">

<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="metronic/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

<link href="metronic/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
<link href="metronic/assets/global/plugins/select2/select2.css" rel="stylesheet" type="text/css">
<link href="metronic/assets/global/css/components.css" rel="stylesheet" type="text/css">


<link href="metronic/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" rel="stylesheet" type="text/css">
<link href="metronic/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
<link href="/js/bibliotecas/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css"/>


<link href="metronic/assets/admin/layout4/css/layout.css" rel="stylesheet" type="text/css">
<link href="metronic/assets/admin/layout4/css/sidebar.css" rel="stylesheet" type="text/css"/>
<link id="style_color" href="metronic/assets/admin/layout4/css/themes/light.css" rel="stylesheet" type="text/css">
