//## Main Layout CSS Builder

@import '../../global/_variables'; // global metronic framework variables
@import '../../global/components/_mixins'; // global metronic framework mixings

@import '_variables'; // theme level variables  

@import 'layout/_print'; // print layout   

@import 'layout/_header'; // page header    
@import 'layout/_page-container'; // page main container           
@import 'layout/_quick-sidebar'; // page quick sidebar            
@import 'layout/_sidebar';  // page sidebar         
@import 'layout/_content'; // page consnde                             
@import 'layout/_footer';   // page footer                    

@import 'layout/_theme-panel';  // theme customizer panel                           

/***          
Page Loading          
***/        
.form-subtitulo{
    padding-bottom: 4px;
    border-bottom: 1px solid #eee;
    color: #2D2C2C;
}

.requer-erro{
    background-color: #f8eded !important;
    border-color: #f1dade !important;
}

.page-on-load {
    background: #fefefe;

    .page-header,
    .page-container,
    .page-footer,
    > .clearfix {
        display: none;
        transition: all 2s;
    }
}
/******** Homepage Bar(5) ***********/
.homepage-bar{
    border:1px solid #e1e1e1;
    border-radius:5px;
    margin:20px 0;
    background-color:#ffffff; 
    @include clearfix();
    .col-md-4{
        border-left:1px solid #e1e1e1;
        padding-top:20px;
        padding-bottom:20px;
        &:first-child{
            border-left:0;
        }
    }
    i{
        font-size:34px;
        color:#000;
        display:inline-block;
        vertical-align:middle;
        &:before{
            width:auto
        }
    }
    .text-area{
        display:inline-block;
        vertical-align:middle;
        text-align:left;
        margin-left:5px
    }
    h3{
        color:#313131;
        font-size:16px;
        margin:0;
        line-height:1.5;
    }
    p{
        font-size:12px;
        margin:0;
        line-height:1;
        color:#414143;
    }

    type2{
        border:0;
        background-color:transparent;
        i{
            color:#fff;
            background-color:#121214;
            border-radius:50%;
            width:62px;height:62px;
            line-height:62px;
            text-align:center;
            float:left;
            &.icon-truck{
                padding-right:4px
            }

        }
        .text-area{
            display:block;
            margin-left:75px;
        }
        .col-md-4{
            border:0;
            padding-top:5px;
            padding-bottom:5px;
        }
        h3{
            color:#000;
            font-size:20px;
            margin:0;
            line-height:1;
            font-weight:600;
            margin-bottom:6px;
        }
        em{
            font-size:11px;
            font-style:normal;
            font-weight:400;
            font-family:Arial;
            line-height:1;
            margin-bottom:12px;
            display:block;
            color:#878787;
        }
        p{
            font-size:14px;
            margin:0;
            line-height:1.3;
            color:#666
        }
    }
}


.select-icons{
    width: 100%;
    height: 75%;
    margin-bottom: 20px;
    overflow-y: scroll;
    > div {
        padding: 20px;
        text-align: center;
        transition: all 0.2s ease-in-out; 
    }
    > div:hover i {
        color: #000000; 
    }

    > div i {
        color: #414143;
        font-size: 36px !important;
        cursor: pointer; 
    }
    @include clearfix;
}
.select-header{
    width: 100%;
    .titulo{
        position: absolute;
        z-index: 9999;
        color: #ffffff;
        left: 0;
        right: 0;
        text-align: center;
        margin: 5px 0;
    }
    .item{
        width: 50%;
        position: relative;
        float: left;
        padding: 0 8px;

    }
    img {
        cursor: pointer;
        width: 100%;
        transition: 100ms;
    }
    .item:hover{
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
    }
    @include clearfix;
}