<div class="Formulario" style="display: none;">
    <div class="tabbable-line">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#tab1" id="TabEmpresas" data-toggle="tab" aria-expanded="true"> Dados cadastrais</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">

                <?php include (__DIR__ . '/tabs/tab1.phtml'); ?>

            </div>

        </div>
    </div>
</div>
