<div class="x_content Grid">

    <table id="datatable" class="table table-striped">
        <thead>
            <tr>
                <!--<th value="false">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ativo</th>-->
                <th value="serie">Nº Série</th>
                <th value="fantasia">Fantasia</th>
                <th value="logo">Logo</th>
                <th value="razaoSocial">Razão social</th>
                <th value="documento">Documento</th>
                <!--<th style="text-align: center;" value="false">DB</th>-->
                <th style="text-align: center;" value="false">Detalhes</th>
                <th style="text-align: center;" value="false">Exclusão</th>
            </tr>
        </thead>
        <tbody class="Grid">

        </tbody>
    </table>
</div>
