<div class="x_content Grid">

    <table id="datatable" class="table table-striped">
        <thead>
        <tr>
            <th value="serie">Código série</th>
            <th value="fantasia">Empresa</th>
            <th value="modulo">Modulo</th>
            <th value="data">Data de cadastro</th>
            <th value="dataValidade">Data de validade</th>
            <th value="dias">Dias para avaliação</th>
            <th value="diasParaVencer">Vencimento em</th>
            <th value="false">Detalhes</th>
            <th value="false">Excluir</th>
        </tr>
        </thead>
        <tbody class="Grid">

        </tbody>
    </table>
</div>
