<body class="nav-md">
    <div class="right_col" role="main">
        <div class="clearfix"></div>



        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <div id="" class="PainelAcoes row">
                            <h4 class="col-lg-2 col-sm-12" style="font-size:20px;">
                                <i id="voltarTicket" style="display:none;font-size:25px;"
                                   class="fa fa-arrow-circle-o-left pull-left BtnVoltar"></i>
                                Perfil do usuario
                            </h4>

                            <div class="datatable_Filtros Parametros FiltroGrid col-lg-10 col-sm-12">
<!--                                    <span class="col-lg-2 col-sm-3 col-xs-12 pull-right">
                                        <buttom id="adicionarTicket" type="button" style="padding-right:8px;"
                                                data-toggle="modal" data-target=".bs-example-modal-lg-inclusao"
                                                class="btn btn-success form-control">
                                            <i class="material-icons md-18">add</i> Adicionar
                                        </buttom>
                                    </span>-->

                                <!--<= isset($this->filtros) && $this->filtros->getHtml() ? $this->filtros->getHtml() : '' ?>-->
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div class="col-md-3 col-sm-3 col-xs-12 profile_left">

                            <div class="profile_img">

                                <!-- end of image cropping -->
                                <div id="crop-avatar">
                                    <!-- Current avatar -->
                                    <div class="lock-avatar">
                                        <?php if ($this->gravatar(trim(strtolower($_COOKIE['login'])) . '@maxscalla.com.br')) : ?>
                                            <?=
                                            $this->gravatar(trim(strtolower($_COOKIE['login'])) . '@maxscalla.com.br', [
                                                'img_size' => 250,
                                                'default_img' => \Zend\View\Helper\Gravatar::DEFAULT_MM,
                                                'rating' => \Zend\View\Helper\Gravatar::RATING_G,
                                                'secure' => null,
                                                    ], [
                                                'class' => 'img-circle img-responsive'
                                                    ]
                                            )->getImgTag();
                                            ?>
                                        </div>
                                    <?php else: ?>
                                        <img src="<?= $this->basePath("/images/img.jpg"); ?>" class="img-circle img-responsive">
                                    <?php endif; ?>

                                    <!--<img class="img-responsive avatar-view" src="images/picture.jpg" alt="Avatar" title="Change the avatar">-->

                                    <!-- Cropping modal -->
                                    <div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <form class="avatar-form" action="crop.php" enctype="multipart/form-data" method="post">
                                                    <div class="modal-header">
                                                        <button class="close" data-dismiss="modal" type="button">×</button>
                                                        <h4 class="modal-title" id="avatar-modal-label">Change Avatar</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="avatar-body">

                                                            <!-- Upload image and data -->
                                                            <div class="avatar-upload">
                                                                <input class="avatar-src" name="avatar_src" type="hidden">
                                                                <input class="avatar-data" name="avatar_data" type="hidden">
                                                                <label for="avatarInput">Local upload</label>
                                                                <input class="avatar-input" id="avatarInput" name="avatar_file" type="file">
                                                            </div>

                                                            <!-- Crop and preview -->
                                                            <div class="row">
                                                                <div class="col-md-9">
                                                                    <div class="avatar-wrapper"></div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="avatar-preview preview-lg"></div>
                                                                    <div class="avatar-preview preview-md"></div>
                                                                    <div class="avatar-preview preview-sm"></div>
                                                                </div>
                                                            </div>

                                                            <div class="row avatar-btns">
                                                                <div class="col-md-9">
                                                                    <div class="btn-group">
                                                                        <button class="btn btn-primary" data-method="rotate" data-option="-90" type="button" title="Rotate -90 degrees">Rotate Left</button>
                                                                        <button class="btn btn-primary" data-method="rotate" data-option="-15" type="button">-15deg</button>
                                                                        <button class="btn btn-primary" data-method="rotate" data-option="-30" type="button">-30deg</button>
                                                                        <button class="btn btn-primary" data-method="rotate" data-option="-45" type="button">-45deg</button>
                                                                    </div>
                                                                    <div class="btn-group">
                                                                        <button class="btn btn-primary" data-method="rotate" data-option="90" type="button" title="Rotate 90 degrees">Rotate Right</button>
                                                                        <button class="btn btn-primary" data-method="rotate" data-option="15" type="button">15deg</button>
                                                                        <button class="btn btn-primary" data-method="rotate" data-option="30" type="button">30deg</button>
                                                                        <button class="btn btn-primary" data-method="rotate" data-option="45" type="button">45deg</button>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <button class="btn btn-primary btn-block avatar-save" type="submit">Done</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="modal-footer">
                                                                      <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                                                                    </div> -->
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.modal -->

                                    <!-- Loading state -->
                                    <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
                                </div>
                                <!-- end of image cropping -->

                            </div>
                            <h3><?= ucfirst(strtolower($_COOKIE['login'])); ?></h3>

                            <ul class="list-unstyled user_data">
                                <li><i class="fa fa-map-marker user-profile-icon"></i> San Francisco, California, USA
                                </li>

                                <li>
                                    <i class="fa fa-briefcase user-profile-icon"></i> Software Engineer
                                </li>

                                <li class="m-top-xs">
                                    <i class="fa fa-external-link user-profile-icon"></i>
                                    <a href="http://www.kimlabs.com/profile/" target="_blank">www.kimlabs.com</a>
                                </li>
                            </ul>

                            <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Edit Profile</a>
                            <br>

                            <!-- start skills -->
                            <h4>Skills</h4>
                            <ul class="list-unstyled user_data">
                                <li>
                                    <p>Web Applications</p>
                                    <div class="progress progress_sm">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50" style="width: 50%;" aria-valuenow="50"></div>
                                    </div>
                                </li>
                                <li>
                                    <p>Website Design</p>
                                    <div class="progress progress_sm">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="70" style="width: 70%;" aria-valuenow="69"></div>
                                    </div>
                                </li>
                                <li>
                                    <p>Automation &amp; Testing</p>
                                    <div class="progress progress_sm">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="30" style="width: 30%;" aria-valuenow="29"></div>
                                    </div>
                                </li>
                                <li>
                                    <p>UI / UX</p>
                                    <div class="progress progress_sm">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50" style="width: 50%;" aria-valuenow="50"></div>
                                    </div>
                                </li>
                            </ul>
                            <!-- end of skills -->

                        </div>


                        <div class="col-md-9 col-sm-9 col-xs-12">

                            <div class="profile_title">
                                <div class="col-md-6">
                                    <h2>Suas atividades nos ultimos : (3 meses)</h2>
                                </div>
                            </div>

                            <!-- top tiles -->
                            <div class="row tile_count">
                                <?php
                                $valorTotal = 0;
                                foreach ($this->totalStatus as $status) {
                                    $valorTotal = $valorTotal + $status['total'];
                                }
                                $top5 = [];
                                $labsTop5 = [];
                                ?>
                                <?php foreach ($this->totalStatus as $status) : ?>
                                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                        <span class="count_top"><?= $status['status'] ?></span>

                                        <div class="count"><?= $status['total'] ?></div>
                                        <span class="count_bottom">
                                            <i class="green">
                                                <?php
                                                $porcentagemStatus = number_format((($status['total'] / $valorTotal) * 100), 2, '.', ',');
                                                array_push($top5, [explode('</i> ', $status['status'])[1], floatval($status['total'])]);
                                                //array_push($labsTop5, explode('</i> ', $status['status'])[1]);
                                                ?>
                                                <?= $porcentagemStatus; ?>%
                                            </i> de <?= $valorTotal; ?>
                                            <br>
                                            <div class="">
                                                <div class="progress progress_sm" style="width: 76%;">
                                                    <div class="progress-bar bg-green" role="progressbar"
                                                         data-transitiongoal="<?= $porcentagemStatus; ?>"
                                                         style="width: <?= $porcentagemStatus; ?>%;"
                                                         aria-valuenow="<?= $porcentagemStatus; ?>">
                                                    </div>
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                <?php endforeach; ?>
                            </div>
                            <!-- /top tiles -->

                            <!-- start of user-activity-graph -->
                            <div id="graph_bar" style="margin-top: 15px; margin-bottom: 15px;">

                                <div id="placeholder33" style="height: 300px; display: none" class="demo-placeholder"></div>
                                <div style="width: 100%;">
                                    <div id="canvas_dahs" class="demo-placeholder" style="width: 100%; height:300px;"></div>
                                </div>

                            </div>
                            <!-- end of user-activity-graph -->

                            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">
                                            Ultimos tickets
                                        </a>
                                    </li>
                                    <li role="presentation" class="">
                                        <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Projects Worked on</a>
                                    </li>
                                    <li role="presentation" class="">
                                        <a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">
                                            Aproveitamento
                                        </a>
                                    </li>
                                </ul>
                                <div id="myTabContent" class="tab-content" style="max-height: 350px; overflow-y:auto;">
                                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                                        <!-- start recent activity -->
                                        <ul class="messages" style="max-height: 150px;">
                                            <?php
                                            $nCont = 0;
                                            foreach ($this->ultimosTickets as $notificacao) :
                                                ?>
                                                <?php $nCont++; ?>
                                                <li>
                                                    <span class="image">
                                                        <?=
                                                        $this->gravatar(trim(strtolower($notificacao['autorizado'])) . '@maxscalla.com.br', [
                                                            'img_size' => 250,
                                                            'default_img' => \Zend\View\Helper\Gravatar::DEFAULT_MM,
                                                            'rating' => \Zend\View\Helper\Gravatar::RATING_G,
                                                            'secure' => null,
                                                                ], [
                                                            'class' => 'avatar'
                                                                ]
                                                        )->getImgTag();
                                                        ?>
                                                    </span>

                                                                                <!--<img src="images/img.jpg" class="" alt="Avatar">-->
                                                    <div class="message_date">
                                                        <h3 class="date text-info">
                                                            <span><?= $notificacao['emissao']; ?></span>
                                                        </h3>
                                                        <!--<p class="month">May</p>-->
                                                    </div>
                                                    <div class="message_wrapper">
                                                        <h4 class="heading">
                                                            <label><?= $notificacao['codigo']; ?></label>
                                                            - 
                                                            <span> Autorizado por : <?= $notificacao['autorizado']; ?></span>
                                                        </h4>
                                                        <blockquote class="message">
                                                            <?= $notificacao['observacao']; ?>
                                                        </blockquote>
                                                        <br>
                                                        <p class="url">
                                                            <?= $notificacao['prioridade']; ?>    
                                                        </p>
                                                    </div>
                                                </li>
                                            <?php endforeach; ?>

                                            <script>
                                                novosTickets = <?= $nCont; ?>;
                                            </script>

                                        </ul>
                                        <!-- end recent activity -->

                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab"
                                         style="min-height: 350px;">

                                        <!-- start user projects -->
                                        <table class="data table table-striped no-margin">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Project Name</th>
                                                    <th>Client Company</th>
                                                    <th class="hidden-phone">Hours Spent</th>
                                                    <th>Contribution</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>New Company Takeover Review</td>
                                                    <td>Deveint Inc</td>
                                                    <td class="hidden-phone">18</td>
                                                    <td class="vertical-align-mid">
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-success" data-transitiongoal="35" style="width: 35%;" aria-valuenow="35"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>New Partner Contracts Consultanci</td>
                                                    <td>Deveint Inc</td>
                                                    <td class="hidden-phone">13</td>
                                                    <td class="vertical-align-mid">
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-danger" data-transitiongoal="15" style="width: 15%;" aria-valuenow="15"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Partners and Inverstors report</td>
                                                    <td>Deveint Inc</td>
                                                    <td class="hidden-phone">30</td>
                                                    <td class="vertical-align-mid">
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-success" data-transitiongoal="45" style="width: 45%;" aria-valuenow="45"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>New Company Takeover Review</td>
                                                    <td>Deveint Inc</td>
                                                    <td class="hidden-phone">28</td>
                                                    <td class="vertical-align-mid">
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-success" data-transitiongoal="75" style="width: 75%;" aria-valuenow="75"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- end user projects -->

                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab"
                                         style="min-height: 350px;">
                                        <div id="canvas1" style="width: 100%; height:300px;">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script>
            grafTop5 = <?= $top5 != null ? json_encode($top5) : 0; ?>;
            grafLabsTop5 = <?= $labsTop5 != null ? json_encode($labsTop5) : 0; ?>;
            mensalTicketEmissao = <?= $this->mensalEmissao; ?>;
            anualTicketEmissao = <?= $this->anualEmissao; ?>;
        </script>

    </div>
</div>
</body>
