<div class="Formulario" style="display: none;">
    <div class="portlet-body form">
        <form id="usuarios" class="horizontal-form">
            <span class="form-subtitulo">
                <h3>Login</h3>
            </span>
            <hr class="divider">
            <div class="form-body">
                <input type="number" placeholder="Id"name="id" id="id" class="form-control" style="display: none;">
                <div class="row">
                    <div class="col-sm-3 Fisica">
                        <div class="form-group">
                            <label for="usuario" class="control-label">
                                Usuario
                                <span class="required" aria-required="true"> * </span>
                            </label>
                            <input type="text" class="form-control" name="usuario" id="usuario" placeholder="Usuário" required>
                        </div>
                    </div>

                    <div class="col-sm-3 Fisica">
                        <div class="form-group">
                            <label for="senha" class="control-label">
                                Senha
                                <span class="required"> * </span>
                            </label>
                            <input type="password" class="form-control" name="senha" id="senha" placeholder="Senha" required>
                            <span class="help-block"></span>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="nomeCompleto" class="control-label">
                                Nome completo
                            </label>
                            <input type="text" class="form-control" name="nomeCompleto" id="nomeCompleto" placeholder="Nome do contato">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="idTipo" class="control-label">
                                Tipo de usuario
                            </label>
                            <select class="form-control" name="idTipo" id="idTipo" >
                                <option value="">Selecionar tipo de usuario</option>
                                <?php foreach ($this->tipoUsuarios() as $key => $value): ?>
                                    <option value="<?= $value['id']; ?>"><?= $value['descricao']; ?></option>
                                <?php endforeach; ?>

                            </select>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-actions right">
                <div class="row">
                    <div class="col-sm-12 form-footer" style="margin-top:10px;">
                        <div class="pull-right">
                            <button type="button" class="btn btn-danger BtnVoltar" onclick="formularioUsuario.transicaoLayout(false);">
                                <i class="material-icons md-24 ">arrow_back</i> Voltar
                            </button>
                            <button type="button" class="btn btn-success" onclick="formularioUsuario.confirmarAlteracaoDeRegistro();">
                                <i class="material-icons md-24 ">check</i> Salvar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
