<div class="Formulario" style="display: none;">
    <form id="modulosValidade" method="POST" class="horizontal-form empresas">
        <h3 class="form-subtitulo">Dados da loja</h3>
        <div class="form-body">
            <div class="row">
                <input type="text" name="serie" id="serie" class="form-control" style="display: none">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="serie" class="control-label">Empresa<span class="required" aria-required="true"> * </span></label>
                        <div class="input-group">
                            <input type="text" class="form-control"
                            name="fantasia" id="fantasia"
                            readonly="readonly" placeholder="Empresa">
                            <span class="input-group-addon" style="border-color: #2a3f54;background-color: #34485c;"
                            onclick="$('.bs-example-modal-lg-g').modal();">
                                <i class="fa fa-search" style="color:#FFF;"></i>
                            </span>
                        </div>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label  class="control-label">Modulo<span class="required" aria-required="true"> * </span></label>
                        <select name="modulo" class="form-control">
                            <option></option>
                            <option value="1">CSB2B</option>
                            <option value="2">TERMINAL</option>
                            <option value="3">CSGESTOR</option>
                        </select>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">Emissão *</label>
                        <input required name="data" id="data"
                         class="date-picker form-control col-md-7 col-xs-12" required="required"
                         readonly="readonly" type="text">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">Dias de validade *</label>
                        <input required name="dias" id="dias"
                        oninput="maxLengthCheck(this)"  maxlength="3"
                         class="date-picker form-control col-md-7 col-xs-12"
                         required="required" type="number" min="0" max="999">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">Dia do vencimento</label>
                        <br>
                        <a class="btn btn-info btn-xs" style="font-size:20px;">
                            <span name="dataValidade" id="dataValidade">Não definido</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row" style="border-top:1px solid #eee;">
                <div class="col-sm-12 form-footer" style="margin-top:10px;">
                    <div class="pull-right">
                        <button type="button" class="btn btn-danger" onclick="initModuloValidade.transicaoLayout(false);">
                            <i class="material-icons md-24 " >arrow_back</i> Voltar
                        </button>
                        <button type="button" class="btn btn-success" onclick="initModuloValidade.confirmarAlteracaoDeRegistro();">
                            <i class="material-icons md-24 ">check</i> Salvar
                        </button>
                    </div>
                </div>
            </div>
    </form>
</div>
