<div class="x_content Grid">

    <table id="datatable" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th value="data">Data</th>
            <th value="ip">IP</th>
            <th value="login">Login</th>
            <th value="sistema">Sistema</th>
            <th value="apelido">Apelido</th>
            <!-- <th value="false">Detalhes</th> -->
        </tr>
        </thead>
        <tbody class="Grid">

        </tbody>
    </table>
</div>
