<div class="Formulario" style="display: none;">
    <form method="POST" id="sistema" class="horizontal-form empresas">
        <span class="form-subtitulo">
            <h3>Sistema(s) ou Modulo(s)</h3>
        </span>
        <hr class="divider">
        <div class="form-body">
            <input type="number" placeholder="Id"name="id" id="id" class="form-control" style="display: none;">

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="fantasia" class="control-label">Descrição</label>
                        <input type="text" placeholder="Descrição do sistema"  name="nome" id="nome" class="form-control">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="ativo" class="control-label">Ativação</label>
                        <input id="ativo" name="ativo" class="form-control" type="checkbox" style="width: 25px!important;"/>
                    </div>
                </div>
            </div>

            <div class="row" style="border-top:1px solid #eee;">
                <div class="col-sm-12 form-footer" style="margin-top:10px;">
                    <div class="pull-right">
                        <button type="button" class="btn btn-danger BtnVoltar" onclick="formularioSistema.transicaoLayout(false);">
                            <i class="material-icons md-24 ">arrow_back</i> Voltar
                        </button>
                        <button type="button" class="btn btn-success" onclick="formularioSistema.confirmarAlteracaoDeRegistro();">
                            <i class="material-icons md-24 ">check</i> Salvar
                        </button>
                    </div>
                </div>
            </div>

    </form>
</div>
