<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 bordered" onclick="ServicosService.buscar('S')" style="cursor: pointer;">
            <div class="display">
                <div class="number">
                    <h3 class="font-green-soft">
                        <span id="ativos" data-counter="counterup"></span>
                        <!--<small class="font-green-sharp"></small>-->
                    </h3>
                    <small>Clientes ativos</small>
                </div>
                <div class="icon">
                    <i class="material-icons md-36 font-green-soft">check</i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: 100%;" class="progress-bar progress-bar-success green-soft">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 bordered" onclick="ServicosService.buscar('N')" style="cursor: pointer;">
            <div class="display">
                <div class="number">
                    <h3 class="font-red-soft">
                        <span id="inativos" data-counter="counterup"></span>
                        <!--<small class="font-green-sharp"></small>-->
                    </h3>
                    <small>Clientes inativos</small>
                </div>
                <div class="icon">
                    <i class="material-icons md-36 font-red-soft">block</i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: 100%;" class="progress-bar progress-bar-success red-soft">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 bordered" onclick="ServicosService.buscar('')" style="cursor: pointer;">
            <div class="display">
                <div class="number">
                    <h3 class="font-blue-soft">
                        <span id="todos" data-counter="counterup"></span>
                        <!--<small class="font-green-sharp"></small>-->
                    </h3>
                    <small>Clientes cadastrados</small>
                </div>
                <div class="icon">
                    <i class="material-icons md-36 font-blue-soft">format_list_bulleted</i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: 100%;" class="progress-bar progress-bar-success blue-soft">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>



    <div class="label label-info Formulario pull-right" style="display:none;">
    <span id="statusForm" ></span>

</div>
<div class="portlet light">
    <div id="portlet-title" class="portlet-title">
        <div class="caption col-sm-4">
            <span>
                <i class="material-icons md-24  Formulario" style="display:none;">arrow_back</i>
                <?= $this->titulo; ?>&nbsp;
            </span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="form-inline Grid">
            <div class="datatable_Filtros">
                <span id="datatable_FiltroGridBuscaLeng" mover="false" style="margin-rigth:5px;">

                </span>
                <span id="datatable_FiltroGridBuscaColuna">
                    <select name="colunaBusca" class="form-control pull-left" style="margin-left:5px;">
                    </select>
                </span>
                <span id="datatable_FiltroGridBuscaTipo">
                    <select name="formaBusca" class="form-control pull-left" style="margin-left:5px;">
                    </select>
                </span>
                <span id="datatable_FiltroGridBusca" >

                </span>
                <span class="" >
                    <button type="reset" id="datatable_FiltroGridBuscaLimpar" class="btn btn-warning" style="margin-bottom: 5px;margin-left:5px;">
                        <i class="material-icons md-18">autorenew</i>
                        Limpar
                    </button>
                </span>
            </div>
        </div>

        <?= $this->grid; ?>

        <?= $this->formulario; ?>

        <div class="clearfix"></div>
    </div>
</div>
