<div class="x_content Grid">

    <table id="datatable" class="table table-striped">
        <thead>
            <tr>
                <th value="serie">Série</th>
                <th value="cliente">Cliente</th>
                <th value="versaoNfe">Versão NFE</th>
                <th value="versaoCs">Versão CS</th>
                <th value="cnpj">CNPJ</th>
                <th value="ultimaLiberacao">Ultima liberação</th>
                <th value="ativacao">Ativação</th>
            </tr>
        </thead>
        <tbody class="Grid">

        </tbody>
    </table>
</div>
