<div class="Formulario" style="display: none;">
    <form method="POST" id="empresas" class="horizontal-form empresas">
        <h3 class="form-subtitulo">Dados da loja</h3>
        <div class="form-body">
            <div class="row">
                <input type="text" name="codigo" id="codigo" value="0" class="form-control" style="display: none">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="serie" class="control-label">Serie<span class="required" aria-required="true"> * </span></label>
                        <input type="number" placeholder="Número de série" oninput="maxLengthCheck(this)"
                               maxlength="8"  max="99999999" name="serie" id="serie" class="form-control" required>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="empresa" class="control-label">Apelido<span class="required" aria-required="true"> * </span></label>
                        <input type="text"placeholder="Nome da empresa" style="text-transform:uppercase" name="empresa" id="empresa" class="form-control" required>
                        <span class="help-block help-block-empresa"></span>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="qtdLogins" class="control-label">Qtde. logins <span class="required" aria-required="true"> * </span></label>
                        <input type="number" placeholder="Quantidade de logins" oninput="maxLengthCheck(this)"
                               maxlength="4" min="1" name="qtdLogins" class="form-control" required>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="login" class="control-label">Login <span class="required" aria-required="true"> * </span></label>
                        <input type="text" placeholder="Login" name="login" class="form-control" required>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="ip" class="control-label">IP <span class="required" aria-required="true"> * </span></label>
                        <input type="text" placeholder="IP da loja" name="ip" class="form-control" required>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="porta" class="control-label">Porta<span class="required" aria-required="true"> * </span></label>
                        <input type="number" placeholder="Porta" oninput="maxLengthCheck(this)"
                               maxlength="4" name="porta" id="porta" class="form-control" required>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="banco" class="control-label">Banco<span class="required" aria-required="true"> * </span></label>
                        <input type="text" placeholder="Nome do banco" name="banco" id="banco" class="form-control" required>
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="plano" class="control-label">Validade<span class="required" aria-required="true"> * </span></label>
                        <input type="number" maxlength="4" placeholder="Plano" oninput="maxLengthCheck(this)"
                               min="0" name="plano" id="plano" class="form-control" required>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="dominio" class="control-label">Dominio</label>
                        <input type="text" maxlength="80" placeholder="www.empresa.com.br" name="dominio" id="dominio" class="form-control">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="subdominio" class="control-label">Subdominio</label>
                        <input type="text" maxlength="80" placeholder="empresa.csb2b.com.br" name="subdominio" id="subdominio" class="form-control">
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-default TestarConexao"><i class="fa fa-share-alt"></i> Testar conexão</button>
                <button type="button" class="btn btn-default GerarTabelas"><i class="material-icons md-18">add</i> Gerar tabelas</button>
<!--                    <button type="button" class="btn btn-default InserirDadosGeo"><i class="fa fa-map-marker"></i> Inserir ceps</button>-->
            </div>
            <h3 class="form-subtitulo">Dados do tintométrico</h3>
            <div class="row">

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="iptintometrico" class="control-label">IP</label>
                        <input type="text" placeholder="IP" name="iptintometrico" class="form-control">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="portatintometrico" class="control-label">Porta</label>
                        <input type="text" placeholder="Porta" maxlength="4" name="portatintometrico" id="portatintometrico" class="form-control">
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="bancotintometrico" class="control-label">Banco</label>
                        <input type="text" placeholder="Nome do banco" name="bancotintometrico" id="bancotintometrico" class="form-control">
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
            <h3 class="form-subtitulo">Planos</h3>
            <div class="row">
                <div class="col-sm-3">
                    <label for="csgestor" class="control-label">CsGestor</label>
                    <div class="form-group">
                        <select class="csgestor form-control input-small input-inline">
                            <option value="d">Desativado</option>
                            <option value="a">Ativado</option>
                        </select>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label for="csb2b" class="control-label">CsB2B</label>
                    <div class="form-group">
                        <select class="csb2b form-control input-small input-inline">
                            <option value="d">Desativado</option>
                            <option value="a">Ativado</option>
                        </select>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label for="qtdClientes" class="control-label">Qtd. clientes</label>
                    <div class="form-group">
                        <input type="number" name="qtdClientes" id="qtdClientes" class="form-control" style="width: 25%;">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label for="qtdClientes" class="control-label">Qtd. mb</label>
                    <div class="form-group">
                        <input type="number" name="qtdMb" id="qtdMb" class="form-control" style="width: 25%;">
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
            <h3 class="form-subtitulo">Formas de pagamento</h3>
            <div class="row">
                <div class="col-sm-3">
                    <label for="" class="control-label"> Cielo</label>
                    <div class="form-group">
                        <select class="csb2b form-control input-small input-inline" name="cielo">
                            <option value="0">Desativado</option>
                            <option value="1">Ativado</option>
                        </select>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label for="" class="control-label"> Pagseguro</label>
                    <div class="form-group">
                        <select class="csb2b form-control input-small input-inline" name="pagseguro">
                            <option value="0">Desativado</option>
                            <option value="1">Ativado</option>
                        </select>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label for="" class="control-label"> Moip</label>
                    <div class="form-group">
                        <select class="csb2b form-control input-small input-inline" name="moip">
                            <option value="0">Desativado</option>
                            <option value="1">Ativado</option>
                        </select>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>

            <div class="row" style="border-top:1px solid #eee;">
                <div class="col-sm-12 form-footer" style="margin-top:10px;">
                    <div class="pull-right">
                        <button type="button" class="btn btn-danger" onclick="initEmpresas.transicaoLayout(false);">
                            <i class="material-icons md-24 ">arrow_back</i> Voltar
                        </button>
                        <button type="button" class="btn btn-success" onclick="initEmpresas.confirmarAlteracaoDeRegistro();">
                            <i class="material-icons md-24 ">check</i> Salvar
                        </button>
                    </div>
                </div>
            </div>

    </form>
</div>
