<div class="x_content Grid">

    <table id="datatable" class="table table-striped">
        <thead>
        <tr>
            <th value="serie">Código serie</th>
            <th value="fantasia">Fantasia</th>
            <th value="ip">IP</th>
            <th value="banco">Banco de dados</th>
            <th value="porta">Porta</th>
            <th value="dominio">Dominio</th>
            <th value="false">Detalhes</th>
            <th value="false">Excluir</th>
        </tr>
        </thead>
        <tbody class="Grid">

        </tbody>
    </table>
</div>
