<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Ticket</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                                <div class="profile_img">
                                    <div id="crop-avatar">
                                        <!-- Current avatar -->
                                        <!--< $this->basePath("imagens/person-flat.png"); ?>-->
                                        <img class="img-responsive avatar-view" src="" alt="Avatar"
                                             title="Change the avatar">
                                    </div>
                                </div>
                                <br>
                                <ul class="list-unstyled user_data">
                                    <li>
                                        <i class="fa fa-user user-profile-icon"></i> Responsável :
                                    <spam class='Responsavel'></spam>
                                </li>
                                    <li>
                                        <i class="fa fa-user user-profile-icon"></i> Autorizado :
                                    <spam class='Autorizado'></spam>
</li>

                                    <li>
                                    <spam class='Empresa'></spam>
                                </li>
                                </ul>
                                <br>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-12">

                                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#tab_content3" role="tab"
                                                                                  id="profile-tab2" data-toggle="tab"
                                                                                  aria-expanded="true">Descrição</a>
                                        </li>
                                        <li role="presentation" class=""><a href="#tab_content2" role="tab"
                                                                            id="profile-tab" data-toggle="tab"
                                                                            aria-expanded="false">Atividades</a>
                                        </li>
                                    </ul>
                                    <div id="myTabContent" class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade" id="tab_content2"
                                             aria-labelledby="profile-tab">

                                            <!-- start user projects -->
                                            <table class="data table table-striped no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>Data</th>
                                                        <th>Hora</th>
                                                        <th>Histórico</th>
                                                        <th>Observações</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="GridHistorico"></tbody>
                                            </table>
                                            <!-- end user projects -->
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content3"
                                             aria-labelledby="profile-tab">
                                            <p class="Observacao"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg-g" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="tituloModal">Clientes</h4>
            </div>
            <div class="modal-body GridClientesPanel">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <div>
                                <div id="datatableClientes_FiltroGridBuscaLeng"
                                     mover="false"
                                     class="pull-left">
                                </div>
                                <div class="col-lg-2 col-sm-2 col-xs-12 form-group has-feedback pull-right">
                                    <a id="datatableClientes_BtnBusca"
                                       data-toggle="dropdown"
                                       data-close-others="false"
                                       aria-expanded="false">
                                        <div class="initSelectOptionsFuncionarios">
                                            <center>
                                                <i class="fa fa-search"></i>
                                                <label name="textPesquisa">Pesquisa</label>
                                                <i class="fa fa-angle-down"></i>
                                            </center>
                                        </div>
                                    </a>

                                    <div class="dropdown-menu hold-on-click dropdown-menu-right"
                                         style="min-width: 250px;">
                                        <ul class="filtroClientes"
                                            style="max-height:360px;overflow-y: auto;padding:10px;">
                                            <li style="list-style-type:none;margin: 2px;">
                                                <h4>
                                                    Pesquisa por:
                                                </h4>
                                            </li>
                                            <hr style="margin: 5px;">
                                            <li class="row" style="list-style-type:none;margin: 10px;">
                                                <div id="datatableClientes_FiltroGridBuscaColuna">
                                                    <select name="colunaBusca" class="form-control">

                                                    </select>
                                                </div>
                                            </li>

                                            <hr style="margin: 5px;">
                                            <li class="row" style="list-style-type:none;margin: 10px;">
                                                <label>Como: </label>

                                                <div id="datatableClientes_FiltroGridBuscaTipo">
                                                    <select name="formaBusca" class="form-control">

                                                    </select>
                                                </div>
                                            </li>

                                            <hr style="margin: 5px;">

                                            <li class="row" style="list-style-type:none;margin: 10px;">
                                                <label>O que:</label>

                                                <div id="datatableClientes_FiltroGridBusca">

                                                </div>
                                            </li>

                                        </ul>
                                        <hr style="margin: 5px;">
                                        <center>
                                            <button type="reset" id="datatableClientes_warning"
                                                    class="btn btn-success" style="margin-bottom: 5px;">
                                                <i class="material-icons md-18">autorenew</i>
                                                Limpar
                                            </button>
                                        </center>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="table-responsive">-->
                            <table id="datatableClientes" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th value="codigo">Código</th>
                                        <th value="fantasia">Fantasia</th>
                                        <!--<th value="nome">Nome</th>-->
                                        <th value="bacoDeDados">Banco</th>
                                        <th value="liberado">Liberado</th>
                                        <th value="versao">Versão</th>
                                        <th value="modo">Modo</th>
                                        <th value="false">Opções</th>
                                    </tr>
                                </thead>
                                <tbody class="GridClientes">

                                </tbody>
                            </table>
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg-msg" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Ticket alerta</h4>
            </div>
            <div class="modal-body ">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <h2>Deseja mesmo salvar as alterações?</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="initTicket.salvarTicket(ValorSetSave, TipoExecucao);"
                        class="btn btn-success" data-dismiss="modal">Sim
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg-help" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Ticket atalhos</h4>
            </div>
            <div class="modal-body ">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <table class="table table-striped dataTable no-footer dtr-inline">
                                <thead>
                                    <tr>
                                        <th>Comando</th>
                                        <th>Descrição</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><b><i class="fa fa-search"></i> P</b></td>
                                        <td>Acionar pesquisa.</td>
                                    </tr>
                                    <tr>
                                        <td><b><i class="fa fa-close"></i> Esc</b></td>
                                        <td>Cancelar operações em andamento.</td>
                                    </tr>
                                    <tr>
                                        <td><b><i class="fa fa-search-plus"></i> Barra de espaço (SpaceBar)</b></td>
                                        <td>Consultar do resgistro selecionado na tabela.</td>
                                    </tr>
                                    <tr>
                                        <td><b><i class="material-icons md-18">add</i> (Plus)</b></td>
                                        <td>Iniciar inclusão de novo registro.</td>
                                    </tr>
                                    <tr>
                                        <td><b><i class="fa fa-arrow-up"></i> Há cima</b></td>
                                        <td>Seleciona uma linha há cima, quando tabela estiver selecionada.</td>
                                    </tr>
                                    <tr>
                                        <td><b><i class="fa fa-arrow-down"></i> Há baixo</b></td>
                                        <td>Seleciona uma linha há baixo, quando tabela estiver selecionada.</td>
                                    </tr>
                                    <tr>
                                        <td><b><i class="material-icons md-24 ">arrow_back</i> Esquerda</b></td>
                                        <td>Retrocede uma pagina na tabela selecionada.</td>
                                    </tr>
                                    <tr>
                                        <td><b><i class="fa fa-arrow-right"></i> Direita</b></td>
                                        <td>Avança uma pagina na tabela selecionada.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg-msg-excluir" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Ticket alerta</h4>
            </div>
            <div class="modal-body ">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <h2>Deseja mesmo excluir este item?</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="initTicket.excluirTicket(ValorSetSave, TipoExecucao);"
                        class="btn btn-success" data-dismiss="modal">Sim
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>