<div class="Formulario" style="display: none;">
    <form method="POST" id="tempoExperiencia" class="horizontal-form empresas">
        <span class="form-subtitulo">
            <h3>Dados para experiencia</h3>
        </span>
        <hr class="divider">
        <div class="form-body">
            <input type="number" placeholder="Id"name="id" id="id" class="form-control" style="display: none;">

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="idCliente" class="control-label">Cliente cadastrado<span class="required" aria-required="true"> * </span></label>
                        <div class="input-group">
                            <input type="text" placeholder="999 - CLIENTE EXEMPLO"  name="idCliente" id="idCliente" class="form-control" readonly="readonly" required>
                            <span id="buscarCliente" onclick="$('#modalClienteMax').modal();" class="input-group-addon" style="border-color: #2a3f54;background-color: #34485c;">
                                <i class="fa fa-search" style="color:#FFF;"></i>
                            </span>
                        </div>

                        <span class="help-block">Selecione um cliente já cadastrado!</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="idContrato" class="control-label">Sistema contratado<span class="required" aria-required="true"> * </span></label>
                        <div class="input-group">
                            <input type="text" placeholder="999 - SISTEMA CONTRATADO"  name="idContrato" id="idContrato" class="form-control" readonly="readonly" required>
                            <span id="buscarCliente" onclick="$('#modalSistema').modal();" class="input-group-addon" style="border-color: #2a3f54;background-color: #34485c;">
                                <i class="fa fa-search" style="color:#FFF;"></i>
                            </span>
                        </div>

                        <span class="help-block">Selecione um sistema já contratado!</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">Emissão *</label>
                        <input required name="data" id="data"
                               class="date-picker form-control col-md-7 col-xs-12" required="required"
                               readonly="readonly" type="text">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">Dias de validade *</label>
                        <input required name="diasValidade" id="diasValidade"
                               oninput="maxLengthCheck(this)"  maxlength="3"
                               class="date-picker form-control col-md-7 col-xs-12"
                               value="0"
                               required="required" type="number" min="0" max="999">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">Dia do vencimento</label>
                        <br>
                        <a class="btn btn-info btn-xs" style="font-size:20px;">
                            <span name="dataValidade" id="dataValidade">Não definido</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row" style="border-top:1px solid #eee;">
                <div class="col-sm-12 form-footer" style="margin-top:10px;">
                    <div class="pull-right">
                        <button type="button" class="btn btn-danger BtnVoltar" onclick="formularioTempoExperiencia.transicaoLayout(false);">
                            <i class="material-icons md-24 ">arrow_back</i> Voltar
                        </button>
                        <button type="button" class="btn btn-success" onclick="formularioTempoExperiencia.confirmarAlteracaoDeRegistro();">
                            <i class="material-icons md-24 ">check</i> Salvar
                        </button>
                    </div>
                </div>
            </div>

    </form>
</div>
