<div class="x_content Grid">

    <table id="datatable" class="table table-striped">
        <thead>
            <tr>
                <th value="id">Id</th>
                <th value="empresa">Empresa</th>
                <th value="plano">Plano</th>
                <th value="sistema">Sistema / Modulo</th>
                <th value="data">Data de cadastro</th>
                <th value="dataValidade">Data de validade</th>
                <th value="dias">Dias para avaliação</th>
                <th value="diasParaVencer">Vencimento em</th>
                <th value="false">Detalhes</th>
                <th value="false">Excluir</th>
            </tr>
        </thead>
        <tbody class="Grid">

        </tbody>
    </table>
</div>
