<div class="x_content GridSerie">

    <table id="datatableSerie" class="table table-striped">
        <thead>
        <tr>
            <th value="codigo">Código</th>
            <th value="aparelho">Identificação do aparelho</th>
            <th value="representante">Representante</th>
            <th value="numForca">Num. série Força de Vendas</th>
            <th value="false">Limpar</th>
            <th value="false">Excluir</th>
        </tr>
        </thead>
        <tbody class="GridSerie">

        </tbody>
    </table>
</div>
