<div class="x_content Grid">

    <table id="datatable" class="table table-striped">
        <thead>
            <tr>
                <th value="false">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ativo</th>
                <th value="id">Id</th>
                <th value="nome">Descrição</th>
                <th style="text-align: center;" value="false">Detalhes</th>
                <th style="text-align: center;" value="false">Exclusão</th>
            </tr>
        </thead>
        <tbody class="Grid">

        </tbody>
    </table>
</div>
