.material-icons { display: inline-block; vertical-align: middle; }
.material-icons + .titulo { top: 1px !important; position: relative !important; }
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px !important;}
.material-icons.md-24 { font-size: 24px !important; }
.material-icons.md-36 { font-size: 36px !important; }
.material-icons.md-48 { font-size: 48px !important; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

@mixin customizacao-tema( $cor-tema ) {

    $cor-tema: lighten($cor-tema, 10%);
    $darken-1: darken($cor-tema, 2%);
    $darken-2: darken($cor-tema, 3%);
    $lighten-1: lighten($cor-tema, 3%);
    $lighten-2: lighten($cor-tema, 5%);
    $lighten-3: lighten($cor-tema, 10%);


    /**
     * Elementos da header
     */
    .menu-toggler {
        font: 20px FontAwesome;
        color: $cor-tema;

        &:before {
            content: "\f0c9";
        }

        &:hover {
            color: $lighten-2;
        }

        &:active {
            color: $lighten-3;
        }
    }

    .page-header.navbar {
        .top-menu .navbar-nav {
            >li {
                color: $cor-tema;

                .quick-sidebar-toggler>i,
                a.quick-sidebar-toggler>i {
                    color: $cor-tema;
                }

                &.separator {
                    background-color: $lighten-1;
                }

                &.dropdown-user>.dropdown-toggle {
                    >.username, > i {
                        color: $cor-tema;
                    }
                }
            }

            > li.dropdown-dark {
                .dropdown-menu {
                    background-color: $cor-tema;

                    &:after {
                        border-bottom-color: $cor-tema;
                    }

                    &.dropdown-menu-default,
                    .dropdown-menu-list {
                        > li {
                            a {
                                &:hover {
                                    background-color: $lighten-1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /**
     * Cor do menu lateral
     */
    .page-sidebar,
    .page-sidebar li {
        background-color: $cor-tema;

        .sub-menu {
            background: $darken-1;
        }
    }

    .badge-csb2b,
    .btn-csb2b {
        background-color: $cor-tema;
    }


    /**
     * Cor do load
     */
    i.ajax-loader{
        border-color: $cor-tema;
    }

    /**
     * Blocos do dashboars
     */
    .primeiros-blocos:nth-child(even) {
        .dashboard-stat2{
            h3{
                color: $lighten-1;
            }

            .progress-bar{
                background-color: $lighten-1;
            }

        }
    }

    .primeiros-blocos:nth-child(odd) {
        .dashboard-stat2{
            h3{
                color: $darken-2;
            }

            .progress-bar{
                background-color: $darken-2;
            }
        }
    }
}

$csadmin:              #3B3F51;

.csadmin {
    @include customizacao-tema($csadmin);
}
