/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/07/2015, 17:02:20
    Author     : vinicius
*/

.Development {
    display: none;
}

.home-img{
    display:block;
    width: 65%;
    margin: auto;
}

@media (min-width: $screen-md-min){
    .page-sidebar-wrapper {
        overflow-y: auto;
        .page-sidebar{
            height: calc(100% - 105px) !important;
            position: fixed !important;
            margin-left: 0;
            top: 90px;
            z-index: 9999;
        }
    }
}


@media (min-width: $screen-sm-max){
    .static-home-block{
        margin-right: -15px;
    }
}

.home-table-grid{
    table {
        width: 100%;
        border-spacing: 0;
        height: 250px;
        thead{
            th{
                float: left;
            }
            tr{
                width: 100%;
            }
        }
        tbody{
            overflow-x: hidden;
            overflow-y: auto;
            height: 250px;
            display:block;

            tr{
                display:block;
                &:hover{
                    background-color: #f5f5f5;
                }
                td{
                    width: 25%;
                    float: left;
                    padding: 3px 8px;
                    border-bottom: 1px solid #F2F5F8;
                    vertical-align: middle;
                    color:#8896a0;
                    white-space: nowrap;                   
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                @include clearfix;
            }

        }
    }
}

/*===================mostra a borda da esquerda no sidebar===================*/
/*@media (min-width: $screen-md-min){
    
    .slimScrollDiv,.page-sidebar-menu{
        overflow: visible !important;
    }
}
*/


.table-responsive{
    .table{
        tbody,thead{
            tr{
                td,th{
                    white-space: nowrap
                }
                th{
                    padding-right:20px;
                }
            }
        }
    }
}

ul.dropdown-menu.hold-on-click.pull-right{
    padding:10px;
    min-width:350px;
    li{
        a{
            background-color: #fff;
            cursor: pointer;
        }
        h3{
            padding: 15px;
            margin: 0 -10px 10px;
            background-color: #f2f6f9;
        }
    }
}

//Dropdown invertido no desktop
@media (min-width: 845px){
    .portlet.light .dropdown-menu-right{
        left: auto !important;
    }
}
.nav.nav-tabs .dropdown-menu-right{
    left: auto !important;
}

//Botoes da grid
.portlet-title{
    .actions{
        a{
            color: #414141;
        }
        span span a{
        }

        > a {
            float: right;
            padding-right: 5px;
        }

        > span {
            padding-right: 5px;
            > a {
                float: right;
            }
            > span {
                padding-right: 5px;
            }
        }

        .dropdown-toggle{
            box-shadow: none;
            display: block;
        }
    }
    @media (max-width: 844px){
        .caption{
            width: 100% !important;
        }
        .actions{
            float:left !important;
            a,span{
                line-height: 2em;
                width: 100%;
            }
        }
        .actions .pull-right{
            float:left !important;
        }
        .pull-right>.dropdown-menu{
            right: auto;
            left: 0;
        }
        .dropdown > .dropdown-menu.pull-right:after, .dropdown-toggle > .dropdown-menu.pull-right:after, .btn-group > .dropdown-menu.pull-right:after{
            left: 10px;
            right: auto;
        }
        .dropdown > .dropdown-menu:before, .dropdown-toggle > .dropdown-menu:before, .btn-group > .dropdown-menu:before {
            left: 9px !important;
            right: auto !important;
        }
    }   
}


.table {
    margin-bottom: 0 !important;
}
.table-responsive {
    margin-bottom: 20px !important;
}

.collapse-custom{
    position: relative;
    margin-bottom: 0px;
    padding-top:0px !important;
    .portlet-title{
        position: absolute;
        border-color: #fff !important;
        right: 99999px;
        transition: 500ms;
        .tools{
            .collapse,.expand{
                top:0;
                right: -99980px;
                position: absolute;
                transition: 500ms;
            }
        }
    }
}
.rep-list-with-confirm{
    height: auto; 
    max-height: 300px;
    overflow-x: hidden;
    list-style: none;
    padding: 0px;
    border-bottom: 1px solid #eee;
}



.hierarchical-timing article:not(.Destaques){display: none;}
.hierarchical-timing article:not(.Destaques) span,
.hierarchical-timing article:not(.Destaques) .tiles a{
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);

}
.hierarchical-timing article:not(.Destaques) span.animated,
.hierarchical-timing article:not(.Destaques) .tiles a.animated{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
/*
.destaques-home .background-block-home{
    
}
.destaques-home .background-block-home > div{
    background-color: rgba(0,0,0,0.6);
    display: block;
    position: relative;
    padding: 16px;
    font-size: 1.17em;
}
.destaques-home .background-block-home div,
.destaques-home .background-block-home div > *{
    color: #fff;
}
.destaques-home .background-block-home div h3,
.destaques-home .background-block-home div i,
.destaques-home .background-block-home div small{
    margin-bottom: 20px;
}
.destaques-home .background-block-home h3 small{font-weight: 400}
*/

.destaques-home{
    .background-block-home{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 10px 0;
        & > div{
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.06);
            border-radius: 3px;
            background-color: rgba(0,0,0,0.7);
            padding: 16px;
            h3{
                font-weight:700;                
                small{
                    font-size: 60%;
                    color: #fff;
                }
                i{
                    font-size: 100%;
                }
                & > * {
                    line-height: 30px;
                    margin: 0;
                }
            }
        }
    }
}



/*
* /config-color-header
*/
.selectedcolor {
    border:1px solid #e3e3e3;
    height:100px;
    margin:auto;
    &#selectedcolor {
        border:3px solid #999;
    }
    /*    &:not(#html5colorpicker):after{
            font: normal normal normal 14px/1 FontAwesome;
            content: "\f00c";
            font-size: 60px;
            height: 60px;
            -webkit-font-smoothing: antialiased;
            background-color: rgba(255, 255, 255, 0.6);
            border-radius: 50px;
            position: absolute;
            width: 60px;
            top: -20px;
            right: 0;
            left: 0px;
            bottom: 0;
            margin: auto;
        }*/
}
#wronginputDIV {
    text-align:left;
    position:absolute;
    margin:4px 10px;
    color:#a94442;
    display:none;
}



#loading_mask_loader { font-weight:bold; left:50%; margin-left:-22px; margin-top: -22px; padding:6px 0; position:fixed; text-align:center; top:50%; width:44px; height: 44px; z-index:1000; font-size: 16px; font-weight: normal; color: #fff; background-color: transparent; }
#loading-mask{display:none;font-size:1.1em;font-weight:bold;position:fixed;text-align:center;z-index:20002;width:100%;height:100%;left:0;top:0}
.background-overlay{background-color:#fff;opacity:.5;filter:Alpha(Opacity=50);left:0;top:0;  width: 100%;  height: 100%;  position: absolute;  top: 0px;overflow: hidden} 
.filter-products .products .owl-item.loading div.item .product-image{background-image:url(../ajax_loader.gif);background-repeat:no-repeat;background-position:center center}
i.ajax-loader{display:inline-block;vertical-align:middle;border:1px solid #08c;border-radius:20px;border-bottom-color:transparent!important}
i.ajax-loader.small{width:16px;height:16px;border-width:2px 3px 1px 0;position: absolute;left: 0;right: 0;margin: auto;bottom: 0;top: 0;}
i.ajax-loader.large{width:32px;height:32px;border-width:3px 5px 2px 0;position: absolute;left: 0;right: 0;margin: auto;bottom: 0;top: 0;}
#fullajax_loader i.ajax-loader{position:absolute;left:50%;top:50%;margin-left:-16px;margin-top:-16px}
#paramloading{position: absolute; top: 0;left: 0;right:0;bottom:0;}
.animate-spin {
    -moz-animation: spin 0.8s infinite linear;
    -o-animation: spin 0.8s infinite linear;
    -webkit-animation: spin 0.8s infinite linear;
    animation: spin 0.8s infinite linear;
    display: inline-block;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-o-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-ms-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

table > tbody > tr > td[data-title=Valor],
table > tbody > tr > th[data-title=Valor],
table > tbody > tr > td[data-title=Valor\ do\ Titulo],
table > tbody > tr > td[data-title=Preço],
table > tbody > tr > td[data-title=Desc\.]
{
    text-align: right;
}