.porto-preview{
    overflow: hidden;
    cursor: pointer !important;
    * {
        outline: none;
        line-height: 1;
    }
    .block.block-blog-tags ul li {
        float: left;
        margin: 0 7px 15px 0; }
    .block.block-blog-tags ul li a {
        display: block;
        padding: 10px 14px;
        background-color: #e1e1e1;
        color: #7e7d79;
        font-family: Georgia;
        font-size: 13px;
        font-weight: bold;
        line-height: 11px; }
    .block.block-blog-tags ul li a:hover {
        background-color: #c5988b;
        color: #fff; }

    .block.block-blog-categories a {
        color: #5b5a55;
        font-size: 15px;
        text-decoration: none;
        text-transform: none;
        margin-left: 15px; }

    .widget-latest li {
        font-size: 12px;
        padding: 5px 10px; }

    .block-blog .menu-categories {
        margin: 0;
        padding: 5px 9px; }

    A.smartwaveblog_current_comment {
        text-decoration: none;
        font-weight: bold; }



    .header .form-search #cat { width: 118px; float:left; margin-right: 2px;}
    .header .form-search #search { width: 97px; float: left; margin-right: 2px; }
    .header .form-search label { width: 22px; float: left; }
    div .form-search {  border-radius: 0 0 0 0 !important;}
    #search_mini_form .header .form-search button.button { float: right; margin-right: 8px; }

    /*.maintitle {
        width: 634px;
    }*/
    /*New Style*/
    /* ---added from version 1.0.2 ---*/
    /*1.0.2 start*/
    .col-sw-1,
    .col-sw-2,
    .col-sw-3,
    .col-sw-4,
    .col-sw-5,
    .col-sw-6,
    .col-sw-7,
    .col-sw-8,
    .col-sw-9,
    .col-sw-10,
    .col-sw-11,
    .col-sw-12 {
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px; }
    .col-sw-2:nth-child(2n+1),.col-sw-3:nth-child(3n+1),.col-sw-4:nth-child(4n+1),.col-sw-5:nth-child(5n+1),.col-sw-6:nth-child(6n+1),.col-sw-7:nth-child(7n+1),.col-sw-8:nth-child(8n+1),.col-sw-9:nth-child(9n+1),.col-sw-10:nth-child(10n+1),.col-sw-11:nth-child(11n+1),.col-sw-12:nth-child(12n+1){clear:both}
    .col-sw-1 {
        width: 100%; }

    .col-sw-2 {
        width: 50%; }

    .col-sw-3 {
        width: 33.3333%; }

    .col-sw-4 {
        width: 25%; }

    .col-sw-5 {
        width: 20%; }

    .col-sw-6 {
        width: 16.6666%; }

    .col-sw-7 {
        width: 14.2857%; }

    .col-sw-8 {
        width: 12.5%; }

    .col-sw-9 {
        width: 11.1111%; }

    .col-sw-10 {
        width: 10%; }

    .col-sw-11 {
        width: 9.0909%; }

    .col-sw-12 {
        width: 8.3333%; }

    /*1.0.2 end*/
    .main-nav { border-top: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb; padding: 2px 0; position: relative; }
    .main-nav .double-border { border-top: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb; }

    .fixed-header a,
    .main-nav a { color: #000; text-align: left; }
    .fixed-header a:hover,
        .main-nav a:hover { color: #f00; }
    .fixed-header .menu,
    .main-nav .menu { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; list-style: none; margin-bottom: 0; padding-left: 0; }
    .fixed-header .menu > li,
    .main-nav .menu > li { display: inline-block; padding: 0 22px; }
    .fixed-header .menu > li > a,
    .main-nav .menu > li > a { display: block; position: relative; padding: 13px 5px; text-transform: uppercase; font-weight: 400; }
    .fixed-header .menu > li > a:after,
        .main-nav .menu > li > a:after { content: ""; position: absolute; width: 100%; height: 50px; bottom: -20px; left: 0; }
    .fixed-header .menu > li > a > span.cat-label,
    .main-nav .menu > li > a > span.cat-label { position: absolute; top: 8px; right: -25px; font: 11px arial, sans-serif; text-transform: uppercase; padding: 0 2px; }
    .fixed-header .menu > li > a > span.cat-label.cat-label-label1,
    .main-nav .menu > li > a > span.cat-label.cat-label-label1 { background: #f00; color: #fff; }
    .fixed-header .menu > li > a > span.cat-label.cat-label-label2,
    .main-nav .menu > li > a > span.cat-label.cat-label-label2 { background: #00f; color: #fff; }
    .fixed-header .menu > li .nav-sublist-dropdown,
    .main-nav .menu > li .nav-sublist-dropdown { display: none; position: absolute; z-index: 10000; width: 200px; top: 100%; border-bottom: 1px solid #ebebeb; padding: 0; background-color: #fff; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; max-width: 100%; list-style: none; }
    .fixed-header .menu > li .nav-sublist-dropdown.active,
    .main-nav .menu > li .nav-sublist-dropdown.active { display: list-item; }
    .fixed-header .menu > li .nav-sublist-dropdown:before,
        .main-nav .menu > li .nav-sublist-dropdown:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: -15px;
        z-index: -1; }
    .fixed-header .menu > li .nav-sublist-dropdown ul,
    .main-nav .menu > li .nav-sublist-dropdown ul {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none; }
    .fixed-header .menu > li .nav-sublist-dropdown ul li a > span,
    .main-nav .menu > li .nav-sublist-dropdown ul li a > span {
        position: relative; }
    .fixed-header .menu > li .nav-sublist-dropdown ul li a > span > span.cat-label,
    .main-nav .menu > li .nav-sublist-dropdown ul li a > span > span.cat-label {
        position: absolute;
        font: 10px arial, sans-serif;
        text-transform: uppercase;
        padding: 0 2px;
        top: 2px;
        right: -35px; }
    .fixed-header .menu > li .nav-sublist-dropdown ul li a > span > span.cat-label.cat-label-label1,
    .main-nav .menu > li .nav-sublist-dropdown ul li a > span > span.cat-label.cat-label-label1 {
        background: #f00;
        color: #fff; }
    .fixed-header .menu > li .nav-sublist-dropdown ul li a > span > span.cat-label.cat-label-label2,
    .main-nav .menu > li .nav-sublist-dropdown ul li a > span > span.cat-label.cat-label-label2 {
        background: #00f;
        color: #fff; }
    .fixed-header .menu > li .nav-sublist-dropdown ul li .image-item a,
    .main-nav .menu > li .nav-sublist-dropdown ul li .image-item a {
        font-size: 0 !important; }
    .fixed-header .menu > li .nav-sublist-dropdown ul li .image-item:before,
        .main-nav .menu > li .nav-sublist-dropdown ul li .image-item:before {
        display: none; }
    .fixed-header .menu > li .nav-sublist-dropdown .container,
    .main-nav .menu > li .nav-sublist-dropdown .container {
        max-width: 100%;
        padding: 0; }
    .fixed-header .menu > li .nav-sublist-dropdown .container > ul > li a,
    .main-nav .menu > li .nav-sublist-dropdown .container > ul > li a {
        padding: 15px 20px;
        display: block;
        border-left: 1px solid #dbdbdb;
        border-right: 1px solid #dbdbdb;
        border-top: 1px solid #dbdbdb;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
    .fixed-header .menu > li .nav-sublist-dropdown .container > ul .menu-item-has-children,
    .main-nav .menu > li .nav-sublist-dropdown .container > ul .menu-item-has-children {
        position: relative; }
    .fixed-header .menu > li .nav-sublist-dropdown .container > ul .menu-item-has-children > a:before,
        .main-nav .menu > li .nav-sublist-dropdown .container > ul .menu-item-has-children > a:before {
        font: normal normal 16px/20px "FontAwesome";
        content: '\f105';
        width: 15px;
        height: 15px;
        position: absolute;
        right: 10px;
        margin-left: 13px; }
    .fixed-header .menu > li .nav-sublist-dropdown .container > ul .menu-item-has-children .nav-sublist,
    .main-nav .menu > li .nav-sublist-dropdown .container > ul .menu-item-has-children .nav-sublist {
        position: absolute;
        left: 199px;
        top: 0;
        display: none; }
    .fixed-header .menu > li .nav-sublist-dropdown .container > ul .menu-item-has-children .nav-sublist li,
    .main-nav .menu > li .nav-sublist-dropdown .container > ul .menu-item-has-children .nav-sublist li {
        background-color: #fff;
        width: 200px; }
    .fixed-header .menu > li .nav-sublist-dropdown .container > ul .menu-item-has-children .nav-sublist li:last-child a,
        .main-nav .menu > li .nav-sublist-dropdown .container > ul .menu-item-has-children .nav-sublist li:last-child a {
        border-bottom: 1px solid #dbdbdb; }
    .fixed-header .menu > li .nav-sublist-dropdown .container > ul .menu-item-has-children:hover > .nav-sublist,
        .main-nav .menu > li .nav-sublist-dropdown .container > ul .menu-item-has-children:hover > .nav-sublist {
        display: block; }
    .fixed-header .menu > li.menu-full-width .nav-sublist-dropdown,
    .main-nav .menu > li.menu-full-width .nav-sublist-dropdown {
        padding: 25px 0 30px;
        width: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        border-bottom: 1px solid #dfdfdf;
        -webkit-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.3); }
    .fixed-header .menu > li.menu-static-width .nav-sublist-dropdown,
    .main-nav .menu > li.menu-static-width .nav-sublist-dropdown {
        padding: 25px 0 30px;
        /*width: 100%;*/
        margin: 0 auto;
        border-bottom: 1px solid #dfdfdf;
        -webkit-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.3); }
    .fixed-header .menu > li.menu-full-width .nav-sublist-dropdown .container ul > li > a,
    .main-nav .menu > li.menu-full-width .nav-sublist-dropdown .container ul > li > a,
    .fixed-header .menu > li.menu-static-width .nav-sublist-dropdown .container ul > li > a,
    .main-nav .menu > li.menu-static-width .nav-sublist-dropdown .container ul > li > a {
        display: block;
        padding: 5px;
        border: none; }
    .fixed-header .menu > li.menu-full-width .nav-sublist-dropdown .container ul > li > a.level1,
    .main-nav .menu > li.menu-full-width .nav-sublist-dropdown .container ul > li > a.level1,
    .fixed-header .menu > li.menu-static-width .nav-sublist-dropdown .container ul > li > a.level1,
    .main-nav .menu > li.menu-static-width .nav-sublist-dropdown .container ul > li > a.level1 {
        /*the font size for level1*/
        text-transform: uppercase;
        line-height: 1.5; }
    .fixed-header .menu > li.menu-full-width .nav-sublist-dropdown .container ul > li .nav-sublist ul li,
    .main-nav .menu > li.menu-full-width .nav-sublist-dropdown .container ul > li .nav-sublist ul li,
    .fixed-header .menu > li.menu-static-width .nav-sublist-dropdown .container ul > li .nav-sublist ul li,
    .main-nav .menu > li.menu-static-width .nav-sublist-dropdown .container ul > li .nav-sublist ul li {
        background: none;
        width: auto;
        clear: both; }
    .fixed-header .menu > li.menu-full-width .nav-sublist-dropdown .container ul > li .nav-sublist ul li a:before,
        .main-nav .menu > li.menu-full-width .nav-sublist-dropdown .container ul > li .nav-sublist ul li a:before,
        .fixed-header .menu > li.menu-static-width .nav-sublist-dropdown .container ul > li .nav-sublist ul li a:before,
        .main-nav .menu > li.menu-static-width .nav-sublist-dropdown .container ul > li .nav-sublist ul li a:before {
        font: normal normal 16px/20px "FontAwesome";
        text-decoration: inherit;
        content: "\f105";
        -webkit-font-smoothing: antialiased;
        float: left;
        margin: 0 10px 0 10px;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
    .fixed-header .menu > li.menu-full-width .nav-sublist-dropdown .container ul > li .nav-sublist ul li a:hover:before,
        .main-nav .menu > li.menu-full-width .nav-sublist-dropdown .container ul > li .nav-sublist ul li a:hover:before,
        .fixed-header .menu > li.menu-static-width .nav-sublist-dropdown .container ul > li .nav-sublist ul li a:hover:before,
        .main-nav .menu > li.menu-static-width .nav-sublist-dropdown .container ul > li .nav-sublist ul li a:hover:before {
        text-decoration: none; }
    .fixed-header .menu > li.menu-full-width .nav-sublist-dropdown .container ul > li .nav-sublist ul li ul,
    .main-nav .menu > li.menu-full-width .nav-sublist-dropdown .container ul > li .nav-sublist ul li ul,
    .fixed-header .menu > li.menu-static-width .nav-sublist-dropdown .container ul > li .nav-sublist ul li ul,
    .main-nav .menu > li.menu-static-width .nav-sublist-dropdown .container ul > li .nav-sublist ul li ul {
        margin: 3px 0 3px 5px; }
    .fixed-header .menu > li.menu-full-width .nav-sublist-dropdown .container ul > li .nav-sublist ul li ul li:before,
        .main-nav .menu > li.menu-full-width .nav-sublist-dropdown .container ul > li .nav-sublist ul li ul li:before,
        .fixed-header .menu > li.menu-static-width .nav-sublist-dropdown .container ul > li .nav-sublist ul li ul li:before,
        .main-nav .menu > li.menu-static-width .nav-sublist-dropdown .container ul > li .nav-sublist ul li ul li:before {
        line-height: 17px; }
    .fixed-header .menu > li.menu-full-width .nav-sublist-dropdown .container ul > li .nav-sublist ul li ul li a,
    .main-nav .menu > li.menu-full-width .nav-sublist-dropdown .container ul > li .nav-sublist ul li ul li a,
    .fixed-header .menu > li.menu-static-width .nav-sublist-dropdown .container ul > li .nav-sublist ul li ul li a,
    .main-nav .menu > li.menu-static-width .nav-sublist-dropdown .container ul > li .nav-sublist ul li ul li a {
        padding: 3px;
        font-size: 12px;
        /*the font size for under level 2*/ }
    .fixed-header .menu > li.menu-full-width .nav-sublist-dropdown .container ul > li .nav-sublist a,
    .main-nav .menu > li.menu-full-width .nav-sublist-dropdown .container ul > li .nav-sublist a,
    .fixed-header .menu > li.menu-static-width .nav-sublist-dropdown .container ul > li .nav-sublist a,
    .main-nav .menu > li.menu-static-width .nav-sublist-dropdown .container ul > li .nav-sublist a {
        font-size: 13px;
        /*the font size for level 2*/ }
    .fixed-header .menu > li.menu-full-width .nav-sublist-dropdown .container ul .menu-item-has-children > a:before,
        .main-nav .menu > li.menu-full-width .nav-sublist-dropdown .container ul .menu-item-has-children > a:before,
        .fixed-header .menu > li.menu-static-width .nav-sublist-dropdown .container ul .menu-item-has-children > a:before,
        .main-nav .menu > li.menu-static-width .nav-sublist-dropdown .container ul .menu-item-has-children > a:before {
        background: none; }
    .fixed-header .menu > li.menu-full-width .nav-sublist-dropdown .container ul .menu-item-has-children .nav-sublist ul li:last-child a,
        .main-nav .menu > li.menu-full-width .nav-sublist-dropdown .container ul .menu-item-has-children .nav-sublist ul li:last-child a,
        .fixed-header .menu > li.menu-static-width .nav-sublist-dropdown .container ul .menu-item-has-children .nav-sublist ul li:last-child a,
        .main-nav .menu > li.menu-static-width .nav-sublist-dropdown .container ul .menu-item-has-children .nav-sublist ul li:last-child a {
        border-bottom: none; }
    .fixed-header .menu > li:nth-last-child(1) .nav-sublist-dropdown .container > ul .menu-item-has-children .nav-sublist, .fixed-header .menu > li:nth-last-child(2) .nav-sublist-dropdown .container > ul .menu-item-has-children .nav-sublist,
        .main-nav .menu > li:nth-last-child(1) .nav-sublist-dropdown .container > ul .menu-item-has-children .nav-sublist,
        .main-nav .menu > li:nth-last-child(2) .nav-sublist-dropdown .container > ul .menu-item-has-children .nav-sublist {
        left: auto;
        right: 199px; }

    .fixed-menu-type4 .fixed-header .menu > li .nav-sublist-dropdown:before,
        .header-type-4 .main-nav .menu > li .nav-sublist-dropdown:before,
        .fixed-menu-type3 .fixed-header .menu > li .nav-sublist-dropdown:before,
        .header-type-3 .main-nav .menu > li .nav-sublist-dropdown:before {
        top: -50px; }

    .fixed-header {
        background: #fff;
        border-bottom: 1px solid #dfdfdf;
        -webkit-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.3); }
    .fixed-header .menu li a {
        padding-bottom: 15px; }

    .fixed-header .menu li a {
        padding-bottom: 15px; }

    .fixed-header-area {
        position: fixed;
        top: -160px;
        left: 0;
        width: 100%;
        z-index: 901;
        -webkit-transition: 0.5s all ease-in-out;
        transition: 0.5s all ease-in-out; }
    .fixed-header-area.fixed-already {
        top: 0; }
    .fixed-header-area .menu {
        float: right; }
    .fixed-header-area .menu > li {
        padding: 0 11px !important; }

    button.button::-moz-focus-inner{padding:0;border:0}

    button.button{-webkit-border-fit:lines}

    button.button{overflow:visible;width:auto;border:0;padding:0;margin:0;background:transparent;cursor:pointer}

    /* Page Heading */
    .page-title{text-align:left}
    .page-title h1,
    .page-title h2{margin:0;font-size:20px;color:#484747}
    .page-title h1,
    .page-title h2{font-size:20px;margin:0 0 15px;color:#08c}
    .page-title.category-title{display:none}
    .col-main .page-title.category-title h1{margin-bottom:10px}
    .page-title .separator{margin:0 3px}
    .page-title .link-rss{float:right;margin:7px 0 0}
    .title-buttons{text-align:right}
    .title-buttons h1,
    .title-buttons h2,
    .title-buttons h3,
    .title-buttons h4,
    .title-buttons h5,
    .title-buttons h6{float:left}

    /* Misc */
    .links li{display:inline}
    .link-cart{}
    /*.link-cart{display:inline-block;border-radius:4px;font-size:12px;background:#fff;border:1px solid #ccc;color:#777;line-height:25px;padding:0 8px}
    .link-cart:hover{background:#08c;border:1px solid #08c;color:#fff}*/
    .link-wishlist{color:#ed4949;border-color:#f6a4a4}
    .link-wishlist:hover{color:#ed4949;border-color:#f6a4a4}
    .cart-table .link-wishlist,.cart-table .link-wishlist:hover{color:#08c}

    /* Header ================================================================================ */
    .header-container{background-color:#fff;border-top-width:4px;border-top-style:solid}
    .top-links-container{background-color:#f0f0ed;padding:5px 0;position:relative;z-index:200}
    .header{position:relative;text-align:left}
    .header>.logo{margin:20px 40px 20px 0;text-decoration:none !important;max-width:100%;display:inline-block;vertical-align:middle;max-width:170px;position:relative;z-index:2;transition:none}
    .header>.logo>.logo{margin:0 !important;padding:0 !important;width:100%}
    .header .logo strong{position:absolute;top:-999em;left:-999em;width:0;height:0;font-size:0;line-height:0;text-indent:-999em;overflow:hidden}
    .header .logo img{max-width:100%;cursor:pointer}
    .header-container .welcome-msg{margin:3px 20px 3px 0;text-align:left;float:right;font-size:11px;line-height:19px;}/*text-transform:uppercase*/
    .header-container .welcome-msg a{color:#7dbd22}
    .header #search_mini_form{display:inline-block;vertical-align:middle;margin-right:35px}
    .header .form-search{overflow:visible;border:1px solid #ccc;border-radius:20px;position:relative;width:100%;min-width:320px;background-color:#fff}
    .header .form-search label{float:left;width:24px;height:21px;text-align:left;text-indent:-999em;overflow:hidden;display:none}
    .header .form-search #search{border:0;height:38px;background-color:transparent;padding:10px 15px;color:#999;font-family:Arial;width:100%;margin:0;font-size:13px;line-height:20px;border-radius:20px 0 0 20px}
    .header .form-search #cat{margin:0;width:130px;height:38px;background-color:transparent;border:1px solid #ccc;border-top:0;border-bottom:0;font-family:Arial;font-size:13px;line-height:34px;color:#777;padding:2px 0;padding-left:10px;position:absolute;right:40px;border-radius:0;-moz-appearance:none;-webkit-appearance:none}
    .header .form-search #cat option{color:#000;background:#fff;}
    .header .form-search button.button{width:40px;height:38px;color:#777;background-color:transparent;font-size:14px;position:absolute;right:0;top:0;border-radius:0 0 0 0}
    .header .form-search .search-autocomplete{z-index:999}
    .header .form-search .search-autocomplete ul{border:1px solid #ddd;background-color:#fff}
    .header .form-search .search-autocomplete li{text-align:left;padding:5px 10px;cursor:pointer;color:#777}
    .header .form-search .search-autocomplete li .amount{float:right;font-weight:bold}
    .header .form-search .search-autocomplete li.odd{background-color:#fff}
    .header .form-search .search-autocomplete li.selected{background-color:#f7f7f7}
    .header-container .form-language,
    .header-container .form-currency{display:block;float:left;margin-right:8px}
    .header-container .form-language select,
    .header-container .form-currency select{display:none}
    .header-container .links{display:block;float:right;padding:0;margin:3px 0;color:#08c}
    .header-container .top-links-area{display:block;float:right;padding:0;position:relative}
    .header-container .top-links a{color:#999}
    .header-container .top-links a:hover{}
    .header-container .top-links .selectbox li a:hover{color:#fff}
    .header-container .links li{font-size:11px;padding:0 15px;line-height:19px;border-left:1px solid #ccc}/*text-transform:uppercase*/
    .header-container .links li.last{padding-right:0}
    .header-container .top-container{clear:both;padding:5px 10px 0 12px;text-align:right}
    .header-container .top-container a{font-size:11px;color:#ebbc58}
    .top-container .paypal-logo{text-align:left;display:inline-table}
    .header .custom-block{font-size:14px;font-weight:400;display:inline-block;vertical-align:middle}
    .fixed-header-area{z-index:1001;text-align:left;transition:0.5s top ease-in-out;-webkit-transition:0.5s top ease-in-out}

    .header-container .selectbox .select{border-color:transparent;color:#fff;text-align:center}
    .header-container .selectbox li a{color:#777 !important}
    .header-container .selectbox li a:hover{color:#fff !important}
    .header-container .selectbox .dropdown{border-radius:3px}
    .header-container .selectbox .dropdown ul{background-color:#fff !important}
    .header-container .top-links-container span.split{float:left;display:block;height:14px;width:1px;border-right:1px solid #ccc;margin:6px 3px 6px 0}
    .header-container .main-nav ul.menu >li.menu-full-width >a,.header-container .main-nav ul.menu >li.menu-item-has-children >a,.header-container .main-nav ul.menu >li.menu-static-width >a{padding-right:30px}
    .custom-block .icon-group:first-child{margin:0}
    .icon-group{display:inline-block;vertical-align:middle;text-align:left;margin-left:30px}
    .icon-group i{font-size:20px;color:#fff;float:left;border-radius:50%;width:40px;height:40px;text-align:center;line-height:40px;background-color:#000}
    .icon-group h3{color:#000;font-size:14px;margin:0;line-height:1.5;margin-left:48px}
    .icon-group p{font-size:11px;margin:0;margin-left:48px;line-height:1;color:#878787}
    .search-area{position:absolute;top:50%;margin-top:-20px;z-index:1;display:inline-block;height:40px;left:20px;vertical-align:middle}
    .cart-area{position:absolute;top:0;bottom:0;margin:auto;z-index:1;display:inline-block;vertical-align:middle;right:0;height:40px}
    .header-container .header .custom-block span.split{height:14px;width:1px;border-right:1px solid #ccc;margin:0 13px}
    .header-container .top-links-icon{display:none;vertical-align:middle;font-size:11px;padding:7px 20px 7px 10px;position:relative}
    .header-container .top-links-icon:before{content:"\e80b";display:block;position:absolute;right:7px;top:50%;font-family:"porto";margin-top:-5px}
    .header-container .top-links-icon a{color:#fff;text-transform:uppercase;text-decoration:none}
    .header-container .top-links-icon a:hover{text-decoration:none}
    .mobile-nav-shown .mobile-nav{box-shadow:none!important}

    /* Clears ================================================================================ */
    .clearer:after,
        .header-container:after,
        .header-container .top-container:after,
        .header:after,
        .header .quick-access:after,
        #nav:after,
        .main:after,
        .footer:after,
        .footer-container .bottom-container:after,
        .col-main:after,
        .col2-set:after,
        .col3-set:after,
        .col3-layout .product-options-bottom .price-box:after,
        .col4-set:after,
        .search-autocomplete li:after,
        .block .block-content:after,
        .block .actions:after,
        .block li.item:after,
        .block-poll li:after,
        .block-layered-nav .currently li:after,
        .page-title:after,
        .products-grid:after,
        .products-list li.item:after,
        .box-account .box-head:after,
        .box .box-title:after,
        .box-reviews li.item:after,
        .box-tags li.item:after,
        .pager:after,
        .sorter:after,
        .ratings:after,
        .add-to-box:after,
        .add-to-cart:after,
        .product-essential:after,
        .product-collateral:after,
        .product-view .product-img-box .more-views ul:after,
        .product-view .box-tags .form-add:after,
        .product-view .product-shop .short-description:after,
        .product-view .box-description:after,
        .product-options .options-list li:after,
        .product-options-bottom:after,
        .product-review:after,
        .cart:after,
        .cart-collaterals:after,
        .cart .crosssell li.item:after,
        .opc .step-title:after,
        .checkout-progress:after,
        .multiple-checkout .place-order:after,
        .group-select li:after,
        .form-list li:after,
        .form-list .field:after,
        .form-list .input-box:after,
        .buttons-set:after,
        .page-print .print-head:after,
        .advanced-search-summary:after,
        .gift-messages-form .item:after,
        .send-friend .form-list li p:after,
        .box-content:after,
        .block-content:after,
        .postDetails:after{display:block;content:".";clear:both;font-size:0;line-height:0;height:0;overflow:hidden}

    #postComment .form-list .input-box{border-radius:5px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}
    #postComment .form-list input.input-text{height:34px;padding:6px 12px;font-size:14px;line-height:1.5;color:#555}
    #postComment .form-list textarea{height:150px;padding:6px 12px;font-size:14px;line-height:1.5;color:#555}
    #postComment .form-list label{margin-bottom:5px}
    .postComments{margin-left:60px}
    .post-share{padding:10px 0 0;margin-bottom:-5px;border-top:1px solid #ddd}
    .post-share i{margin-right:5px}
    .post-share h3{color:#08c;font-size:13px;font-weight:300;margin:10px 10px 0 0;text-transform:none;float:left}
    .blog-post-view .postWrapper{margin-bottom:0}
    .postComments .postTitle h2{padding:20px 0;font-size:1.8em;font-weight:200;margin:0 0 20px;text-transform:none;color:#08c}
    .postComments .toolbar{border-bottom:1px solid #ddd;margin-bottom:40px;padding-bottom:10px}
    form#postComment{display:block;margin-top:25px;padding:45px 0 0;border-top:1px solid #ddd}
    #postComment h4.legend{padding:0 0 20px 0;font-size:1.8em;font-weight:200;margin:0 0 20px;text-transform:none;color:#08c}
    .commentWrapper i.icon-user{font-size:50px;border:4px double #ddd;background:#fff;border-radius:5px;float:left;line-height:70px;text-align:center}
    .commentWrapper .comment-area:before{border-bottom:15px solid transparent;border-right:15px solid #F4F4F4;border-top:15px solid transparent;height:0;left:-15px;position:absolute;top:28px;width:0;content:""}
    .commentWrapper .comment-area{margin-left:110px;background:#F4F4F4;border-radius:5px;padding:20px;position:relative}
    .commentWrapper .comment-area .commentContent{line-height:22px;margin-bottom:10px}
    .commentWrapper .comment-area .date{text-align:right;color:#999}

    .fixed-header ul.menu>li,.main-nav ul.menu>li{transition:color 0.1s,background-color 0.1s}
    .fixed-header ul.menu>li>a,.main-nav ul.menu>li>a{transition:color 0.1s,background-color 0.1s}
    .fixed-header ul.menu>li.menu-full-width,.fixed-header ul.menu>li.menu-static-width,.fixed-header ul.menu>li.menu-item-has-children,.main-nav ul.menu>li.menu-full-width,.main-nav ul.menu>li.menu-static-width,.main-nav ul.menu>li.menu-item-has-children{margin-bottom:-1px}
    .fixed-header ul.menu>li.menu-full-width>a,.fixed-header ul.menu>li.menu-static-width>a,.fixed-header ul.menu>li.menu-item-has-children>a{padding-bottom:15px}
    .fixed-header ul.menu >li.menu-full-width >a:after,.fixed-header ul.menu >li.menu-item-has-children >a:after,.fixed-header ul.menu >li.menu-static-width >a:after,.main-nav ul.menu >li.menu-full-width >a:after,.main-nav ul.menu >li.menu-item-has-children >a:after,.main-nav ul.menu >li.menu-static-width >a:after{margin-top:-6.5px}
    .header-container.type5 .main-nav ul.menu >li.menu-full-width >a:after,.header-container.type5 .main-nav ul.menu >li.menu-item-has-children >a:after,.header-container.type5 .main-nav ul.menu >li.menu-static-width >a:after{margin-top:-6.5px}
    .header-container.type1 .main-nav ul.menu>li.menu-full-width>a,.header-container.type1 .main-nav ul.menu>li.menu-static-width>a,.header-container.type1 .main-nav ul.menu>li.menu-item-has-children>a{padding-bottom:11px}
    .header-container.type2 .main-nav ul.menu>li.menu-full-width>a,.header-container.type2 .main-nav ul.menu>li.menu-static-width>a,.header-container.type2 .main-nav ul.menu>li.menu-item-has-children>a{padding-bottom:15px}
    .header-container.type4 .main-nav ul.menu>li.menu-full-width>a,.header-container.type4 .main-nav ul.menu>li.menu-static-width>a,.header-container.type4 .main-nav ul.menu>li.menu-item-has-children>a{padding-bottom:15px}
    .header-container.type5 .main-nav ul.menu>li.menu-full-width>a,.header-container.type5 .main-nav ul.menu>li.menu-static-width>a,.header-container.type5 .main-nav ul.menu>li.menu-item-has-children>a{padding-bottom:11px}
    .header-container.type6 .main-nav ul.menu>li.menu-full-width>a,.header-container.type6 .main-nav ul.menu>li.menu-static-width>a,.header-container.type6 .main-nav ul.menu>li.menu-item-has-children>a{padding-bottom:10px}
    .header-container.type7 .main-nav ul.menu>li.menu-full-width>a,.header-container.type7 .main-nav ul.menu>li.menu-static-width>a,.header-container.type7 .main-nav ul.menu>li.menu-item-has-children>a{padding-bottom:10px}
    .header-container.type8 .main-nav ul.menu>li.menu-full-width>a,.header-container.type8 .main-nav ul.menu>li.menu-static-width>a,.header-container.type8 .main-nav ul.menu>li.menu-item-has-children>a{padding-bottom:10px}
    .header-container.type1 .main-nav ul.menu>li.menu-static-width.act>a,.header-container.type1 .main-nav ul.menu>li.menu-full-width.act>a,.header-container.type1 .main-nav ul.menu>li.menu-item-has-children.act>a{padding-bottom:10px}
    .header-container.type1 .main-nav ul.menu>li.menu-static-width.act:hover>a,.header-container.type1 .main-nav ul.menu>li.menu-full-width.act:hover>a,.header-container.type1 .main-nav ul.menu>li.menu-item-has-children.act:hover>a{padding-bottom:11px}
    .header-container.type2 .main-nav ul.menu>li.menu-static-width.act>a,.header-container.type2 .main-nav ul.menu>li.menu-full-width.act>a,.header-container.type2 .main-nav ul.menu>li.menu-item-has-children.act>a{padding-bottom:14px}
    .header-container.type2 .main-nav ul.menu>li.menu-static-width.act:hover>a,.header-container.type2 .main-nav ul.menu>li.menu-full-width.act:hover>a,.header-container.type2 .main-nav ul.menu>li.menu-item-has-children.act:hover>a{padding-bottom:15px}
    .header-container.type4 .main-nav ul.menu>li.menu-static-width.act>a,.header-container.type4 .main-nav ul.menu>li.menu-full-width.act>a,.header-container.type4 .main-nav ul.menu>li.menu-item-has-children.act>a{padding-bottom:14px}
    .header-container.type4 .main-nav ul.menu>li.menu-static-width.act:hover>a,.header-container.type4 .main-nav ul.menu>li.menu-full-width.act:hover>a,.header-container.type4 .main-nav ul.menu>li.menu-item-has-children.act:hover>a{padding-bottom:15px}
    .header-container.type5 .main-nav ul.menu>li.menu-static-width.act>a,.header-container.type5 .main-nav ul.menu>li.menu-full-width.act>a,.header-container.type5 .main-nav ul.menu>li.menu-item-has-children.act>a{padding-bottom:10px}
    .header-container.type5 .main-nav ul.menu>li.menu-static-width.act:hover>a,.header-container.type5 .main-nav ul.menu>li.menu-full-width.act:hover>a,.header-container.type5 .main-nav ul.menu>li.menu-item-has-children.act:hover>a{padding-bottom:11px}


    .header-container.type6 .main-nav ul.menu >li:first-child,.header-container.type7 .main-nav ul.menu >li:first-child,.header-container.type8 .main-nav ul.menu >li:first-child{margin-right:3px}
    .block-layered-nav #narrow-by-list ol.swatches li a:hover .layered-navigation-swatch{border-color:#08c}
    .fixed-header .menu > li .nav-sublist-dropdown ul li a > span > span.cat-label.cat-label-label1:before, .main-nav .menu > li .nav-sublist-dropdown ul li a > span > span.cat-label.cat-label-label1:before,div.mobile-nav .sw-mobile-menu li>a span.cat-label.cat-label-label1:before,.menu.side-menu li>a span.cat-label.cat-label-label1:before{content:"";position:absolute;left:-6px;top:3px;width:3px;height:3px;border:3px solid transparent;border-right-color:#0cc485}
    .fixed-header .menu > li > a > span.cat-label.cat-label-label1:before, .main-nav .menu > li > a > span.cat-label.cat-label-label1:before{content:"";position:absolute;left:3px;bottom:-6px;width:3px;height:3px;border:3px solid transparent;border-top-color:#0cc485}
    .fixed-header .menu > li .nav-sublist-dropdown ul li a > span > span.cat-label.cat-label-label2:before, .main-nav .menu > li .nav-sublist-dropdown ul li a > span > span.cat-label.cat-label-label2:before,div.mobile-nav .sw-mobile-menu li>a span.cat-label.cat-label-label2:before,.menu.side-menu li>a span.cat-label.cat-label-label2:before{content:"";position:absolute;left:-6px;top:3px;width:3px;height:3px;border:3px solid transparent;border-right-color:#eb2771}
    .fixed-header .menu > li > a > span.cat-label.cat-label-label2:before, .main-nav .menu > li > a > span.cat-label.cat-label-label2:before{content:"";position:absolute;left:3px;bottom:-6px;width:3px;height:3px;border:3px solid transparent;border-top-color:#eb2771}

    a.search-icon{display:inline-block;width:25px;text-align:center}

    .product-image-area .actions{position:absolute;width:100%;bottom:10px;left:0;text-align:left;padding:0 10px;visibility:hidden;opacity:0;transition:opacity 0.2s}
    .item:hover .product-image-area .actions{visibility:visible;opacity:1}
    .product-image-area .actions a{background-color:#fff;overflow:hidden}
    .product-image-area .actions a.addtocart{color:#08c;border-color:#08c;width:32px;height:32px;line-height:32px;font-size:17px;padding:0;text-align:center}
    .product-image-area .actions a.addtocart.outofstock{display:none}
    .product-image-area .actions a.addtocart i.icon-cart{font-size:17px}
    .product-image-area .actions a.addtocart span{display:none}
    .header-container.type3 .main-nav ul.menu>li.fl-right,.header-container.type4 .main-nav ul.menu>li.fl-right{margin-right:0;margin-left:3px;float:right!important}
    .header-container.type3 .main-nav ul.menu>li.fl-right.last>a{margin:0;padding-right:15px!important}
    .header-container.type3 .main-nav ul.menu>li.fl-right.last>a:after{right:0}



    .header-container.type3 .main-nav ul.menu>li:not(.fl-right)>a{
        border-right: 1px solid rgba(255,255,255,0.3)
    }

    .header-container.type3.sticky-header .main-nav ul.menu>li.fl-right{float:right !important;}

    .header-container.type3 .main-nav ul.menu>li.fl-right>a{
        background-color: #ff9800;
        padding:17px 20px;
    }
    .header-container.type3 .main-nav ul.menu>li.fl-right:hover>a{
        background-color: #fff;
        color: #006FA4;
    }
    /*
    *MENU
    */

    .nav-sublist-dropdown .mega-columns .menu-item.menu-item-has-children.menu-parent-item.col-sw-2,
    .nav-sublist-dropdown .container ul{
        width: 98%;
        max-height: 500px;
        clear: both;
        overflow-x: hidden;
        overflow-y: auto;
        list-style: none;
    }
    #BrandSlider_container .defaultImage.img-responsive{
        padding: 20px;
        -webkit-filter: brightness(1.3);
        filter: brightness(1.3);
    }

    /*** Header Type 3 ***/
    .header-container.type3{border:0;background-color:#0083c1}
    .header-container.type3 .top-links-container{background-color:#008acc}
    .header-container.type3 .top-links-container span.split{border-color:#eee}
    .header-container.type3 .links li{border-left-color:#eee}
    .header-container.type3 .top-links ul.links a{color:#fff}
    .header-container.type3 .top-links ul.links a:hover{text-shadow: 0.05px 0.05px #fff}
    .header-container.type3 .top-links-icon{color:#fff}
    .header-container.type3 .welcome-msg{color:#fff;}
    .header-container.type3 .search-area{position:static;margin:0;width: 585px;}
    .header-container.type3 .header{color:#fff}
    .header-container.type3 .header a{color:inherit}
    .header-container.type3 .header .form-search{
        /*        border-color:transparent;*/
        background-color:#fff
    }
    .header-container.type3 .header .form-search #search{background-color:transparent;color:#999}
    .header-container.type3 .header .form-search #cat{border-color:#0076ae;border-color:#fff;color:#7C7C7C;background-color:#f4f4f4}
    .header-container.type3 .header .form-search button.button{color:#7C7C7C;background-color:#f4f4f4}
    .header-container.type3 .header .custom-block{margin-right:10px}
    .header-container.type3 .header .custom-block>*{display:inline-block;vertical-align:middle}
    .header-container.type3 .header .custom-block span.split{height:14px;width:1px;border-right:1px solid #eee;margin:0 13px}
    .header-container.type3 .header .custom-block a{font-size:12px}
    .header-container.type3 .mini-cart{position:relative;margin:0;display:inline-block;vertical-align:middle;left:0;top:-3px}
    /*.header-container.type3 .header #search_mini_form{width:510px}*/
    .header-container.type3 .main-nav{background-color:#006fa4}
    .header-container.type3 .main-nav .menu-wrapper{background-color:transparent}
    .header-container.type3 .main-nav ul.menu>li>a{color:#fff;padding-top:15px;padding-bottom:15px}
    .header-container.type3 .main-nav ul.menu>li:hover,.header-container.type3 .main-nav ul.menu>li.act{background-color:transparent}
    .header-container.type3 .main-nav ul.menu>li.act>a,.header-container.type3 .main-nav ul.menu>li:hover>a{color:#99cee8}
    .header-container.type3 .main-nav ul.menu>li:not(.fl-right)>a{padding:17px 20px 17px 0;margin-right:10px}
    .header-container.type3 .main-nav ul.menu >li.menu-full-width >a,.header-container.type3 .main-nav ul.menu >li.menu-item-has-children >a,.header-container.type3 .main-nav ul.menu >li.menu-static-width >a{padding-right:30px}
    .header-container.type3 .mybag-link{position:relative;padding:2px 0}
    .header-container.type3 .mybag-link span{display:none}
    .header-container.type3 .mybag-link .cart-info{display:block;position:absolute;text-align:center;width:100%;top:50%;margin-top:-8px}
    .header-container.type3 .mybag-link .cart-qty{display:block;font-size:16px;color:#000}
    .header-container.type3 .mybag-link i{font-size:35px}
    .header-container.type3 .top-links > .top-select:first-child .selectbox .select{padding-left:0;}
    .header-container.type3 .top-links > .top-select:first-child .selectbox .select img{height: 100%;}
    .header-container.type3 .header .search-icon{display:none}

    /********** <Navigation */
    .header-wrapper{}
    .main-nav{background-color:transparent;font-size:12px;border:0;padding:0;text-align:left}
    .main-nav .menu-wrapper{background-color:#f0f0ed;border-radius:5px 5px 0 0;position:relative}
    .mega-columns.row{margin-right:-10px;margin-left:-10px}
    .menu_thumb_img{padding:15px 0 0}
    .fixed-header-area .menu >li{padding:0 !important}
    .fixed-header a.logo img{height:50px;margin:10px 0}
    .fixed-header .mini-products-list a{color:#777}

    .fixed-header-area .fixed-header .menu{float:none;margin:7px 0}
    .fixed-header ul.menu >li,.main-nav ul.menu >li{padding:0;border-radius:5px}
    .fixed-header ul.menu >li.menu-full-width,.fixed-header ul.menu >li.menu-item-has-children,.main-nav ul.menu >li.menu-full-width,.main-nav ul.menu >li.menu-item-has-children,.fixed-header ul.menu >li.menu-static-width,.fixed-header ul.menu >li.menu-item-has-children,.main-nav ul.menu >li.menu-static-width,.fixed-header ul.menu >li.menu-full-width.act:hover,.fixed-header ul.menu >li.menu-item-has-children.act:hover,.main-nav ul.menu >li.menu-full-width.act:hover,.main-nav ul.menu >li.menu-item-has-children.act:hover,.fixed-header ul.menu >li.menu-static-width.act:hover,.fixed-header ul.menu >li.menu-item-has-children.act:hover,.main-nav ul.menu >li.menu-static-width.act:hover{padding:0;border-radius:5px 5px 0 0}
    .fixed-header ul.menu >li .nav-sublist-dropdown,.main-nav ul.menu >li .nav-sublist-dropdown{border:0;background-color:#fff;border-radius:0 6px 6px 6px;padding:5px 0;min-width:160px;width:auto;box-shadow:0px 2px 10px -2px rgba(0,0,0,.3);border-top:5px solid #08c}
    .fixed-header .menu-wrapper{position:relative}
    .fixed-header ul.menu >li >a,.main-nav ul.menu >li >a{color:#08c;font-size:12px;font-weight:700;text-transform:uppercase;padding:17px 20px}
    .fixed-header ul.menu >li >a{padding:13px 20px}
    .fixed-header ul.menu >li.menu-full-width >a,.fixed-header ul.menu >li.menu-item-has-children >a,.main-nav ul.menu >li.menu-full-width >a,.main-nav ul.menu >li.menu-item-has-children >a,.fixed-header ul.menu >li.menu-static-width >a,.main-nav ul.menu >li.menu-static-width >a{padding-right:30px}
    .fixed-header ul.menu >li.menu-full-width >a:after,.fixed-header ul.menu >li.menu-item-has-children >a:after,.main-nav ul.menu >li.menu-full-width >a:after,.main-nav ul.menu >li.menu-item-has-children >a:after,.fixed-header ul.menu >li.menu-static-width >a:after,.main-nav ul.menu >li.menu-static-width >a:after{content:'\f107';font-family:"FontAwesome";width:10px;height:10px;top:50%;right:15px;left:auto;margin-top:-7px}
    .fixed-header ul.menu >li,.main-nav ul.menu >li{transition:all 0.1s;margin-right:3px}
    .fixed-header ul.menu >li:first-child,.main-nav ul.menu >li:first-child{margin-right:0}
    .fixed-header ul.menu >li:hover,.main-nav ul.menu >li:hover,.fixed-header ul.menu >li.act,.main-nav ul.menu >li.act{background-color:#08c;text-decoration:none}
    .fixed-header ul.menu >li.act,.main-nav ul.menu >li.act{border-radius:5px}
    .fixed-header ul.menu >li:hover >a,.main-nav ul.menu >li:hover >a,.fixed-header ul.menu >li.act >a,.main-nav ul.menu >li.act >a{color:#fff;text-decoration:none}
    .fixed-header .menu >li.menu-full-width .nav-sublist-dropdown,.main-nav .menu >li.menu-full-width .nav-sublist-dropdown{border:0;border-radius:0 0 5px 5px;background-color:#fff;padding:10px 0 20px 0;border-top:5px solid #08c;text-align:left}
    .fixed-header .menu >li.menu-static-width .nav-sublist-dropdown,.main-nav .menu >li.menu-static-width .nav-sublist-dropdown{border:0;border-top:5px solid #08c;border-radius:0 0 5px 5px;background-color:#fff;padding:5px 0;}
    .fixed-header .menu >li.menu-full-width .nav-sublist-dropdown,.fixed-header .menu >li.menu-static-width .nav-sublist-dropdown{top:38px}
    .fixed-header a,.main-nav a{color:#fff}
    .fixed-header a:hover,.main-nav a:hover{color:#222}
    .fixed-header .menu >li .nav-sublist-dropdown .container ul >li a,.main-nav .menu >li .nav-sublist-dropdown .container ul >li a{border:0;padding:10px 30px 10px 5px;margin:0 8px;border-top:1px solid rgba(255,255,255,.2)}
    .fixed-header .menu > li:nth-last-child(1) .nav-sublist-dropdown .container > ul .menu-item-has-children .nav-sublist, .fixed-header .menu > li:nth-last-child(2) .nav-sublist-dropdown .container > ul .menu-item-has-children .nav-sublist, .main-nav .menu > li:nth-last-child(1) .nav-sublist-dropdown .container > ul .menu-item-has-children .nav-sublist, .main-nav .menu > li:nth-last-child(2) .nav-sublist-dropdown .container > ul .menu-item-has-children .nav-sublist{right:100%}
    .fixed-header .menu >li.menu-item-has-children .nav-sublist-dropdown .container ul >li a,.main-nav .menu >li.menu-item-has-children .nav-sublist-dropdown .container ul >li a{text-decoration:none}
    .fixed-header .menu >li.menu-item-has-children .nav-sublist-dropdown .container ul >li:hover >a,.main-nav .menu >li.menu-item-has-children .nav-sublist-dropdown .container ul >li:hover >a{background-color:#f4f4f4}
    .fixed-header .menu >li .nav-sublist-dropdown .container ul >li:first-child a,.main-nav .menu >li .nav-sublist-dropdown .container ul >li:first-child a{border:0;width: 325px;}
    .menu img{max-width:100%}
    .fixed-header .menu >li .nav-sublist-dropdown .container >ul .menu-item-has-children >a:before,.main-nav .menu >li .nav-sublist-dropdown .container >ul .menu-item-has-children >a:before{font-family:'porto';content:'\e81a';font-size:12px;top:50%;margin-top:-10px;margin-left:0}
    .fixed-header .menu >li .nav-sublist-dropdown .container ul .menu-item-has-children .nav-sublist,.main-nav .menu >li .nav-sublist-dropdown .container ul .menu-item-has-children .nav-sublist{
        border-radius:5px;
        top:-4px;
        padding:0;
        left:100%;
    }
    .fixed-header .menu >li.menu-item .nav-sublist-dropdown .container ul .menu-item-has-children .nav-sublist,.main-nav .menu >li.menu-item .nav-sublist-dropdown .container ul .menu-item-has-children .nav-sublist{background-color:#fff;box-shadow:0px 2px 10px -2px rgba(0,0,0,.3)}
    .fixed-header .menu >li .nav-sublist-dropdown .container ul .menu-item-has-children .nav-sublist li,.main-nav .menu >li .nav-sublist-dropdown .container ul .menu-item-has-children .nav-sublist li{background-color:transparent}
    .fixed-header .menu >li .nav-sublist-dropdown .container >ul .menu-item-has-children .nav-sublist li:last-child a,.main-nav .menu >li .nav-sublist-dropdown .container >ul .menu-item-has-children .nav-sublist li:last-child a{border-bottom:0}
    .fixed-header .menu >li .nav-sublist-dropdown .container >ul .menu-item-has-children >.nav-sublist li a,.main-nav .menu >li .nav-sublist-dropdown .container >ul .menu-item-has-children >.nav-sublist li a{border-top:1px solid rgba(255,255,255,.2)}
    .fixed-header .menu >li .nav-sublist-dropdown .container >ul .menu-item-has-children .nav-sublist li:first-child a,.main-nav .menu >li .nav-sublist-dropdown .container >ul .menu-item-has-children .nav-sublist li:first-child a{border-top:0}
    .fixed-header .menu >li.menu-full-width .nav-sublist-dropdown .container ul >li >a.level1,.main-nav .menu >li.menu-full-width .nav-sublist-dropdown .container ul >li >a.level1,.fixed-header .menu >li.menu-static-width .nav-sublist-dropdown .container ul >li >a.level1,.main-nav .menu >li.menu-static-width .nav-sublist-dropdown .container ul >li >a.level1{font-size:14px;font-weight:600;padding:0 5px;margin-top:10px}
    .fixed-header .menu >li.menu-full-width .nav-sublist-dropdown .container ul li a:before,.main-nav .menu >li.menu-full-width .nav-sublist-dropdown .container ul li a:before,.fixed-header .menu >li.menu-static-width .nav-sublist-dropdown .container ul li a:before,.main-nav .menu >li.menu-static-width .nav-sublist-dropdown .container ul li a:before{display:none}
    .fixed-header .menu >li.menu-full-width .nav-sublist-dropdown .container ul >li .nav-sublist ul li ul,.main-nav .menu >li.menu-full-width .nav-sublist-dropdown .container ul >li .nav-sublist ul li ul,.fixed-header .menu >li.menu-static-width .nav-sublist-dropdown .container ul >li .nav-sublist ul li ul,.main-nav .menu >li.menu-static-width .nav-sublist-dropdown .container ul >li .nav-sublist ul li ul{margin-left:10px}
    .menu-icon{vertical-align:middle;display:none;text-align:right;padding-left:20px;font-size:20px;height:60px;pointer-events:all}
    .fixed-header .menu>li .nav-sublist-dropdown:before,.main-nav .menu>li .nav-sublist-dropdown:before{top:-2px}
    .fixed-header .menu > li .nav-sublist-dropdown .container, .main-nav .menu > li .nav-sublist-dropdown .container{width:auto}
    .fixed-header .menu > li.menu-full-width .nav-sublist-dropdown a, .main-nav .menu > li.menu-full-width .nav-sublist-dropdown a, .fixed-header .menu > li.menu-static-width .nav-sublist-dropdown a, .main-nav .menu > li.menu-static-width .nav-sublist-dropdown a{color:#777}
    .fixed-header .menu > li.menu-full-width .nav-sublist-dropdown a, .main-nav .menu > li.menu-full-width .nav-sublist-dropdown a:hover, 
        .fixed-header .menu > li.menu-static-width .nav-sublist-dropdown a, .main-nav .menu > li.menu-static-width .nav-sublist-dropdown a:hover{background-color: #f4f4f4}
    .fixed-header .mini-cart{background-color:transparent;position:static;margin:0;display:inline-block;vertical-align:middle}
    .fixed-header .mybag-link{position:relative;padding:2px 0}
    .fixed-header .mybag-link i{font-size:35px;color:#08c}
    .fixed-header .mybag-link .cart-info{display:block;position:absolute;text-align:center;width:100%;top:50%;margin-top:-8px}
    .fixed-header .mybag-link .cart-qty{display:block;font-size:16px;color:#fff}
    .fixed-header .mybag-link span{display:none}

    .selectbox {
        vertical-align: middle;
        cursor: pointer;
        margin-top: 0px;
        z-index: 1;
        text-transform: uppercase;
        height: 26px;
    }

    .product-label {
        position: absolute;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        line-height: 1;
        top: 10px;
        z-index: 3;
    }
    span.new-product-icon {
        background-color: #62b959;
        display: block;
        text-align: center;
    }
    .product-image img {
        max-width: 100%;
        height: auto;
    }
    .old-price {
        margin: 0;
        display: inline-block;
        vertical-align: middle;
    }
    .regular-price {
        color: #444;
    }
    .old-price .price {
        color: #e27c7c;
        text-decoration: line-through;
        font-size: 14px;
        vertical-align: middle;
    }
    .price {
        font-weight: 600;
        font-size: 20px;
        color: #444;
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
        white-space: nowrap !important;
    }
    .product-image-area {
        position: relative;
        background: transparent;
        overflow: hidden;
        padding: 3px;
    }

    .product-label span {
        position: relative;
        padding: 7px 10px;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        border-radius: 4px;
    }   
    .product-name a {
        color: #777;
    }

    .parallax-wrapper {
        position: relative;
    }
    .overlay {
        background-color: #000;
        opacity: 0.55;
        filter: alpha(opacity=55);
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
    }
    .parallax {
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100% auto;
        width: 100%;
        margin: 50px 0;
        padding: 50px 0;
    }
    .text-white {
        color: #fff;
    }
    .parallax-subscribe input.input-text {
        background-color: #e3e2e2;
        color: #666;
        height: 34px;
        line-height: 18px;
        padding: 8px 100px 8px 10px;
        width: 100%;
    }
    .parallax-subscribe button.button span {
        height: 34px;
        line-height: 34px;
        padding: 0;
        border-radius: 0 3px 3px 0;
        width: 90px;
        min-width: 90px;
    }
    .parallax button.button span {
        display: block;
        border: 0;
        background: #006fa4;
        padding: 0 15px;
        font-weight: normal;
        font-size: 14px;
        text-align: center;
        white-space: nowrap;
        color: #fff;
        line-height: 38px;
        border-radius: 5px;
    }
    .parallax-subscribe button.button span {
        height: 34px !important;
        line-height: 34px !important;
        padding: 0;
        border-radius: 0 3px 3px 0;
        width: 90px;
        min-width: 90px;
    }
    .parallax button.button span span {
        border: 0;
        padding: 0;
        color: inherit;
        border-width: 0;
        background: transparent;
        line-height: inherit;
    }
    .parallax-subscribe button.button {
        position: absolute;
        z-index: 1;
        right: 0;
        top: 0;
    }
    .parallax input.input-text, select, textarea {
        background: #fff;
        border: 1px solid #ccc;
        padding: 2px 8px;
        height: 26px;
        color: #777;
        font-size: 13px;
        border-radius: 3px;
    }
    .input-box {
        position: relative;
    }
    .parallax button.button {
        overflow: visible;
        width: auto;
        border: 0;
        padding: 0;
        margin: 0;
        background: transparent;
        cursor: pointer;
    }

    #BrandSlider_container.defaultImage.img-responsive{
        padding: 20px;
    }

    .slider-discount-title {
        text-align: center;
        color: #08c;
    }

    .slider-discount-title p {
        font-size: 250%;
    }

    .tr-text-center {
        text-align: center;
        font-weight: bold;
        line-height: 40px !important;
        text-align: left;
        text-transform: uppercase;
    }

    .aBalck{color:#777 !important; font-size: 16px;vertical-align:middle;}
    .aBalck:hover{color:#222 !important;}
    .product-name-td .aBalck{font-size: 14px;}

    .listaProduto{
        .table>tbody>tr>td {
            vertical-align: middle;
        }
        .item{padding: 0 !important;float: none;width: auto;} 
        .item .actions a{margin-top:0;margin-bottom:0}
        .details-area{padding:0 !important}
        .table>tbody>tr>td:nth-child(2),.table>tbody>tr>td:nth-child(4){text-align: right}
    }

    a.addtowishlist {
        color: rgba(237, 73, 73, 0.82);
        background-color: #fff;
        font-size: 12px;
        display: inline-block;
        height: 32px;
        width: 32px;
        line-height: 31px;
        border: 1px solid #ccc;
        border-radius: 1px;
        text-align: center;
    }
    .price-box {
        margin: 10px 0 5px;
    }

    .item {
        padding: 0 !important;
        float: left;
        .item-area {
            width: 100%;
            min-height: 250px;
            position: relative;
            background-color: #fff;
        }
        .ProductOption {
            transition: 200ms;
            opacity: 0;
            width: 100%;
            background-color: rgba(255,255,255, 0.8);
            position: absolute;
            bottom: -40px;
            left: 0;
            right: 0;
            padding: 15px 0px;
            text-align: center;
        }
        .ProductOption > button {
            display: inline-block;
            background-color: transparent;
            border: 1px solid #484747;
            color: #484747;
            transition: 100ms;
        }
        .product-image-area {
            position: relative;
        }

        .product-image {
            width: 100%;
            display: block;
            position: relative;
            z-index: 0;
            overflow: hidden;
            border-radius: 3px;
            background: rgba(255,255,255,0.0);
            min-height: 100px;
        }
        input.qtdproduto {
            width: 60px;
            color: #777;
            background-color: #fff;
            font-size: 16px;
            padding: 0 10px 0 5px;
            display: inline-block;
            height: 32px;
            line-height: 30px;
            border-radius: 1px;
            border: 1px solid #ccc;
            display: inline-block;
            width: 80px;
            text-align: center;
        }
        .details-area .actions a.comparelink {
            visibility: visible;
            opacity: 1;
            filter: Alpha(Opacity=100);
            left: 3px;
        }
        .details-area {
            text-align: center;
        }

        .details-area .product-name {
            margin: 0 0 3px 0;
        }
        .details-area .product-name a {
            font-size: 12px;
            font-weight: 500;
        }
        .details-area .actions {
            margin: 0 -10px;
            vertical-align: middle;
        }
        .details-area .actions i{
            vertical-align: middle;
            line-height: 30px;
        }
        .details-area .actions a.addtowishlist {
            visibility: visible;
            opacity: 1;
            filter: Alpha(Opacity=100);
            right: 3px;
            position: relative;
        }
        .details-area .actions a {
            margin: 10px 2px;
            vertical-align: middle;
            visibility: hidden;
            opacity: 0;
            filter: Alpha(Opacity=0);
        }
    }
    a.addtowishlist:hover {
        color: #fff;
        background-color: #ed4949;
        border-color: #ed4949;
        text-decoration: none;
    }
    a.comparelink:hover {
        color: #fff;
        background-color: rgb(66, 138, 202);
        border-color: rgb(66, 138, 202);
    }
    a.comparelink {
        color: rgba(66, 138, 202, 0.69);
        background-color: #fff;
        font-size: 12px;
        display: inline-block;
        height: 32px;
        width: 32px;
        line-height: 31px;
        border: 1px solid #ccc;
        border-radius: 1px;
        text-align: center;
    }
    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .product-image img {
        max-width: 100%;
        height: auto;
    }
    .product-image-area {
        position: relative;
        background: transparent;
        overflow: hidden;
        padding: 3px;
    }

    .col-main{
        .category-products{

            .products-grid .item .item-area {
                width: 100%;
                position: relative;
                background-color: #fff;
            }
            .products-grid.columns5 .item {
                width: 20%;
                float: left;
                padding: 0px 5px;
            }
            .products-grid .item {
                float: left;
                padding: 10px;
                padding-bottom: 0!important;
            }
            .products-grid .item .details-area {
                padding: 10px;
                text-align: center;
            }

            li.item .product-image img.hoverImage {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                opacity: 0;
                filter: alpha(opacity=0);
                height: 200px;
            }

            li.item .product-image img {
                width: auto;
                height: 200px;
                margin: auto;
                display: block;
                transition: all 0.3s;
            }

        }

    }

}
#SelectedColor .col-xs-12{
    padding-right: 0;
    padding-left: 0;
    margin-left: -15px;
    margin-left: -15px;
}