<html>
    <?php include __DIR__ . '/../head.phtml'; ?>
    <body class="csadmin page-header-fixed page-sidebar-closed-hide-logo ">
        <?php include __DIR__ . '/../../../Application/view/layout/top-navigation.phtml'; ?>
        <div class="TabelaSetLoadBody">
            <div class="page-container">
                <?php include __DIR__ . '/../../../Application/view/layout/sidebar.phtml'; ?>
                <div class="page-content-wrapper">
                    <div class="page-content">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2 bordered" onclick="ServicosService.buscar('S')" style="cursor: pointer;">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-green-soft">
                                                <span id="ativos" data-counter="counterup"></span>
                                                <!--<small class="font-green-sharp"></small>-->
                                            </h3>
                                            <small>Clientes ativos</small>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-check font-maior"></i>
                                        </div>
                                    </div>
                                    <div class="progress-info">
                                        <div class="progress">
                                            <span style="width: 100%;" class="progress-bar progress-bar-success green-soft">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2 bordered" onclick="ServicosService.buscar('N')" style="cursor: pointer;">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-red-soft">
                                                <span id="inativos" data-counter="counterup"></span>
                                                <!--<small class="font-green-sharp"></small>-->
                                            </h3>
                                            <small>Clientes inativos</small>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-ban font-maior"></i>
                                        </div>
                                    </div>
                                    <div class="progress-info">
                                        <div class="progress">
                                            <span style="width: 100%;" class="progress-bar progress-bar-success red-soft">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2 bordered" onclick="ServicosService.buscar('')" style="cursor: pointer;">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-blue-soft">
                                                <span id="todos" data-counter="counterup"></span>
                                                <!--<small class="font-green-sharp"></small>-->
                                            </h3>
                                            <small>Clientes cadastrados</small>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-group font-maior"></i>
                                        </div>
                                    </div>
                                    <div class="progress-info">
                                        <div class="progress">
                                            <span style="width: 100%;" class="progress-bar progress-bar-success blue-soft">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">

                                <div class="portlet light">
                                    <h3>Cadastro de Clientes (LocalWeb)</h3>
                                    <hr class="divider">
                                    <div id="boxCompleto" class="col-sm-12">
                                        <div id="portlet-body" class="portlet-body">
                                            <?php include __DIR__ . '../../../../Grid/view/grid/pesquisa-grid.phtml'; ?>
                                            <?php include __DIR__ . '../../../../Grid/view/grid/body-grid.phtml'; ?>

                                        </div>
                                    </div>
                                    <?php include __DIR__ . '../../../../Layout/view/grid/modal.html'; ?>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- JS COMUM -->

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="js/bibliotecas/bootstrap.min.js" type="text/javascript"></script>
        <script src="metronic/assets/global/scripts/metronic.js" type="text/javascript"></script>
        <script src="metronic/assets/admin/layout4/scripts/layout.js" type="text/javascript"></script>
        <script src="metronic/assets/admin/layout4/scripts/demo.js" type="text/javascript"></script>
        <script src="js/bibliotecas/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
        <script src="metronic/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>

        <!--JS GRID-->
        <script src="js/bibliotecas/jquery-mask/jquery-mask.js"></script>
        <script src="js/init.js" type="text/javascript"></script>
        <script src="js/grid/configuracao.js"></script>
        <span name="tipGrid"></span>
        <script src="js/bibliotecas/validator.min.js"></script>
        <script src="scripts/apifiltro/init.js" type="text/javascript"></script>
    </div>
</body>
</html>
