<div class="Formulario" style="display: none;">
    <div class="tabbable-custom">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#tab1" id="TabDocumentacao" data-toggle="tab" aria-expanded="true"> Principal </a>
            </li>
            <li class="">
                <a href="#tab2" id="TabDescricaoDocumentacao" data-toggle="tab" aria-expanded="true"> Descrições documentação </a>
            </li>
        </ul>
        <div class="tab-content" style="border: 0px solid !important;">
            <div class="tab-pane active" id="tab1">



                <form method="POST" id="documentacao" class="horizontal-form conexao">
                    <span class="form-subtitulo">
                        <h3>Informações do documentacao</h3>
                    </span>
                    <hr class="divider">
                    <div class="form-body">
                        <input type="number" placeholder="Id" name="id" id="id" style="display: none;">

                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="idSistema" class="control-label">Sistema cadastrado<span class="required" aria-required="true"> * </span></label>
                                    <div class="input-group">
                                        <input type="text" placeholder="999 - SISTEMA EXEMPLO"  name="idSistema" id="idSistema" class="form-control" readonly="readonly" required>
                                        <span id="buscarCliente" onclick="$('#modalSistema').modal();" class="input-group-addon" style="border-color: #2a3f54;background-color: #34485c;">
                                            <i class="fa fa-search" style="color:#FFF;"></i>
                                        </span>
                                    </div>

                                    <span class="help-block">Selecione um sistema já cadastrado!</span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="idRecurso" class="control-label">Recurso cadastrado<span class="required" aria-required="true"> * </span></label>
                                    <div class="input-group">
                                        <input type="text" placeholder="999 - RECURSO EXEMPLO"  name="idRecurso" id="idRecurso" class="form-control" readonly="readonly" required>
                                        <span id="buscarCliente" onclick="$('#modalRecursoSelecionar').modal();" class="input-group-addon" style="border-color: #2a3f54;background-color: #34485c;">
                                            <i class="fa fa-search" style="color:#FFF;"></i>
                                        </span>
                                    </div>

                                    <span class="help-block">Selecione um recurso já cadastrado!</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="descricao" class="control-label">Descrição<span class="required" aria-required="true"> * </span></label>
                                    <textarea  title="Descrição abreviada de até 120 caracteres." placeholder="Descrição abreviada de até 120 caracteres."  name="descricao" id="descricao" class="form-control" required></textarea>
                                    <span class="help-block"></span>
                                </div>
                            </div>


                        </div>

                        <div class="row" style="border-top:1px solid #eee;">
                            <div class="col-sm-12 form-footer" style="margin-top:10px;">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-danger" onclick="formularioDocumentacao.transicaoLayout(false);">
                                        <i class="material-icons md-24 ">arrow_back</i> Voltar
                                    </button>
                                    <button type="button" class="btn btn-success" onclick="formularioDocumentacao.confirmarAlteracaoDeRegistro();">
                                        <i class="material-icons md-24 ">check</i> Salvar
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>



            </div>
            <div class="tab-pane active" id="tab2" style="display: none;">

                <span class="form-subtitulo">
                    <h3>Especificações da documentacão</h3>
                </span>
                <hr class="divider">
                <div class="form-body">


                    <div class="form-inline GridDocumentacao">
                        <div class="datatableDocumentacao_Filtros">
                            <span id="datatableDocumentacao_FiltroGridBuscaLeng" mover="false" style="margin-rigth:5px;">

                            </span>
                            <span id="datatableDocumentacao_FiltroGridBuscaColuna">
                                <select name="colunaBusca" class="form-control pull-left" style="margin-left:5px;">
                                </select>
                            </span>
                            <span id="datatableDocumentacao_FiltroGridBuscaTipo">
                                <select name="formaBusca" class="form-control pull-left" style="margin-left:5px;">
                                </select>
                            </span>
                            <span id="datatableDocumentacao_FiltroGridBusca" >

                            </span>
                            <span class="" >
                                <button type="reset" id="datatableDocumentacao_FiltroGridBuscaLimpar" class="btn btn-warning" style="margin-bottom: 5px;margin-left:5px;">
                                    <i class="material-icons md-18">autorenew</i>
                                    Limpar
                                </button>
                            </span>
                        </div>
                    </div>

                    <table id="datatableDocumentacao" class="table table-striped">
                        <thead>
                            <tr>
                                <th value="id">Id</th>
                                <th value="funcionalidade">Funcionalidade</th>
                                <th value="tipo">Tipo documentação</th>
                                <th value="false">Excluir</th>
                            </tr>
                        </thead>
                        <tbody class="GridDocumentacao">

                        </tbody>
                    </table>

                    <hr class="divider-vertical"/>

                    <form id="especificacao_documentacao" class="horizontal-form conexao">

                        <div class="row">
                            <input type="number" placeholder="Id" name="id" id="id" style="display: none;">
                            <input type="number" placeholder="Id" name="idDocumentacao" id="idDocumentacao" style="display: none;">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="funcionalidade" class="control-label">Funcionalidade<span class="required" aria-required="true"> * </span></label>
                                    <input type="text" placeholder="Funcionalidade"  name="funcionalidade" id="funcionalidade" class="form-control" required>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label  class="control-label">Tipo documentação<span class="required" aria-required="true"> * </span></label>
                                    <select name="idTipoDocumentacao" class="form-control">
                                        <option value="0">Api</option>
                                        <option value="1">Marketing</option>
                                    </select>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <textarea cols="80" id="editor1" name="descricao" rows="10" >
                                        <h1 style="text-align:center"><strong>Descri&ccedil;&atilde;o de especifica&ccedil;&atilde;o de Documentacao.</strong></h1>
                                        <hr />
                                        <hr />
                                        <p>&nbsp;</p>
                                </textarea>
                            </div>
                        </div>


                        <div class="row" style="border-top:1px solid #eee;">
                            <div class="col-sm-12 form-footer" style="margin-top:10px;">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-warning" onclick="formularioRecursoDescricao.statusSelecionado = 1; formularioRecursoDescricao.confirmarAlteracaoDeRegistro();">
                                        <i class="fa fa-list-alt"></i> Alterar
                                    </button>
                                    <button type="button" class="btn btn-success" onclick="formularioRecursoDescricao.statusSelecionado = 2; formularioRecursoDescricao.confirmarAlteracaoDeRegistro();">
                                        <i class="material-icons md-18">add</i> Adicionar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>



                </div>
            </div>
        </div>
    </div>
