<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="robots" content="INDEX,FOLLOW">

        <meta name="description" content="ERP TPWS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>ERP TPWS</title>
        <link rel="shortcut icon" href="<?= $this->basePath('img/favicon.ico'); ?>">

        <!-- App CSS -->
        <link href="metronic/assets/logar/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="metronic/assets/logar/css/core.css" rel="stylesheet" type="text/css" />
        <link href="metronic/assets/global/css/components.css" rel="stylesheet" type="text/css">
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="metronic/assets/logar/css/pages.css" rel="stylesheet" type="text/css" />
        <link href="metronic/assets/logar/css/menu.css" rel="stylesheet" type="text/css" />
        <link href="metronic/assets/logar/css/responsive.css" rel="stylesheet" type="text/css" />
        <link href="/js/bibliotecas/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css"/>
        <link href="APIGridGitLab/public/css/api_grid.css" rel="stylesheet" type="text/css" />
        <link href="metronic/assets/global/plugins/vanillatoasts/vanillatoasts.css" rel="stylesheet" type="text/css"/>

        <script src="js/bibliotecas/jquery-1.8.3.min.js"></script>
        <script src="js/bibliotecas/bootstrap.min.js"></script>
        <script src="/js/bibliotecas/bootstrap-toastr/toastr.min.js"></script>
    </head>

    <body>
        <div class="account-pages"></div>
        <div class="clearfix"></div>
        <div class="wrapper-page">
            <div class="text-center">
                <a href="#" class="logo">
                    <img src="/img/logo_cabecario.png" alt="logo" class="logo-default" style="max-width:220px;margin-top:25px;">
                </a>
                <!-- <h5 class="text-muted m-t-0 font-600">Fazer o login</h5> -->
            </div>
            <div class="m-t-40 card-box">
                <div class="text-center">
                    <h4 class="text-uppercase font-bold m-b-0">Entrar</h4>
                </div>
                <div class="panel-body">
                    <form id="form-login" class="form-horizontal m-t-20">

                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" name="usuario" placeholder="Usuário" required="">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" name="senha" placeholder="Senha" required="">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                <label class="rememberme check mt-checkbox mt-checkbox-outline">
                                    <input type="checkbox" name="lembrar" value="1"> Lembrar
                                    <span></span>
                                </label>
                            </div>
                        </div>

                        <div class="form-group text-center m-t-30">
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-login btn-bordred btn-block waves-effect waves-light Logar">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script src="dist/login.min.js"></script>
    <!-- <script src="http://localhost:8080/dist/login.min.js"></script> -->
</html>
