/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
        border-radius: 4px !important;
}

.portlet .portlet-title {
        border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
        border-radius: 0px 0px 4px 4px !important;
}
*/
.sorting_asc {
    background: url('/img/sort_asc-max.png') no-repeat center right;
}
.sorting_desc {
    background: url('/img/sort_desc-max.png') no-repeat center right;
}
.sorting {
    background: url('/img/sort_both-max.png') no-repeat center right;
}

/*  Classe adicionada para grid sem resultados */ 
.error-grid-empty{
    border-color: #faebcc; 
    background-color: #fcf8e3; 
    color: #8a6d3b;
    border-style: solid; 
    border-width: 1px; 
    min-height: 24px; 
    padding: 15px; 
    font-size: 14px; 
    font-weight: 400; 
    border-radius: 4px; 
    margin-bottom: 20px;
}

/*  Classes adicionadas para personalização dos botões de upload */ 
.logoUpload{
    padding: 18% 6% 17% 6%;
    /* padding-top: 10%; */
    font-size: -0.7em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: transparent;
    border: dashed #928E8E;
    border-style: dashed;
    width: 36%;
    cursor: pointer !important;
}
.darkbg{
    background:#ddd !important;
}
#status{
    font-family:Arial; padding:5px;
}
ul#files{ list-style:none; padding:0; margin:0; }
ul#files li{ padding:10px; margin-bottom:2px; width:200px; float:left; margin-right:10px;}
ul#files li img{ max-width:180px; max-height:150px; }
.success{ background:#99f099; border:1px solid #339933; }
.error{ background:#f0c6c3; border:1px solid #cc6622; }

/*  Classes adicionadas para botões da home */ 
.mini-stat {
    background:#fff;
    padding:20px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    margin-bottom:20px;
}
.mini-stat-icon {
    width:60px;
    height:60px;
    display:inline-block;
    line-height:60px;
    text-align:center;
    font-size:30px;
    background:#eee;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    float:left;
    margin-right:10px;
    color:#fff;
}
.font-maior{
    font-size: 30px !important;
    line-height: 60px !important;
}
.mini-stat-info {
    font-size:12px;
    padding-top:2px;
    color: dimgrey;
}
.mini-stat-info span {
    display:block;
    font-size:24px;
    font-weight:600;
}
.orange {
    background:#fa8564 !important;
}

.blue {
    background:#2980BA !important;
}

.tar {
    background:#1fb5ac !important;
}
.mini-stat .green {
    background:#aec785 !important;
}
.pink {
    background:#a48ad4 !important;
}
.yellow-b {
    background: #fdd752 !important;
}
/* FIM  Classes adicionadas para botões da home */ 