.csadmin {
  /**
   * Elementos da header
   */
  /**
   * Cor do menu lateral
   */
  /**
   * Cor do load
   */
  /**
   * Blocos do dashboars
   */ }
  .csadmin .menu-toggler {
    font: 20px FontAwesome;
    color: #2a4263; }
    .csadmin .menu-toggler:before {
      content: "\f0c9"; }
    .csadmin .menu-toggler:hover {
      color: #324e75; }
    .csadmin .menu-toggler:active {
      color: #3a5a86; }
  .csadmin .page-header.navbar .top-menu .navbar-nav > li {
    color: #2a4263; }
    .csadmin .page-header.navbar .top-menu .navbar-nav > li .quick-sidebar-toggler > i,
    .csadmin .page-header.navbar .top-menu .navbar-nav > li a.quick-sidebar-toggler > i {
      color: #2a4263; }
    .csadmin .page-header.navbar .top-menu .navbar-nav > li.separator {
      background-color: #2f496d; }
    .csadmin .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username, .csadmin .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > i {
      color: #2a4263; }
  .csadmin .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu {
    background-color: #2a4263; }
    .csadmin .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu:after {
      border-bottom-color: #2a4263; }
    .csadmin .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a:hover,
    .csadmin .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a:hover {
      background-color: #2f496d; }
  .csadmin .page-sidebar,
  .csadmin .page-sidebar li {
    background-color: #2a4263; }
    .csadmin .page-sidebar .sub-menu,
    .csadmin .page-sidebar li .sub-menu {
      background: #273d5c; }
  .csadmin .badge-csb2b,
  .csadmin .btn-csb2b {
    background-color: #2a4263; }
  .csadmin i.ajax-loader {
    border-color: #2a4263; }
  .csadmin .primeiros-blocos:nth-child(even) .dashboard-stat2 h3 {
    color: #2f496d; }
  .csadmin .primeiros-blocos:nth-child(even) .dashboard-stat2 .progress-bar {
    background-color: #2f496d; }
  .csadmin .primeiros-blocos:nth-child(odd) .dashboard-stat2 h3 {
    color: #263b58; }
  .csadmin .primeiros-blocos:nth-child(odd) .dashboard-stat2 .progress-bar {
    background-color: #263b58; }

/*# sourceMappingURL=sidebar.css.map */
