<div class="btn-group">
    <a class="input-group input-medium date parametroData" data-date-format="dd-mm-yyyy" title="<?= $this->opcoes->getTitle() ?>">
        <input class="form-control" name="data" size="16" type="text" value="<?= $this->data ?>">
        <span class="input-group-btn">
            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
        </span>
    </a>
</div>