<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modalFiltrar" class="modal fade">
<div class="modal-dialog1">
    <div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h4 class="modal-title"><b>Filtrar</b></h4>
        </div>
        <div class="modal-body">
            <form id="form">
                <div class="form-group">
                    <table id="configFiltro">
                    </table>
                </div>
                <button type="button" id="btn-filter" class="btn btn-info" id="" value="cfinomfor">Filtrar <i class="fa fa-filter"></i></button>
                <button type="button" id="btn-cancel" class="btn btn-default right-stat-bar">Cancelar <i class="fa fa-times"></i></button>
            </form>
        </div>
    </div>
</div>
</div>
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="select-cod-list" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title"><b>Lista Unidades de negócio</b></h4>
            </div>
            <div class="modal-body">
                <div id="win-1" class="tab-pane active" style="overflow: auto; max-height: 240px;">
                    <table class="table  table-hover general-table">
                        <thead>
                        <tr>
                            <th><input type="checkbox" onClick="selectAll(this, 'unidadeDeNegocio')" value=""> Todos</th>
                            <th>Produto</th>
                            <th>Descrição</th>
                        </tr>
                        <tbody id="listFiltro">
                        </tbody>
                        </thead>
                    </table>
                </div>
                <div class="col-md-12">&nbsp;</div>
                    <button type="button" class="btn btn-primary right-stat-bar" name="btn-concluir-2">Concluir <i class="material-icons md-24 ">check</i></button>
                    <button type="button" class="btn btn-default right-stat-bar" name="btn-fechar-2">Fechar <i class="fa fa-times"></i></button>
            </div>

        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="select-cod-list-grupo-produto" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title"><b>Lista Grupo de produtos</b></h4>
            </div>
            <div class="modal-body">
                <div id="win-1" class="tab-pane active" style="overflow: auto; max-height: 240px;">
                    <table class="table  table-hover general-table">
                        <thead>
                        <tr>
                            <th><input type="checkbox" onClick="selectAll(this, 'grupoProdutos')" value=""> Todos</th>
                            <th>Produto</th>
                            <th>Descrição</th>
                        </tr>
                        <tbody id="listFiltroGrupoDeProdutos">
                        </tbody>
                        </thead>
                    </table>
                </div>
                <div class="col-md-12">&nbsp;</div>
                    <button type="button" class="btn btn-primary right-stat-bar" name="btn-concluir-3">Concluir <i class="material-icons md-24 ">check</i></button>
                    <button type="button" class="btn btn-default right-stat-bar" name="btn-fechar-3">Fechar <i class="fa fa-times"></i></button>
            </div>

        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="select-cod-list-fabricante" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title"><b>Lista Fabricante</b></h4>
            </div>
            <div class="modal-body">
                <div id="win-1" class="tab-pane active" style="overflow: auto; max-height: 240px;">
                    <table class="table  table-hover general-table">
                        <thead>
                        <tr>
                            <th><input type="checkbox" onClick="selectAll(this, 'fabricante')" value=""> Todos</th>
                            <th>Produto</th>
                            <th>Descrição</th>
                        </tr>
                        <tbody id="listFiltroFabricante">
                        </tbody>
                        </thead>
                    </table>
                </div>
                <div class="col-md-12">&nbsp;</div>
                    <button type="button" class="btn btn-primary right-stat-bar" name="btn-concluir-4">Concluir <i class="material-icons md-24 ">check</i></button>
                    <button type="button" class="btn btn-default right-stat-bar" name="btn-fechar-4">Fechar <i class="fa fa-times"></i></button>
            </div>

        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="select-cod-list-representante" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title"><b>Lista Representante</b></h4>
            </div>
            <div class="modal-body">
                <div id="win-1" class="tab-pane active" style="overflow: auto; max-height: 240px;">
                    <table class="table  table-hover general-table">
                        <thead>
                        <tr>
                            <th><input type="checkbox" onClick="selectAll(this, 'representante')" value=""> Todos</th>
                            <th>Produto</th>
                            <th>Descrição</th>
                        </tr>
                        <tbody id="listFiltroRepresentante">
                        </tbody>
                        </thead>
                    </table>
                </div>
                <div class="col-md-12">&nbsp;</div>
                    <button type="button" class="btn btn-primary right-stat-bar" name="btn-concluir-5">Concluir <i class="material-icons md-24 ">check</i></button>
                    <button type="button" class="btn btn-default right-stat-bar" name="btn-fechar-5">Fechar <i class="fa fa-times"></i></button>
            </div>

        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="alert-filter" class="modal fade">
     <div class="modal-dialog2">
         <div class="modal-content">
             <div class="modal-header">
                 <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                 <h4 class="modal-title"><b>Resultado do filtro</b></h4>
             </div>
             <div class="modal-body">
                 O filtro aplicado não retornou resultado!
                 <div class="col-md-12">&nbsp;</div>
                 <button type="button" id="btn-return-filter" class="btn btn-info" value="cfinomfor">Novo filtro <i class="fa fa-filter"></i></button>
                 <button type="button" id="btn-cancel-alert" class="btn btn-default right-stat-bar">Cancelar <i class="fa fa-times"></i></button>
             </div>

         </div>
     </div>
 </div>
 <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="alert-detalhes" class="modal fade">
     <div class="modal-dialog2">
         <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title"><b>Detalhes da consulta</b></h4>
            </div>
            <div class="modal-body">
                <b>Intervalo de datas:</b><br>
                "01/01/2013" até "31/07/2014" <br>
                <div class="col-md-12">&nbsp;</div>
                <button type="button" id="btn-cancel-alert-detalhes" class="btn btn-default right-stat-bar">Fechar <i class="fa fa-times"></i></button>
            </div>
         </div>
     </div>
 </div>
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="select-cod" class="modal fade">
    <div class="modal-dialog2">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title"><b>Selecionar intervalo</b></h4>
            </div>
            <div class="modal-body">
                <b>Código inicial:</b><br> 
                <div class="input-group m-bot15">
                        <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button href="#select-cod-list" data-toggle="modal" class="btn2 btn-info" type="button"><i class="fa fa-list"></i></button>
                    </span>
                </div>
                <b>Código final:</b><br> 
                <div class="input-group m-bot15">
                        <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button href="#select-cod-list" data-toggle="modal" class="btn2 btn-info" type="button"><i class="fa fa-list"></i></button>
                    </span>
                </div>
                <div class="col-md-12">&nbsp;</div>
                <button type="button" class="btn btn-primary right-stat-bar" name="btn-concluir">Concluir <i class="material-icons md-24 ">check</i></button>
                <button type="button" class="btn btn-default right-stat-bar" name="btn-fechar">Fechar <i class="fa fa-times"></i></button>
            </div>

        </div>
    </div>
</div>