<div class="btn-group" title="<?= $this->opcoes->getTitle() ?>">
    <a id="configFiltro" class="dropdown-toggle btn btn-circle">
        <div id="reportrange">
            <i class="icon-calendar"></i>&nbsp;
            <span id="urlDate"><?= $this->valores['inicial'] ?> - <?= $this->valores['final'] ?></span>
            <input type="hidden" class="sr-only" name="intervaloData" value='<?= json_encode($this->valores) ?>'/>
            <b class="fa fa-angle-down"></b>
        </div>
    </a>
</div>