<div class="btn-group">
    <a href="#" class="dropdown-toggle btn btn-circle" data-toggle="dropdown" data-close-others="true" aria-expanded="true">
        <i class="icon-user"></i>
        <span>
            Lojas
        </span>
        <i class="fa fa-angle-down"></i>
    </a>
    <div class="dropdown-menu hold-on-click dropdown-menu-right">
        <ul class="rep-list-with-confirm">
            <li onclick="selecionarTodos(this)">
                <a href="#">
                    Selecionar / Remover todos
                </a>
            </li>
            <?php foreach ($this->lojas as $loja) : ?>
                <li>
                    <a href="#">
                        <input value="<?= $loja->getCodigo() ?>" name="loja" class="checker" type="checkbox">
                        <?= $loja->getCodigo() ?> - <?= ucfirst(strtolower($loja->getFantasia())) ?>
                    </a>
                </li>
            <?php endforeach; ?>
        </ul>
        <input class="btn btn-success" onclick="filtrar()" type="button" value="Buscar"/>
    </div>
</div>