<div class="btn-group">
    <a href="#" class="dropdown-toggle btn btn-circle" data-toggle="dropdown" data-close-others="true" aria-expanded="true">
        <i class="icon-globe-alt"></i>
        <span>
            Regioes
        </span>
        <i class="fa fa-angle-down"></i>
    </a>
    <div class="dropdown-menu hold-on-click dropdown-menu-right">
        <ul class="rep-list-with-confirm">
            <li onclick="selecionarTodos(this)">
                <a href="#">
                    Selecionar / Remover todos
                </a>
            </li>
            <?php foreach ($this->regioes as $regiao) : ?>
                <li>
                    <a href="#">
                        <input 
                            type="checkbox" 
                            value="<?= $regiao->getCodigo() ?>" 
                            name="regioes" 
                            class="checker"
                            >
                            <?= ucfirst(strtolower($regiao->getRegiao())) ?>
                    </a>
                </li>
            <?php endforeach; ?>
        </ul>
        <input class="btn btn-success" onclick="filtrar()" type="button" value="Buscar"/>
    </div>
</div>