<?php if ($this->ramosAtividade->current()) : ?>
    <div class="btn-group">
        <a href="#" class="dropdown-toggle btn btn-circle" data-toggle="dropdown" data-close-others="true" aria-expanded="true">
            <i class="icon-briefcase"></i>
            <span>
                Ramo de Atividade
            </span>
            <i class="fa fa-angle-down"></i>
        </a>
        <div class="dropdown-menu hold-on-click dropdown-menu-right">
            <ul class="rep-list-with-confirm">
                <li onclick="selecionarTodos(this)">
                    <a href="#">
                        Selecionar / Remover todos
                    </a>
                </li>
                <?php foreach ($this->ramosAtividade as $ramoAtividade) : ?>
                    <li>
                        <a href="#">
                            <input 
                                type="checkbox" 
                                value="<?= $ramoAtividade->getCodigo() ?>" 
                                name="ramoAtividade" 
                                class="checker"
                                >
                                <?= ucfirst(strtolower($ramoAtividade->getRamo())) ?>
                        </a>
                    </li>
                <?php endforeach; ?>
            </ul>
            <input class="btn btn-success" onclick="filtrar()" type="button" value="Buscar"/>
        </div>
    </div>
<?php endif; ?>