<div class="btn-group">
    <a href="#">
        <select name="regioes" onchange="filtrar()" class="form-control input-medium">
            <?php foreach ($this->regioes as $regioes): ?>
                <option 
                    value="<?= $regioes->getCodigo() ?>"
                    <?php if (isset(filter_input(INPUT_GET, 'filtro')[1]) && $regioes->getCodigo() === split('-', filter_input(INPUT_GET, 'filtro'))[1]) : ?>
                        selected="selected"
                    <?php endif; ?>
                    >
                        <?= ucwords(strtolower($regioes->getRegiao())) ?>
                </option>
            <?php endforeach ?>
        </select>
    </a>
</div>