<div class="btn-group">
    <a href="#" class="dropdown-toggle btn btn-circle" data-toggle="dropdown" data-close-others="true" aria-expanded="true">
        <i class="icon-user"></i>
        <span>
            Representante
        </span>
        <i class="fa fa-angle-down"></i>
    </a>
    <div class="dropdown-menu hold-on-click dropdown-menu-right">
        <ul class="rep-list-with-confirm">
            <li>
                <a 
                    href="#"
                    onclick="filtrarRepresentante(this)"
                    data-nome="Representante"
                    >
                    <!--data-codigo="0"-->

                    Todos Representantes

                </a>
            </li>
            <?php foreach ($this->representantes as $key => $representante) : ?>
                <li>
                    <a
                        href="#"
                        onclick="filtrarRepresentante(this)"
                        data-codigo="<?= $representante->getCodigo() ?>"
                        data-nome="<?= ucfirst(strtolower($representante->getNome())) ?>"
                        >

                        <?= $representante->getCodigo() ?> - <?= ucfirst(strtolower($representante->getNome())) ?>

                    </a>
                </li>
            <?php endforeach; ?>
        </ul>
        <input type="hidden" class="sr-only" name="representante" value="" />
    </div>
</div>