<div class="btn-group">
    <a type="button" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
        <i class="icon-info"></i>
        <span id="TitleTodos">
            Todos&nbsp;
        </span>
        <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="#" onclick="filtrarStatus();">
                Todos
            </a>
        </li>
        <?php foreach ($this->status as $status) : ?>
            <li>
                <a href="#" onclick="filtrarStatus();" >
                    <?= $status ?>
                    <input type="hidden" name="status" value="<?= $status ?>"/>
                </a>
            </li>
        <?php endforeach; ?>
    </ul>
</div>