<div class="btn-group">
    <a href="#" class="dropdown-toggle btn btn-circle" data-toggle="dropdown" data-close-others="true" aria-expanded="true">
        <i class="icon-user"></i>
        <span>
            Tipo da pessoa
        </span>
        <i class="fa fa-angle-down"></i>
    </a>
    <div class="dropdown-menu hold-on-click dropdown-menu-right">
        <ul class="rep-list-with-confirm">
            <li>
                <a href="#" class="radio-list">
                    <label for="tipoPessoa0">
                        <input type="radio" name="tipoPessoa" id="tipoPessoa0" onchange="filtrar()" value="" class="checker" checked>
                        Todos
                    </label>
                </a>
            </li>
            <li>
                <a href="#" class="radio-list">
                    <label for="tipoPessoaF">
                        <input type="radio" name="tipoPessoa" id="tipoPessoaF" onchange="filtrar()" value="F" class="checker">
                        Pessoa fisica
                    </label>
                </a>
            </li>
            <li>
                <a href="#" class="radio-list">
                    <label for="tipoPessoaJ">
                        <input type="radio" name="tipoPessoa" id="tipoPessoaJ" onchange="filtrar()" value="J" class="checker">
                        Pessoa juridica
                    </label>
                </a>
            </li>
        </ul>
    </div>
</div>