<div class="Formulario" style="display: none;">

    <div class="row panelsTotais">
        <div class="col-sm-6 col-xs-12 ">
            <!--col-lg-4 col-md-4-->
            <div class="dashboard-stat2"  style="cursor: pointer;">
                <div class="display">
                    <div class="number">
                        <h3 class="font-blue-soft">
                            <span id="qtdRecursos" data-counter="counterup">0</span>
                            <!--<small class="font-green-sharp"></small>-->
                        </h3>
                        <small>Recursos</small>
                    </div>
                    <div class="icon">
                        <i class="icon-social-dropbox font-maior"></i>
                    </div>
                </div>
                <div class="progress-info">
                    <div class="progress">
                        <span style="width: 100%;" class="progress-bar progress-bar-success blue-soft">
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-xs-12">
            <div class="dashboard-stat2" style="cursor: pointer;">
                <div class="display">
                    <div class="number">
                        <h3 class="font-blue-soft">
                            <span id="valorTotal" data-counter="counterup">R$ 0,00</span>
                            <!--<small class="font-green-sharp"></small>-->
                        </h3>
                        <small>Total</small>
                    </div>
                    <div class="icon">
                        <i class="icon-pie-chart font-maior"></i>
                    </div>
                </div>
                <div class="progress-info">
                    <div class="progress">
                        <span style="width: 100%;" class="progress-bar progress-bar-success blue-soft">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="tabbable-custom">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#tab1" id="TabPlano" data-toggle="tab" aria-expanded="true"> Principal </a>
            </li>
            <li class="">
                <a href="#tab2" id="TabRecursosContratado" data-toggle="tab" aria-expanded="true"> Recursos disponiveis </a>
            </li>
        </ul>
        <div class="tab-content" style="border: 0px solid !important;">
            <div class="tab-pane active" id="tab1">

                <form method="POST" id="plano" class="horizontal-form conexao">
                    <span class="form-subtitulo">
                        <h3>Condições do plano</h3>
                    </span>
                    <hr class="divider">
                    <div class="form-body">
                        <input type="number" placeholder="Id" name="id" id="id" style="display: none;">

                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="idSistema" class="control-label">Sistema cadastrado<span class="required" aria-required="true"> * </span></label>
                                    <div class="input-group">
                                        <input type="text" placeholder="999 - SISTEMA EXEMPLO"  name="idSistema" id="idSistema" class="form-control" readonly="readonly" required>
                                        <span id="buscarCliente" onclick="$('#modalSistema').modal();" class="input-group-addon" style="border-color: #2a3f54;background-color: #34485c;">
                                            <i class="fa fa-search" style="color:#FFF;"></i>
                                        </span>
                                    </div>

                                    <span class="help-block">Selecione um sistema já cadastrado!</span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="descricao" class="control-label">Descrição<span class="required" aria-required="true"> * </span></label>
                                    <input type="text" placeholder="Plano Gold"  name="descricao" id="descricao" class="form-control" required>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="ativo" class="control-label">Ativação</label>
                                    <input id="ativo" name="ativo" class="form-control" type="checkbox" style="width: 25px!important;"/>
                                </div>
                            </div>

                        </div>



                        <div class="row" style="border-top:1px solid #eee;">
                            <div class="col-sm-12 form-footer" style="margin-top:10px;">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-danger" onclick="formularioPlano.transicaoLayout2(false);">
                                        <i class="material-icons md-24 ">arrow_back</i> Voltar
                                    </button>
                                    <button type="button" class="btn btn-success" onclick="formularioPlano.confirmarAlteracaoDeRegistro();">
                                        <i class="material-icons md-24 ">check</i> Salvar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>

        </div>



        <div class="tab-pane active" id="tab2" style="display: none;">

            <div class="form-inline GridRecursoContratado">
                <div class="datatableRecursoContratado_Filtros">
                    <span id="datatableRecursoContratado_FiltroGridBuscaLeng" mover="false" style="margin-rigth:5px;">

                    </span>
                    <span id="datatableRecursoContratado_FiltroGridBuscaColuna">
                        <select name="colunaBusca" class="form-control pull-left" style="margin-left:5px;">
                        </select>
                    </span>
                    <span id="datatableRecursoContratado_FiltroGridBuscaTipo">
                        <select name="formaBusca" class="form-control pull-left" style="margin-left:5px;">
                        </select>
                    </span>
                    <span id="datatableRecursoContratado_FiltroGridBusca" >

                    </span>
                    <span class="" >
                        <button type="reset" id="datatableRecursoContratado_FiltroGridBuscaLimpar" class="btn btn-warning" style="margin-bottom: 5px;margin-left:5px;">
                            <i class="material-icons md-18">autorenew</i>
                            Limpar
                        </button>
                    </span>
                    <span class="" >
                        <button id="btnAdicaoRecurso" onclick="$('#modalRecurso').modal();" class="btn btn-success" style="margin-bottom: 5px;margin-left:5px;">
                            <i class="material-icons md-18">add</i>
                            Adicionar
                        </button>
                    </span>
                </div>
            </div>

            <div class="x_content GridRecursoContratado">

                <table id="datatableRecursoContratado" class="table table-striped">
                    <thead>
                        <tr>
                            <!--<th value="id">Id</th>-->
                            <th value="recurso">Recurso</th>
                            <th value="submodule">Submodule</th>
                            <th value="quantidade">Qtd. Liberada</th>
                            <th value="preco">Valor unitario</th>
                            <th value="preco">Subtotal</th>
                            <th value="data">Data da Liberação</th>
                            <th value="false" style="text-align: center;">Exclusão</th>
                        </tr>
                    </thead>

                    <tbody class="GridRecursoContratado">

                    </tbody>
                </table>
            </div>


        </div>
    </div>

</div>
