<div class="portlet light">
    <div id="portlet-title" class="portlet-title">
        <div class="caption col-sm-4">
            <span>
                <?= $this->titulo; ?>&nbsp;
            </span>
        </div>

    </div>
    <div class="portlet-body">

        <div id="checkout" class="row ">
            <br>
            <span style="margin-left:15px;font-weight:400;color:#697882;margin-top:0px; font-size:16px;">Venda(s)</span>
            <hr class="divider-vertical" style="margin-left:15px; margin-right:15px;"><div class="col-sm-2 col-xs-2" style="min-width: 220px; max-width: 220px;"><div id="painel-cielo" style="overflow: hidden;">
                    <!-- BEGIN Portlet PORTLET-->
                    <div class="portlet box green-sharp ng-scope" style="overflow: hidden;border-radius:0px;background-color:#00adef !important; border:2px solid #00adef;" ng-controller="cielo">

                        <div style="
                             z-index: 10;
                             padding-bottom:19px;
                             padding-right: 34px;
                             height: 100%;
                             width: 100%;
                             position: absolute;
                             left: 17px;
                             right: 0;
                             top: 2px;
                             display: none;">
                            <div style="background-color: rgba(153, 153, 153, 0.47);width: 100%;height: 100%;overflow: hidden;">
                                <div style=" padding-top: 25px; /* Rotate div */ -ms-transform: rotate(40deg); /* IE 9 */ -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */ transform: rotate(40deg); ">
                                    <span style="top: -10px;padding: 5px;color:#FFF;font-size:18px;background-color: #D82435;position:absolute;right: 0px;width: 250px;left: 25px;text-align: center;">EM BREVE</span>
                                </div>
                            </div>
                        </div>


                        <div class="portlet-title" style="overflow: hidden;border-radius:0px;background-color:#00adef !important; border:2px solid #00adef;">
                            <div class="caption center" style="max-width: 60%;">
                                Cielo            </div>
                            <div class="actions">
                                <buttom class="btn btn-default btn-sm" style="color:white; border:none;" onclick="AuxiliarAplicativos.abrirUrlLocal('https://www.cielo.com.br/solucoes-de-pagamentos/solucoes-para-e-commerce/index.html', 'novaAba', false);">
                                    Info.&nbsp;<i class="fa fa-tags" style="color:white;" title="Mais informações sobre a ferramenta! "></i>
                                </buttom>
                                <!--                <buttom class="btn btn-default btn-sm" style="color:white;margin-left: 5px;" ng-model="btnRefresh" ng-click="refresh();" >
                                                    <i class="fa fa-refresh" style="color:white;"></i>
                                                </buttom>-->
                            </div>
                        </div>
                        <div class="portlet-body" style="border-radius:0px; min-height: 205px;">
                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: auto;">
                                <div>
                                    <center>
                                        <img src="/images/aplicativos/cielo_flat.png" class=" img-responsive" style="max-width: 75px;">
                                    </center>
                                    <br>
                                    <div class="row list-separated profile-stat" style="margin-top: -10px;margin-bottom: -35px;">
                                        <div class="col-sm-12 col-md-12 col-lg-12">

                                            <div class="uppercase profile-stat-title">
                                                <span>
                                                    <small>Venda(s)</small>                                            </span>
                                            </div>

                                            <div class="uppercase profile-stat-text">
                                                <small>Cobrança mensal</small>                                    </div>
                                        </div>

                                    </div>

                                    <!-- SIDEBAR MENU -->
                                    <div class="profile-usermenu" style="margin-bottom: -20px;">
                                    </div>
                                    <!--                    <div class="profile-usermenu" style="margin-bottom: -20px;">
                                                            <ul class="nav">
                                                                <li class="">
                                                                    <a>
                                                                        <div class='starrr' id='star1'></div>
                                                                        <b>
                                                                            <span>&nbsp;</span>
                                                                            <center class="pull-right">
                                                                                <span>R$</span>
                                                                                <span class="precoAux1" style="display: none;"
                                                                                      ng-bind="ngSimular[app] ? data[app][data[app].length - 1].preco : < $this->painel->getPreco(); ?> | currency:'':2">
                                                                                          < $this->painel->getPreco(); ?>
                                                                                </span>

                                                                                <span class="precoAux2 gerenteGiratorio .numbers-with-commas"
                                                                                      ng-bind="ngSimular[app] ? data[app][data[app].length - 1].preco : < $this->painel->getPreco(); ?> | currency:'':2">
                                                                                          <? $this->painel->getPreco(); ?>
                                                                                </span>
                                                                            </center>
                                                                        </b>
                                                                    </a>
                                                                </li>
                                                                <?p if ($this->painel->getContratado()) : ?>
                                                                    <li>
                                                                        <a>
                                                                            <i class="icon-check"></i>
                                                                            Já contratado
                                                                        </a>
                                                                    </li>
                                                                <?ph endif; ?>
                                                                                <li>
                                                                                <a>
                                                                                    <center>

                                                                                    </center>
                                                                                </a>
                                                                                </li>
                                                            </ul>
                                                        </div>
                                    <!-- END MENU -->
                                    <!-- SIDEBAR BUTTONS -->
                                    <div class="profile-userbuttons">
                                        <button id="simular-cielo" type="button" class="btn btn-danger btn-sm ng-pristine ng-untouched ng-valid ng-empty" style="margin-left:10px;display:none;">
                                            cancelar                        </button>
                                        <button style="overflow: hidden;border-radius:0px;background-color:#00adef !important; border:2px solid #00adef;" ng-class="" ng-model="obj[app]" ng-click="contratar();" type="button" class="btn btn-success btn-sm ng-pristine ng-untouched ng-valid ng-empty">
                                            CONFIGURAR                        </button>
                                    </div>
                                    <!-- END SIDEBAR BUTTONS -->
                                </div>
                            </div>
                        </div>
                        <!-- END Portlet PORTLET-->
                    </div>
                </div>
            </div><div class="col-sm-2 col-xs-2" style="min-width: 220px; max-width: 220px;"><div id="painel-pagseguro" style="overflow: hidden;">
                    <!-- BEGIN Portlet PORTLET-->
                    <div class="portlet box green-sharp ng-scope" style="border-radius:0px;background-color:#a0cd56 !important; border:2px solid #a0cd56;" ng-controller="pagseguro">

                        <div style="
                             z-index: 10;
                             padding-bottom:19px;
                             padding-right: 34px;
                             height: 100%;
                             width: 100%;
                             position: absolute;
                             left: 17px;
                             right: 0;
                             top: 2px;
                             display: none;">
                            <div style="background-color: rgba(153, 153, 153, 0.47);width: 100%;height: 100%;overflow: hidden;">
                                <div style=" padding-top: 25px; /* Rotate div */ -ms-transform: rotate(40deg); /* IE 9 */ -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */ transform: rotate(40deg); ">
                                    <span style="top: -10px;padding: 5px;color:#FFF;font-size:18px;background-color: #D82435;position:absolute;right: 0px;width: 250px;left: 25px;text-align: center;">EM BREVE</span>
                                </div>
                            </div>
                        </div>


                        <div class="portlet-title" style="border-radius:0px;background-color:#a0cd56 !important; border:2px solid #a0cd56;">
                            <div class="caption center" style="max-width: 60%;">
                                PagSeguro            </div>
                            <div class="actions">
                                <buttom class="btn btn-default btn-sm" style="color:white; border:none;" onclick="AuxiliarAplicativos.abrirUrlLocal('https://pagseguro.uol.com.br/registration/registration.jhtml?tipo=cadastro#!vendedor', 'novaAba', false);">
                                    Info.&nbsp;<i class="fa fa-tags" style="color:white;" title="Mais informações sobre a ferramenta! "></i>
                                </buttom>
                                <!--                <buttom class="btn btn-default btn-sm" style="color:white;margin-left: 5px;" ng-model="btnRefresh" ng-click="refresh();" >
                                                    <i class="fa fa-refresh" style="color:white;"></i>
                                                </buttom>-->
                            </div>
                        </div>
                        <div class="portlet-body" style="border-radius:0px; min-height: 205px;">
                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: auto;">
                                <div>
                                    <center>
                                        <img src="/images/aplicativos/pagseguro_flat.png" class=" img-responsive" style="max-width: 75px;">
                                    </center>
                                    <br>
                                    <div class="row list-separated profile-stat" style="margin-top: -10px;margin-bottom: -35px;">
                                        <div class="col-sm-12 col-md-12 col-lg-12">

                                            <div class="uppercase profile-stat-title">
                                                <span>
                                                    <small>Venda(s)</small>                                            </span>
                                            </div>

                                            <div class="uppercase profile-stat-text">
                                                <small>Cobrança mensal</small>                                    </div>
                                        </div>

                                    </div>

                                    <!-- SIDEBAR MENU -->
                                    <div class="profile-usermenu" style="margin-bottom: -20px;">
                                    </div>
                                    <!--                    <div class="profile-usermenu" style="margin-bottom: -20px;">
                                                            <ul class="nav">
                                                                <li class="">
                                                                    <a>
                                                                        <div class='starrr' id='star1'></div>
                                                                        <b>
                                                                            <span>&nbsp;</span>
                                                                            <center class="pull-right">
                                                                                <span>R$</span>
                                                                                <span class="precoAux1" style="display: none;"
                                                                                      ng-bind="ngSimular[app] ? data[app][data[app].length - 1].preco : < $this->painel->getPreco(); ?> | currency:'':2">
                                                                                          < $this->painel->getPreco(); ?>
                                                                                </span>

                                                                                <span class="precoAux2 gerenteGiratorio .numbers-with-commas"
                                                                                      ng-bind="ngSimular[app] ? data[app][data[app].length - 1].preco : < $this->painel->getPreco(); ?> | currency:'':2">
                                                                                          <? $this->painel->getPreco(); ?>
                                                                                </span>
                                                                            </center>
                                                                        </b>
                                                                    </a>
                                                                </li>
                                                                <?p if ($this->painel->getContratado()) : ?>
                                                                    <li>
                                                                        <a>
                                                                            <i class="icon-check"></i>
                                                                            Já contratado
                                                                        </a>
                                                                    </li>
                                                                <?ph endif; ?>
                                                                                <li>
                                                                                <a>
                                                                                    <center>

                                                                                    </center>
                                                                                </a>
                                                                                </li>
                                                            </ul>
                                                        </div>
                                    <!-- END MENU -->
                                    <!-- SIDEBAR BUTTONS -->
                                    <div class="profile-userbuttons">
                                        <button id="simular-pagseguro" type="button" class="btn btn-danger btn-sm ng-pristine ng-untouched ng-valid ng-empty" style="margin-left:10px;display:none;">
                                            cancelar                        </button>
                                        <button style="border-radius:0px;background-color:#a0cd56 !important; border:2px solid #a0cd56;" ng-class="" ng-model="obj[app]" ng-click="contratar();" type="button" class="btn btn-success btn-sm ng-pristine ng-untouched ng-valid ng-empty">
                                            CONFIGURAR                        </button>
                                    </div>
                                    <!-- END SIDEBAR BUTTONS -->
                                </div>
                            </div>
                        </div>
                        <!-- END Portlet PORTLET-->
                    </div>
                </div>
            </div><div class="col-sm-2 col-xs-2" style="min-width: 220px; max-width: 220px;"><div id="painel-moip" style="overflow: hidden;">
                    <!-- BEGIN Portlet PORTLET-->
                    <div class="portlet box green-sharp ng-scope" style="border-radius:0px;background-color:#104a7b !important; border:2px solid #104a7b;" ng-controller="moip">

                        <div style="
                             z-index: 10;
                             padding-bottom:19px;
                             padding-right: 34px;
                             height: 100%;
                             width: 100%;
                             position: absolute;
                             left: 17px;
                             right: 0;
                             top: 2px;
                             display: none;">
                            <div style="background-color: rgba(153, 153, 153, 0.47);width: 100%;height: 100%;overflow: hidden;">
                                <div style=" padding-top: 25px; /* Rotate div */ -ms-transform: rotate(40deg); /* IE 9 */ -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */ transform: rotate(40deg); ">
                                    <span style="top: -10px;padding: 5px;color:#FFF;font-size:18px;background-color: #D82435;position:absolute;right: 0px;width: 250px;left: 25px;text-align: center;">EM BREVE</span>
                                </div>
                            </div>
                        </div>


                        <div class="portlet-title" style="border-radius:0px;background-color:#104a7b !important; border:2px solid #104a7b;">
                            <div class="caption center" style="max-width: 60%;">
                                Moip            </div>
                            <div class="actions">
                                <buttom class="btn btn-default btn-sm" style="color:white; border:none;" onclick="AuxiliarAplicativos.abrirUrlLocal('https://cadastro.moip.com.br/', 'novaAba', false);">
                                    Info.&nbsp;<i class="fa fa-tags" style="color:white;" title="Mais informações sobre a ferramenta! "></i>
                                </buttom>
                                <!--                <buttom class="btn btn-default btn-sm" style="color:white;margin-left: 5px;" ng-model="btnRefresh" ng-click="refresh();" >
                                                    <i class="fa fa-refresh" style="color:white;"></i>
                                                </buttom>-->
                            </div>
                        </div>
                        <div class="portlet-body" style="border-radius:0px; min-height: 205px;">
                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: auto;">
                                <div>
                                    <center>
                                        <img src="/images/aplicativos/moip_flat.png" class=" img-responsive" style="max-width: 75px;">
                                    </center>
                                    <br>
                                    <div class="row list-separated profile-stat" style="margin-top: -10px;margin-bottom: -35px;">
                                        <div class="col-sm-12 col-md-12 col-lg-12">

                                            <div class="uppercase profile-stat-title">
                                                <span>
                                                    <small>Venda(s)</small>                                            </span>
                                            </div>

                                            <div class="uppercase profile-stat-text">
                                                <small>Cobrança mensal</small>                                    </div>
                                        </div>

                                    </div>

                                    <!-- SIDEBAR MENU -->
                                    <div class="profile-usermenu" style="margin-bottom: -20px;">
                                    </div>
                                    <!--                    <div class="profile-usermenu" style="margin-bottom: -20px;">
                                                            <ul class="nav">
                                                                <li class="">
                                                                    <a>
                                                                        <div class='starrr' id='star1'></div>
                                                                        <b>
                                                                            <span>&nbsp;</span>
                                                                            <center class="pull-right">
                                                                                <span>R$</span>
                                                                                <span class="precoAux1" style="display: none;"
                                                                                      ng-bind="ngSimular[app] ? data[app][data[app].length - 1].preco : < $this->painel->getPreco(); ?> | currency:'':2">
                                                                                          < $this->painel->getPreco(); ?>
                                                                                </span>

                                                                                <span class="precoAux2 gerenteGiratorio .numbers-with-commas"
                                                                                      ng-bind="ngSimular[app] ? data[app][data[app].length - 1].preco : < $this->painel->getPreco(); ?> | currency:'':2">
                                                                                          <? $this->painel->getPreco(); ?>
                                                                                </span>
                                                                            </center>
                                                                        </b>
                                                                    </a>
                                                                </li>
                                                                <?p if ($this->painel->getContratado()) : ?>
                                                                    <li>
                                                                        <a>
                                                                            <i class="icon-check"></i>
                                                                            Já contratado
                                                                        </a>
                                                                    </li>
                                                                <?ph endif; ?>
                                                                                <li>
                                                                                <a>
                                                                                    <center>

                                                                                    </center>
                                                                                </a>
                                                                                </li>
                                                            </ul>
                                                        </div>
                                    <!-- END MENU -->
                                    <!-- SIDEBAR BUTTONS -->
                                    <div class="profile-userbuttons">
                                        <button id="simular-moip" type="button" class="btn btn-danger btn-sm ng-pristine ng-untouched ng-valid ng-empty" style="margin-left:10px;display:none;">
                                            cancelar                        </button>
                                        <button style="border-radius:0px;background-color:#104a7b !important; border:2px solid #104a7b;" ng-class="" ng-model="obj[app]" ng-click="contratar();" type="button" class="btn btn-success btn-sm ng-pristine ng-untouched ng-valid ng-empty">
                                            CONFIGURAR                        </button>
                                    </div>
                                    <!-- END SIDEBAR BUTTONS -->
                                </div>
                            </div>
                        </div>
                        <!-- END Portlet PORTLET-->
                    </div>
                </div>
            </div><div class="col-sm-2 col-xs-2" style="min-width: 220px; max-width: 220px;"><div id="painel-rede" style="overflow: hidden;">
                    <!-- BEGIN Portlet PORTLET-->
                    <div class="portlet box green-sharp ng-scope" style="overflow: hidden;border-radius:0px;background-color:#eb7000 !important; border:2px solid #eb7000;" ng-controller="rede">

                        <div style="
                             z-index: 10;
                             padding-bottom:19px;
                             padding-right: 34px;
                             height: 100%;
                             width: 100%;
                             position: absolute;
                             left: 17px;
                             right: 0;
                             top: 2px;
                             display: none;">
                            <div style="background-color: rgba(153, 153, 153, 0.47);width: 100%;height: 100%;overflow: hidden;">
                                <div style=" padding-top: 25px; /* Rotate div */ -ms-transform: rotate(40deg); /* IE 9 */ -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */ transform: rotate(40deg); ">
                                    <span style="top: -10px;padding: 5px;color:#FFF;font-size:18px;background-color: #D82435;position:absolute;right: 0px;width: 250px;left: 25px;text-align: center;">EM BREVE</span>
                                </div>
                            </div>
                        </div>


                        <div class="portlet-title" style="overflow: hidden;border-radius:0px;background-color:#eb7000 !important; border:2px solid #eb7000;">
                            <div class="caption center" style="max-width: 60%;">
                                Rede            </div>
                            <div class="actions">
                                <buttom class="btn btn-default btn-sm" style="color:white; border:none;" onclick="AuxiliarAplicativos.abrirUrlLocal('https://www.userede.com.br/', 'novaAba', false);">
                                    Info.&nbsp;<i class="fa fa-tags" style="color:white;" title="Mais informações sobre a ferramenta! "></i>
                                </buttom>
                                <!--                <buttom class="btn btn-default btn-sm" style="color:white;margin-left: 5px;" ng-model="btnRefresh" ng-click="refresh();" >
                                                    <i class="fa fa-refresh" style="color:white;"></i>
                                                </buttom>-->
                            </div>
                        </div>
                        <div class="portlet-body" style="border-radius:0px; min-height: 205px;">
                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: auto;">
                                <div>
                                    <center>
                                        <img src="/images/aplicativos/rede_flat.png" class=" img-responsive" style="max-width: 75px;">
                                    </center>
                                    <br>
                                    <div class="row list-separated profile-stat" style="margin-top: -10px;margin-bottom: -35px;">
                                        <div class="col-sm-12 col-md-12 col-lg-12">

                                            <div class="uppercase profile-stat-title">
                                                <span>
                                                    <small>Venda(s)</small>                                            </span>
                                            </div>

                                            <div class="uppercase profile-stat-text">
                                                <small>Cobrança mensal</small>                                    </div>
                                        </div>

                                    </div>

                                    <!-- SIDEBAR MENU -->
                                    <div class="profile-usermenu" style="margin-bottom: -20px;">
                                    </div>
                                    <!--                    <div class="profile-usermenu" style="margin-bottom: -20px;">
                                                            <ul class="nav">
                                                                <li class="">
                                                                    <a>
                                                                        <div class='starrr' id='star1'></div>
                                                                        <b>
                                                                            <span>&nbsp;</span>
                                                                            <center class="pull-right">
                                                                                <span>R$</span>
                                                                                <span class="precoAux1" style="display: none;"
                                                                                      ng-bind="ngSimular[app] ? data[app][data[app].length - 1].preco : < $this->painel->getPreco(); ?> | currency:'':2">
                                                                                          < $this->painel->getPreco(); ?>
                                                                                </span>

                                                                                <span class="precoAux2 gerenteGiratorio .numbers-with-commas"
                                                                                      ng-bind="ngSimular[app] ? data[app][data[app].length - 1].preco : < $this->painel->getPreco(); ?> | currency:'':2">
                                                                                          <? $this->painel->getPreco(); ?>
                                                                                </span>
                                                                            </center>
                                                                        </b>
                                                                    </a>
                                                                </li>
                                                                <?p if ($this->painel->getContratado()) : ?>
                                                                    <li>
                                                                        <a>
                                                                            <i class="icon-check"></i>
                                                                            Já contratado
                                                                        </a>
                                                                    </li>
                                                                <?ph endif; ?>
                                                                                <li>
                                                                                <a>
                                                                                    <center>

                                                                                    </center>
                                                                                </a>
                                                                                </li>
                                                            </ul>
                                                        </div>
                                    <!-- END MENU -->
                                    <!-- SIDEBAR BUTTONS -->
                                    <div class="profile-userbuttons">
                                        <button id="simular-rede" type="button" class="btn btn-danger btn-sm ng-pristine ng-untouched ng-valid ng-empty" style="margin-left:10px;display:none;">
                                            cancelar                        </button>
                                        <button style="overflow: hidden;border-radius:0px;background-color:#eb7000 !important; border:2px solid #eb7000;" ng-class="" ng-model="obj[app]" ng-click="contratar();" type="button" class="btn btn-success btn-sm ng-pristine ng-untouched ng-valid ng-empty">
                                            CONFIGURAR                        </button>
                                    </div>
                                    <!-- END SIDEBAR BUTTONS -->
                                </div>
                            </div>
                        </div>
                        <!-- END Portlet PORTLET-->
                    </div>
                </div>
            </div>
        </div>

        <!--<?hp var_dump($this->apps);-->
        <!--die();-->
        <!--?>-->

<!--<php foreach ($this->apps as $key => $value) : ?>-->

                <!--<?hp include __DIR__ . '/painel.phtml'; ?>-->
            <!--<= $this->render('layout-offline/painel', ['painel' => $value]); ?>-->

<!--<php endforeach; ?>-->

        <!--<div class="clearfix"></div>-->
    </div>
</div>
