<div class="modals">
    <div aria-hidden="true" aria-labelledby="" role="dialog" tabindex="-1" id="modal" class="UploadLogo modal fade">
        <div class="modal-dialog">
            <div class="modal-content" style="border-radius:0px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <center>
                        <h4 class="modal-title">
                            <b>
                                UPLOAD LOGO
                            </b>
                        </h4>
                    </center>
                </div>
                <div class="panel-body">
                    <div class="tab-pane active">
                        <form action=""  class="" drop-zone="" id="file-dropzone">
                        </form>
                    </div>

                    <hr class="separator">
                    <center>
                        <button type="button" class="btn btn-large btn-success" data-dismiss="modal" aria-hidden="true"><i class="material-icons md-24 ">check</i> OK</button>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="" role="dialog" tabindex="-1" id="modalClienteMax" class="selecionarClienteMax modal fade">
        <div class="modal-dialog modal-full" style="margin-left: 20px;">
            <div class="modal-content" style="border-radius:0px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <center>
                        <h4 class="modal-title">
                            <b>
                                SELECIONAR CLIENTE MAX SCALLA
                            </b>
                        </h4>
                    </center>
                </div>
                <div class="panel-body">
                    <div class="tab-pane active">

                        <div class="form-inline GridEmpresas">
                            <div class="datatableEmpresas_Filtros">
                                <span id="datatableEmpresas_FiltroGridBuscaLeng" mover="false" style="margin-rigth:5px;">

                                </span>
                                <span id="datatableEmpresas_FiltroGridBuscaColuna">
                                    <select name="colunaBusca" class="form-control pull-left" style="margin-left:5px;">
                                    </select>
                                </span>
                                <span id="datatableEmpresas_FiltroGridBuscaTipo">
                                    <select name="formaBusca" class="form-control pull-left" style="margin-left:5px;">
                                    </select>
                                </span>
                                <span id="datatableEmpresas_FiltroGridBusca" >

                                </span>
                                <span class="" >
                                    <button type="reset" id="datatableEmpresas_FiltroGridBuscaLimpar" class="btn btn-warning" style="margin-bottom: 5px;margin-left:5px;">
                                        <i class="material-icons md-18">autorenew</i>
                                        Limpar
                                    </button>
                                </span>
                            </div>
                        </div>

                        <table id="datatableEmpresas" class="table table-striped">
                            <thead>
                                <tr>
                                    <th value="id">Id</th>
                                    <th value="fantasia">Fantasia</th>
                                    <th value="documento">Documento</th>
                                    <th value="false">Selecionar</th>
                                </tr>
                            </thead>
                            <tbody class="GridEmpresas">

                            </tbody>
                        </table>

                    </div>
                    <hr class="separator">
                    <center>
                        <button type="button" class="btn btn-large btn-success" data-dismiss="modal" aria-hidden="true"><i class="material-icons md-24 ">check</i> OK</button>
                    </center>
                </div>
            </div>
        </div>
    </div>


    <div aria-hidden="true" aria-labelledby="" role="dialog" tabindex="-1" id="modalSistema" class="selecionarSistema modal fade">
        <div class="modal-dialog modal-full" style="margin-left: 20px;">
            <div class="modal-content" style="border-radius:0px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <center>
                        <h4 class="modal-title">
                            <b>
                                SELECIONAR SISTEMA
                            </b>
                        </h4>
                    </center>
                </div>
                <div class="panel-body">
                    <div class="tab-pane active">

                        <div class="form-inline GridSistema">
                            <div class="datatableSistema_Filtros">
                                <span id="datatableSistema_FiltroGridBuscaLeng" mover="false" style="margin-rigth:5px;">

                                </span>
                                <span id="datatableSistema_FiltroGridBuscaColuna">
                                    <select name="colunaBusca" class="form-control pull-left" style="margin-left:5px;">
                                    </select>
                                </span>
                                <span id="datatableSistema_FiltroGridBuscaTipo">
                                    <select name="formaBusca" class="form-control pull-left" style="margin-left:5px;">
                                    </select>
                                </span>
                                <span id="datatableSistema_FiltroGridBusca" >

                                </span>
                                <span class="" >
                                    <button type="reset" id="datatableSistema_FiltroGridBuscaLimpar" class="btn btn-warning" style="margin-bottom: 5px;margin-left:5px;">
                                        <i class="material-icons md-18">autorenew</i>
                                        Limpar
                                    </button>
                                </span>
                            </div>
                        </div>

                        <table id="datatableSistema" class="table table-striped">
                            <thead>
                                <tr>
                                    <th value="id">Id</th>
                                    <th value="nome">Descrição</th>
                                    <th value="false">Selecionar</th>
                                </tr>
                            </thead>
                            <tbody class="GridSistema">

                            </tbody>
                        </table>

                    </div>
                    <hr class="separator">
                    <center>
                        <button type="button" class="btn btn-large btn-success" data-dismiss="modal" aria-hidden="true"><i class="material-icons md-24 ">check</i> OK</button>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="" role="dialog" tabindex="-1" id="modalPlano" class="selecionarPlano modal fade">
        <div class="modal-dialog modal-full" style="margin-left: 20px;">
            <div class="modal-content" style="border-radius:0px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <center>
                        <h4 class="modal-title">
                            <b>
                                SELECIONAR PLANO
                            </b>
                        </h4>
                    </center>
                </div>
                <div class="panel-body">
                    <div class="tab-pane active">

                        <div class="form-inline GridPlano">
                            <div class="datatablePlanos_Filtros">
                                <span id="datatablePlanos_FiltroGridBuscaLeng" mover="false" style="margin-rigth:5px;">

                                </span>
                                <span id="datatablePlanos_FiltroGridBuscaColuna">
                                    <select name="colunaBusca" class="form-control pull-left" style="margin-left:5px;">
                                    </select>
                                </span>
                                <span id="datatablePlanos_FiltroGridBuscaTipo">
                                    <select name="formaBusca" class="form-control pull-left" style="margin-left:5px;">
                                    </select>
                                </span>
                                <span id="datatablePlanos_FiltroGridBusca" >

                                </span>
                                <span class="" >
                                    <button type="reset" id="datatablePlanos_FiltroGridBuscaLimpar" class="btn btn-warning" style="margin-bottom: 5px;margin-left:5px;">
                                        <i class="material-icons md-18">autorenew</i>
                                        Limpar
                                    </button>
                                </span>
                            </div>
                        </div>

                        <table id="datatablePlanos" class="table table-striped">
                            <thead>
                                <tr>
                                    <th value="id">Id</th>
                                    <th value="nome">Descrição</th>
                                    <th value="sistema">Sistema</th>
                                    <!--<th value="preco">Preço</th>-->
                                    <th value="false">Selecionar</th>
                                </tr>
                            </thead>
                            <tbody class="GridPlano">

                            </tbody>
                        </table>

                    </div>
                    <hr class="separator">
                    <center>
                        <button type="button" class="btn btn-large btn-success" data-dismiss="modal" aria-hidden="true"><i class="material-icons md-24 ">check</i> OK</button>
                    </center>
                </div>
            </div>
        </div>
    </div>


    <div aria-hidden="true" aria-labelledby="" role="dialog" tabindex="-1" id="modalConexao" class="selecionarConexao modal fade">
        <div class="modal-dialog modal-full" style="margin-left: 20px;">
            <div class="modal-content" style="border-radius:0px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <center>
                        <h4 class="modal-title">
                            <b>
                                SELECIONAR CONEXÃO
                            </b>
                        </h4>
                    </center>
                </div>
                <div class="panel-body">
                    <div class="tab-pane active">

                        <div class="form-inline GridConexao">
                            <div class="datatableConexao_Filtros">
                                <span id="datatableConexao_FiltroGridBuscaLeng" mover="false" style="margin-rigth:5px;">

                                </span>
                                <span id="datatableConexao_FiltroGridBuscaColuna">
                                    <select name="colunaBusca" class="form-control pull-left" style="margin-left:5px;">
                                    </select>
                                </span>
                                <span id="datatableConexao_FiltroGridBuscaTipo">
                                    <select name="formaBusca" class="form-control pull-left" style="margin-left:5px;">
                                    </select>
                                </span>
                                <span id="datatableConexao_FiltroGridBusca" >

                                </span>
                                <span class="" >
                                    <button type="reset" id="datatableConexao_FiltroGridBuscaLimpar" class="btn btn-warning" style="margin-bottom: 5px;margin-left:5px;">
                                        <i class="material-icons md-18">autorenew</i>
                                        Limpar
                                    </button>
                                </span>
                            </div>
                        </div>

                        <table id="datatableConexao" class="table table-striped">
                            <thead>
                                <tr>
                                    <th value="id">Id</th>
                                    <th value="dominio">Dominio</th>
                                    <th value="ip">Ip</th>
                                    <th value="banco">Banco</th>
                                    <th value="false">Exclusão</th>
                                    <th value="false">Selecionar</th>
                                </tr>
                            </thead>
                            <tbody class="GridConexao">

                            </tbody>
                        </table>

                    </div>
                    <hr class="separator">
                    <center>
                        <button type="button" class="btn btn-large btn-success" data-dismiss="modal" aria-hidden="true"><i class="material-icons md-24 ">check</i> OK</button>
                    </center>
                </div>
            </div>
        </div>
    </div>


    <div aria-hidden="true" aria-labelledby="" role="dialog" tabindex="-1" id="modalRecurso" class="selecionarRecurso modal fade">
        <div class="modal-dialog modal-full" style="margin-left: 20px;">
            <div class="modal-content" style="border-radius:0px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <center>
                        <h4 class="modal-title">
                            <b>
                                ADIÇÃO DE RECURSO
                            </b>
                        </h4>
                    </center>
                </div>
                <div class="panel-body">
                    <div class="tab-pane active">

                        <div class="form-inline GridRecurso">
                            <div class="datatableRecurso_Filtros">
                                <span id="datatableRecurso_FiltroGridBuscaLeng" mover="false" style="margin-rigth:5px;">

                                </span>
                                <span id="datatableRecurso_FiltroGridBuscaColuna">
                                    <select name="colunaBusca" class="form-control pull-left" style="margin-left:5px;">
                                    </select>
                                </span>
                                <span id="datatableRecurso_FiltroGridBuscaTipo">
                                    <select name="formaBusca" class="form-control pull-left" style="margin-left:5px;">
                                    </select>
                                </span>
                                <span id="datatableRecurso_FiltroGridBusca" >

                                </span>
                                <span class="" >
                                    <button type="reset" id="datatableRecurso_FiltroGridBuscaLimpar" class="btn btn-warning" style="margin-bottom: 5px;margin-left:5px;">
                                        <i class="material-icons md-18">autorenew</i>
                                        Limpar
                                    </button>
                                </span>
                            </div>
                        </div>

                        <table id="datatableRecurso" class="table table-striped">
                            <thead>
                                <tr>
                                    <th value="id">Id</th>
                                    <th value="submodulo">Submodulo</th>
                                    <th value="descricao">Descrição</th>
                                    <th value="chave">Chave</th>
                                    <th value="valor">Valor</th>
                                    <th value="false">Quantidade</th>
                                    <th value="false">Data</th>
                                    <th value="false">Adicionar</th>
                                </tr>
                            </thead>
                            <tbody class="GridRecurso">

                            </tbody>
                        </table>

                    </div>
                    <hr class="separator">
                    <center>
                        <button type="button" class="btn btn-large btn-success" data-dismiss="modal" aria-hidden="true"><i class="material-icons md-24 ">check</i> OK</button>
                    </center>
                </div>
            </div>
        </div>
    </div>


    <div aria-hidden="true" aria-labelledby="" role="dialog" tabindex="-1" id="modalRecurso2" class="selecionarRecurso2 modal fade">
        <div class="modal-dialog modal-full" style="margin-left: 20px;">
            <div class="modal-content" style="border-radius:0px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <center>
                        <h4 class="modal-title">
                            <b>
                                ADIÇÃO DE RECURSO
                            </b>
                        </h4>
                    </center>
                </div>
                <div class="panel-body">
                    <div class="tab-pane active">

                        <div class="form-inline GridRecurso2">
                            <div class="datatableRecurso2_Filtros">
                                <span id="datatableRecurso2_FiltroGridBuscaLeng" mover="false" style="margin-rigth:5px;">

                                </span>
                                <span id="datatableRecurso2_FiltroGridBuscaColuna">
                                    <select name="colunaBusca" class="form-control pull-left" style="margin-left:5px;">
                                    </select>
                                </span>
                                <span id="datatableRecurso2_FiltroGridBuscaTipo">
                                    <select name="formaBusca" class="form-control pull-left" style="margin-left:5px;">
                                    </select>
                                </span>
                                <span id="datatableRecurso2_FiltroGridBusca" >

                                </span>
                                <span class="" >
                                    <button type="reset" id="datatableRecurso2_FiltroGridBuscaLimpar" class="btn btn-warning" style="margin-bottom: 5px;margin-left:5px;">
                                        <i class="material-icons md-18">autorenew</i>
                                        Limpar
                                    </button>
                                </span>
                            </div>
                        </div>

                        <table id="datatableRecurso2" class="table table-striped">
                            <thead>
                                <tr>
                                    <th value="id">Id</th>
                                    <th value="submodulo">Submodulo</th>
                                    <th value="descricao">Descrição</th>
                                    <th value="chave">Chave</th>
                                    <th value="valor" style="min-width: 95px;">Valor</th>
                                    <th value="false">Quantidade</th>
                                    <th value="false">Plano</th>
                                    <th value="false">Data</th>
                                    <th value="false">Adicionar</th>
                                </tr>
                            </thead>
                            <tbody class="GridRecurso2">

                            </tbody>
                        </table>

                    </div>
                    <hr class="separator">
                    <center>
                        <button type="button" class="btn btn-large btn-success" data-dismiss="modal" aria-hidden="true"><i class="material-icons md-24 ">check</i> OK</button>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="" role="dialog" tabindex="-1" id="modalRecursoSelecionar" class="selecionarRecurso modal fade">
        <div class="modal-dialog modal-full" style="margin-left: 20px;">
            <div class="modal-content" style="border-radius:0px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <center>
                        <h4 class="modal-title">
                            <b>
                                SELECIONAR RECURSO
                            </b>
                        </h4>
                    </center>
                </div>
                <div class="panel-body">
                    <div class="tab-pane active">

                        <div class="form-inline GridRecursoSelecionar">
                            <div class="datatableRecursoSelecionar_Filtros">
                                <span id="datatableRecursoSelecionar_FiltroGridBuscaLeng" mover="false" style="margin-rigth:5px;">

                                </span>
                                <span id="datatableRecursoSelecionar_FiltroGridBuscaColuna">
                                    <select name="colunaBusca" class="form-control pull-left" style="margin-left:5px;">
                                    </select>
                                </span>
                                <span id="datatableRecursoSelecionar_FiltroGridBuscaTipo">
                                    <select name="formaBusca" class="form-control pull-left" style="margin-left:5px;">
                                    </select>
                                </span>
                                <span id="datatableRecursoSelecionar_FiltroGridBusca" >

                                </span>
                                <span class="" >
                                    <button type="reset" id="datatableRecursoSelecionar_FiltroGridBuscaLimpar" class="btn btn-warning" style="margin-bottom: 5px;margin-left:5px;">
                                        <i class="material-icons md-18">autorenew</i>
                                        Limpar
                                    </button>
                                </span>
                            </div>
                        </div>

                        <table id="datatableRecursoSelecionar" class="table table-striped">
                            <thead>
                                <tr>
                                    <th value="id">Id</th>
                                    <th value="descricao">Descrição</th>
                                    <th value="chave">Chave</th>
                                    <th value="valor">Valor</th>
                                    <th value="false">Selecionar</th>
                                </tr>
                            </thead>
                            <tbody class="GridRecursoSelecionar">

                            </tbody>
                        </table>

                    </div>
                    <hr class="separator">
                    <center>
                        <button type="button" class="btn btn-large btn-success" data-dismiss="modal" aria-hidden="true"><i class="material-icons md-24 ">check</i> OK</button>
                    </center>
                </div>
            </div>
        </div>
    </div>



    <div aria-hidden="true" aria-labelledby="" role="dialog" tabindex="-1" id="modalDataBaseUpdate" class="modal fade">
        <div class="modal-dialog modal-full" style="margin-left: 20px;">
            <div class="modal-content" style="border-radius:0px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <center>
                        <h4 class="modal-title">
                            <b>
                                UPDATE BASE DE DADOS
                            </b>
                        </h4>
                    </center>
                </div>
                <div class="panel-body">
                    <table id="databaseUpdate" class="table table-striped">
                        <thead>
                            <tr>
                                <th value="tabela">Tabela</th>
                                <th value="versao">Versão</th>
                                <th value="descricao">Descrição</th>
                                <th value="status">Status</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="tab-pane active table-responsive" style="overflow-y: auto;max-height: 410px;">

                        <table id="databaseUpdate" class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="display: none;" value="tabela">Tabela</th>
                                    <th style="display: none;" value="descricao">Descrição</th>
                                    <th style="display: none;" value="status">Status</th>
                                </tr>
                            </thead>
                            <tbody class="">

                            </tbody>
                        </table>

                    </div>
                    <hr class="separator">
                    <center>
                        <button type="button" class="btn btn-large btn-success" data-dismiss="modal" aria-hidden="true"><i class="material-icons md-24 ">check</i> OK</button>
                    </center>
                </div>
            </div>
        </div>
    </div>


    <div aria-hidden="true" aria-labelledby="" role="dialog" tabindex="-1" id="modal-confirmacao" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        Confirmação
                    </h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-default"
                        data-dismiss="modal">
                        Cancelar
                    </button>
                    <button
                        type="button"
                        class="btn btn-primary confirmar">
                        Sim
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
