    <div style="overflow: hidden;">
    <!-- BEGIN Portlet PORTLET-->
    <div class="portlet box <?= $this->painel->getCorBox(); ?>" <?= $this->painel->getStyleBox() != null ? $this->painel->getStyleBox() : ''; ?>  style="border-radius:0px; overflow: hidden;">

        <div style="
             z-index: 10;
             padding-bottom:19px;
             padding-right: 34px;
             height: 100%;
             width: 100%;
             position: absolute;
             left: 17px;
             right: 0;
             top: 2px;
             display: <?= $this->painel->getAtivoEmBreve(); ?>;">
            <div  style="background-color: rgba(153, 153, 153, 0.47);width: 100%;height: 100%;overflow: hidden;">
                <div style=" padding-top: 25px; /* Rotate div */ -ms-transform: rotate(40deg); /* IE 9 */ -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */ transform: rotate(40deg); ">
                    <span style="top: -10px;padding: 5px;color:#FFF;font-size:18px;background-color: #D82435;position:absolute;right: 0px;width: 250px;left: 25px;text-align: center;">EM BREVE</span>
                </div>
            </div>
        </div>


        <div class="portlet-title" <?= $this->painel->getStyleBox() != null ? $this->painel->getStyleBox() : ''; ?>>
            <div class="caption center" style="max-width: 60%;">
                <?= $this->painel->getNome(); ?>
            </div>
            <div class="actions">
                <buttom class="btn btn-default btn-sm" style="color:white; border:none;" onclick="<?= $this->painel->getLinkMaisInfo(); ?>" >
                    Info.&nbsp;<i class="fa fa-tags" style="color:white;" title="Mais informações sobre a ferramenta! "></i>
                </buttom>
                <!--                <buttom class="btn btn-default btn-sm" style="color:white;margin-left: 5px;" ng-model="btnRefresh" ng-click="refresh();" >
                                    <i class="fa fa-refresh" style="color:white;"></i>
                                </buttom>-->
            </div>
        </div>
        <div class="portlet-body" style="border-radius:0px; min-height: 205px;">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: auto;">
                <div>
                    <center>
                        <img src="<?= $this->painel->getLogo(); ?>" class=" img-responsive" style="max-width: 75px;">
                    </center>
                    <br>
                    <div class="row list-separated profile-stat" style="margin-top: -10px;margin-bottom: -35px;">
                        <?php if ($this->painel->getIndicadorUmDescricao() !== Null): ?>
                        <div class="<?= ($this->painel->getIndicadorUmDescricao() !== Null && $this->painel->getIndicadorDoisDescricao() === Null) ? 'col-sm-12 col-md-12 col-lg-12' : 'col-sm-6 col-md-6 col-lg-6' ?>">

                                    <div class="uppercase profile-stat-title">
                                        <?php if ($this->painel->getIndicadorUmValor() !== Null): ?>
                                            <span class="gerenteGiratorio .integers">
                                                      <?= $this->painel->getIndicadorUmValor(); ?>
                                            </span>
                                        <?php else: ?>
                                            <span>
                                                <?=
                                                explode('||',
                                                        $this->painel->getIndicadorUmDescricao())[1];
                                                ?>
                                            </span>
                                        <?php endif; ?>
                                    </div>

                                    <div class="uppercase profile-stat-text">
                                        <?=
                                        explode('||',
                                                $this->painel->getIndicadorUmDescricao())[0];
                                        ?>
                                    </div>
                                </div>
                            <?php endif; ?>
                            <?php if ($this->painel->getIndicadorDoisDescricao() !== Null): ?>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <?php if ($this->painel->getIndicadorDoisValor() !== Null): ?>
                                        <div class="uppercase profile-stat-title">
                                            <span class="gerenteGiratorio .integers">
                                                      <?= $this->painel->getIndicadorDoisValor(); ?>
                                            </span>
                                        </div>
                                    <?php endif; ?>
                                    <div class="uppercase profile-stat-text">
                                        <?= $this->painel->getIndicadorDoisDescricao(); ?>
                                    </div>
                                </div>
                            <?php endif; ?>

                    </div>

                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu" style="margin-bottom: -20px;">
                    </div>

                    <!-- SIDEBAR BUTTONS -->
                    <div class="profile-userbuttons">
                        <button id="simular-<?= $this->app; ?>" type="button" class="btn <?= $this->painel->getBotaoUm()->getTipo(); ?> btn-sm" style="display: <?= $this->painel->getBotaoUm()->getVisivel(); ?>;<?= $this->painel->getBotaoUm()->getStyle(); ?>">
                            <?= $this->painel->getBotaoUm()->getDescricao(); ?>
                        </button>
                        <button <?= $this->painel->getStyleBox() != null ? $this->painel->getStyleBox() : ''; ?>  type="button" class="btn btn-success btn-sm" style="display: <?= $this->painel->getBotaoDois()->getVisivel(); ?>;<?= $this->painel->getBotaoDois()->getStyle(); ?>">
                            <?= $this->painel->getBotaoDois()->getDescricao(); ?>
                        </button>
                    </div>
                    <!-- END SIDEBAR BUTTONS -->
                </div>
            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>
</div>
