<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse" style="height:100%!important;">
        <ul class="page-sidebar-menu " data-keep-expanded="false" data-slide-speed="400" >
<!--            <li class="start  active">
                <a href="/dashboard">
                    <i class=" icon-home"></i>
                    <span class="title">
                        Dashboard
                    </span>
                </a>
            </li>
            <li class="start ">
                <a href="/controlshopv2">
                    <i class="fa fa-pie-chart"></i>
                    <span class="title">
                        Controlshop
                    </span>
                </a>
            </li>

            <li class="">
                <a href="javascript:;">
                    <i class="icon-chemistry"></i>
                    <span class="title">
                        Projetos WEB &nbsp;
                        <span class="label" style="background-color: #5cb85c;">Novo</span>
                    </span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu" style="display: none;">

                    <li>
                        <a href="/sistemas">
                            <i class="icon-puzzle"></i>
                            Sistemas
                        </a>
                    </li>
                    <li>
                        <a href="/recursos">
                            <i class="icon-social-dropbox"></i>
                            Recursos
                        </a>
                    </li>
                    <li>
                        <a href="/planos">
                            <i class="icon-basket-loaded"></i>
                            Planos
                        </a>
                    </li>
                    <li>
                        <a href="/clientes">
                            <i class="icon-user"></i>
                            Clientes
                        </a>
                    </li>
                    <li>
                        <a href="/tempo_experiencia">
                            <i class="icon-clock"></i>
                            Tempo de experiência
                        </a>
                    </li>

                                        <li>
                                            <a href="#">
                                                <i class="icon-users"></i>
                                                <span class="title">Clientes</span>
                                                <span class="arrow "></span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                </li>
                                                <li>
                                                </li>
                                            </ul>
                                        </li>

                    <li>
                        <a href="/documentacoes">
                            <i class=" icon-equalizer"></i>
                            Documentações
                        </a>
                    </li>





                </ul>
            </li>
            <li class="">
                <a href="javascript:;">
                    <i class="icon-notebook"></i>
                    <span class="title">Cadastros web</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu" style="display: none;">
                    <li>
                        <a href="/cadastros/empresas">
                            <i class="fa fa-building-o"></i>
                            Empresas (mxvldcfi)
                        </a>
                    </li>
                    <li>
                        <a href="/cadastros/modulos-validade">
                            <i class="icon-calendar"></i>
                            Validade Sistemas
                        </a>
                    </li>
                    <li>
                        <a href="/cadastros/clientes">
                            <i class="icon-users"></i>
                            Usuarios web
                        </a>
                    </li>
                    <li class="">
                        <a href="javascript:;">
                            <i class="fa fa-tasks"></i>
                            <span class="title">Logs</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu" style="display: none;">
                            <li>
                                <a href="/logs/acessos">
                                    <i class="icon-user"></i>
                                    Acessos
                                </a>
                            </li>
                             <li enabled="enabled">
                                <a href="#">
                                    <i class="material-icons md-18">add</i>
                                    Outros logs
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="javascript:;">
                    <i class="icon-screen-smartphone"></i>
                    <span class="title">Força de vendas</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu" style="display: none;">
                    <li>
                        <a href="/cadastros/forca/empresas">
                            <i class="fa fa-building-o"></i>
                            Ativações
                        </a>
                    </li>
                </ul>
            </li>-->
        </ul>
    </div>
</div>
