<div class="page-header navbar navbar-fixed-top" style="z-index: 9998 !important;">
    <div class="page-header-inner">
        <div class="page-logo" style="background-color:#1b2a3f; width:235px;">
            <a href="/">
                <img src="/img/logo-max.png" alt="logo" class="logo-default" style="max-width:145px;margin-top:22px;">
            </a>
            <div class="menu-toggler sidebar-toggler"></div>
        </div>
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"></a>
        <div class="page-top">
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="separator hide">
                    </li>
                    <li class="separator hide">
                    </li>
                    <li id="menuUser" class="dropdown dropdown-user dropdown-dark">
                        <a href="/" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="icon-user"></i>
                            <span class="username username-hide-on-mobile">
                                Seja bem vindo!
                            </span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="/sair">
                                    <i class="icon-logout"></i> Sair </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
