<div class="paginacao row">
    <script type="text/template">
        <div class="col-xs-12">
            {{#totais}}
                <div class="pull-left" style="padding-top: 15px">
                    Mostrando página {{pagina}} de {{quantidadePaginas}} (Filtrado de {{totalRegistros}} registros)
                </div>
            {{/totais}}
            <div class="pull-right">
                <ul class="pagination">
                    <li class="paginacao--anterior {{#disableAnterior}}disabled{{/disableAnterior}}">
                        <a href="javascript:;" title="Anterior">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </li>
                    {{#paginas}}
                        <li class="{{#active}}active{{/active}} {{#disabled}}disabled{{/disabled}}">
                            <a href="javascript:;" class="paginacao--pagina">
                                {{pagina}}
                            </a>
                        </li>
                    {{/paginas}}
                    <li class="paginacao--proximo {{#disableProximo}}disabled{{/disableProximo}}">
                        <a href="javascript:;" title="Próximo">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </script>
</div>
