<div class="modals">
    <div aria-hidden="true" aria-labelledby="" role="dialog" tabindex="-1" id="modal" class="UploadLogo modal fade">
        <div class="modal-dialog">
            <div class="modal-content" style="border-radius:0px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <center>
                        <h4 class="modal-title">
                            <b>
                                UPLOAD LOGO
                            </b>
                        </h4>
                    </center>
                </div>
                <div class="panel-body">
                    <div class="tab-pane active">
                        <form action=""  class="" drop-zone="" id="file-dropzone">
                        </form>
                    </div>

                    <hr class="separator">
                    <center>
                        <button type="button" class="btn btn-large btn-success" data-dismiss="modal" aria-hidden="true"><i class="material-icons md-24 ">check</i> OK</button>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="" role="dialog" tabindex="-1" id="modalClienteMax" class="selecionarClienteMax modal fade">
        <div class="modal-dialog modal-lg" >
            <div class="modal-content" style="border-radius:0px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <center>
                        <h4 class="modal-title">
                            <b>
                                SELECIONAR CLIENTE MAX SCALLA
                            </b>
                        </h4>
                    </center>
                </div>
                <div class="panel-body">
                    <div class="tab-pane active">

                        <div class="form-inline GridEmpresas">
                            <div class="datatableEmpresas_Filtros">
                                <span id="datatableEmpresas_FiltroGridBuscaLeng" mover="false" style="margin-rigth:5px;">

                                </span>
                                <span id="datatableEmpresas_FiltroGridBuscaColuna">
                                    <select name="colunaBusca" class="form-control pull-left" style="margin-left:5px;">
                                    </select>
                                </span>
                                <span id="datatableEmpresas_FiltroGridBuscaTipo">
                                    <select name="formaBusca" class="form-control pull-left" style="margin-left:5px;">
                                    </select>
                                </span>
                                <span id="datatableEmpresas_FiltroGridBusca" >

                                </span>
                                <span class="" >
                                    <button type="reset" id="datatableEmpresas_FiltroGridBuscaLimpar" class="btn btn-warning" style="margin-bottom: 5px;margin-left:5px;">
                                        <i class="material-icons md-18">autorenew</i>
                                        Limpar
                                    </button>
                                </span>
                            </div>
                        </div>

                        <table id="datatableEmpresas" class="table table-striped">
                            <thead>
                                <tr>
                                    <th value="id">Id</th>
                                    <th value="fantasia">Fantasia</th>
                                    <th value="documento">Documento</th>
                                    <th value="false">Selecionar</th>
                                </tr>
                            </thead>
                            <tbody class="GridEmpresas">

                            </tbody>
                        </table>

                    </div>
                    <hr class="separator">
                    <center>
                        <button type="button" class="btn btn-large btn-success" data-dismiss="modal" aria-hidden="true"><i class="material-icons md-24 ">check</i> OK</button>
                    </center>
                </div>
            </div>
        </div>
    </div>


    <div aria-hidden="true" aria-labelledby="" role="dialog" tabindex="-1" id="modalSistema" class="selecionarSistema modal fade">
        <div class="modal-dialog modal-lg" >
            <div class="modal-content" style="border-radius:0px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <center>
                        <h4 class="modal-title">
                            <b>
                                SELECIONAR CONTRATO
                            </b>
                        </h4>
                    </center>
                </div>
                <div class="panel-body">
                    <div class="tab-pane active">

                        <div class="form-inline GridSistema">
                            <div class="datatableSistema_Filtros">
                                <span id="datatableSistema_FiltroGridBuscaLeng" mover="false" style="margin-rigth:5px;">

                                </span>
                                <span id="datatableSistema_FiltroGridBuscaColuna">
                                    <select name="colunaBusca" class="form-control pull-left" style="margin-left:5px;">
                                    </select>
                                </span>
                                <span id="datatableSistema_FiltroGridBuscaTipo">
                                    <select name="formaBusca" class="form-control pull-left" style="margin-left:5px;">
                                    </select>
                                </span>
                                <span id="datatableSistema_FiltroGridBusca" >

                                </span>
                                <span class="" >
                                    <button type="reset" id="datatableSistema_FiltroGridBuscaLimpar" class="btn btn-warning" style="margin-bottom: 5px;margin-left:5px;">
                                        <i class="material-icons md-18">autorenew</i>
                                        Limpar
                                    </button>
                                </span>
                            </div>
                        </div>

                        <table id="datatableSistema" class="table table-striped">
                            <thead>
                                <tr>
                                    <th value="id">Id</th>
                                    <th value="cliente">Cliente</th>
                                    <th value="apelido">Apelido</th>
                                    <th value="plano">Plano</th>
                                    <th value="sistema">Sistema</th>
                                    <th value="false">Selecionar</th>
                                </tr>
                            </thead>
                            <tbody class="GridSistema">

                            </tbody>
                        </table>

                    </div>
                    <hr class="separator">
                    <center>
                        <button type="button" class="btn btn-large btn-success" data-dismiss="modal" aria-hidden="true"><i class="material-icons md-24 ">check</i> OK</button>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="" role="dialog" tabindex="-1" id="modalPlano" class="selecionarPlano modal fade">
        <div class="modal-dialog modal-lg" >
            <div class="modal-content" style="border-radius:0px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <center>
                        <h4 class="modal-title">
                            <b>
                                SELECIONAR PLANO
                            </b>
                        </h4>
                    </center>
                </div>
                <div class="panel-body">
                    <div class="tab-pane active">

                        <div class="form-inline GridPlano">
                            <div class="datatablePlanos_Filtros">
                                <span id="datatablePlanos_FiltroGridBuscaLeng" mover="false" style="margin-rigth:5px;">

                                </span>
                                <span id="datatablePlanos_FiltroGridBuscaColuna">
                                    <select name="colunaBusca" class="form-control pull-left" style="margin-left:5px;">
                                    </select>
                                </span>
                                <span id="datatablePlanos_FiltroGridBuscaTipo">
                                    <select name="formaBusca" class="form-control pull-left" style="margin-left:5px;">
                                    </select>
                                </span>
                                <span id="datatablePlanos_FiltroGridBusca" >

                                </span>
                                <span class="" >
                                    <button type="reset" id="datatablePlanos_FiltroGridBuscaLimpar" class="btn btn-warning" style="margin-bottom: 5px;margin-left:5px;">
                                        <i class="material-icons md-18">autorenew</i>
                                        Limpar
                                    </button>
                                </span>
                            </div>
                        </div>

                        <table id="datatablePlanos" class="table table-striped">
                            <thead>
                                <tr>
                                    <th value="id">Id</th>
                                    <th value="nome">Descrição</th>
                                    <th value="sistema">Sistema</th>
                                    <!--<th value="preco">Preço</th>-->
                                    <th value="false">Selecionar</th>
                                </tr>
                            </thead>
                            <tbody class="GridPlano">

                            </tbody>
                        </table>

                    </div>
                    <hr class="separator">
                    <center>
                        <button type="button" class="btn btn-large btn-success" data-dismiss="modal" aria-hidden="true"><i class="material-icons md-24 ">check</i> OK</button>
                    </center>
                </div>
            </div>
        </div>
    </div>


    <div aria-hidden="true" aria-labelledby="" role="dialog" tabindex="-1" id="modalConexao" class="selecionarConexao modal fade">
        <div class="modal-dialog modal-lg" >
            <div class="modal-content" style="border-radius:0px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <center>
                        <h4 class="modal-title">
                            <b>
                                SELECIONAR CONEXÃO
                            </b>
                        </h4>
                    </center>
                </div>
                <div class="panel-body">
                    <div class="GridSelecionarConexao">
                        <div class="tab-pane active">

                            <div class="form-inline GridConexao">
                                <div class="datatableConexao_Filtros">
                                    <span id="datatableConexao_FiltroGridBuscaLeng" mover="false" style="margin-rigth:5px;">

                                    </span>
                                    <span id="datatableConexao_FiltroGridBuscaColuna">
                                        <select name="colunaBusca" class="form-control pull-left" style="margin-left:5px;">
                                        </select>
                                    </span>
                                    <span id="datatableConexao_FiltroGridBuscaTipo">
                                        <select name="formaBusca" class="form-control pull-left" style="margin-left:5px;">
                                        </select>
                                    </span>
                                    <span id="datatableConexao_FiltroGridBusca" >

                                    </span>
                                    <span class="" >
                                        <button type="reset" id="datatableConexao_FiltroGridBuscaLimpar" class="btn btn-warning" style="margin-bottom: 5px;margin-left:5px;">
                                            <i class="material-icons md-18">autorenew</i>
                                            Limpar
                                        </button>
                                    </span>
                                    <span class="" >
                                        <button type="button" onclick="formularioSelecaoConexao.adicionarRegistro();" id="datatableConexao_FiltroGridAdicionar" class="btn btn-success" style="margin-bottom: 5px;margin-left:5px;">
                                            <i class="material-icons md-18">add</i>
                                            Adicionar
                                        </button>
                                    </span>
                                </div>
                            </div>

                            <table id="datatableConexao" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th value="id">Id</th>
                                        <th value="dominio">Dominio</th>
                                        <th value="ip">Ip</th>
                                        <th value="banco">Banco</th>
                                        <th value="false">Detalhes</th>
                                        <th value="false">Exclusão</th>
                                        <th value="false">Selecionar</th>
                                    </tr>
                                </thead>
                                <tbody class="GridConexao">

                                </tbody>
                            </table>

                        </div>
                        <hr class="separator">
                        <center>
                            <button type="button" class="btn btn-large btn-success" data-dismiss="modal" aria-hidden="true"><i class="material-icons md-24 ">check</i> OK</button>
                        </center>
                    </div>

                    <form id="formularioSelecionarConexao" class="FormularioSelecionarConexao" action="#" style="display: none;">

                        <div class="row">
                            <div class="col-md-7 col-sm-12">
                                <div class="form-group">
                                    <label for="dominio" class="control-label">Dominio</label>
                                    <input type="text" placeholder="dominio.com.br"  name="dominio" id="dominio" class="form-control">
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <div class="margin-top-20 col-md-2 col-sm-4">
                                <div class="form-group">

                                    <button type="button" id="btnCriarDbPorTemplate" onclick="" class="btn bg-green-soft font-white">
                                        <span class="fa-stack">
                                            <i class="fa fa-database"></i>
                                            <i class="fa fa-plus fa-stack-1x" style="left: 5px;bottom: 10px;color: #f0ad4e;"></i>
                                        </span>
                                        Gerar banco
                                    </button>
                                </div>
                            </div>
                            <div class="margin-top-20 col-md-2 col-sm-4">
                                <div class="form-group">

                                    <button type="button" id="btnUpdateDb" onclick="" class="btn font-white " style="border-color: #eea236;background-color: #f0ad4e;">
                                        <span class="fa-stack">
                                            <i class="fa fa-database"></i>
                                            <i class="fa fa-refresh fa-stack-1x font-green-soft" style="left: 5px;bottom: 10px;"></i>
                                        </span>
                                        Update banco
                                    </button>
                                    <!--                                <div id="loadUpdateBanco" style="display: none; width: 149px; height: 42px; position: relative; bottom: 42px; left: 4px; background-color: rgba(210, 212, 214, 0.67);">
                                                                        <i class="fa fa-refresh fa-spin  font-green-soft" style="position: relative;top: 12px;left: 65px;"></i>
                                                                    </div>-->

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label for="usuarioBanco" class="control-label">Usuario<span class="required" aria-required="true"> * </span></label>
                                    <input type="text" value="postgres"  name="usuarioBanco" id="usuarioBanco" class="form-control" required
                                           title="Usuario de conexão ao banco">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label for="senhaBanco" class="control-label">Senha usuario<span class="required" aria-required="true"> * </span></label>
                                    <input type="password" value="maxr2w2e8f4"  name="senhaBanco" id="senhaBanco" class="form-control" required
                                           title="Senha do usuario de conexão ao banco">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="ip" class="control-label">IP<span class="required" aria-required="true"> * </span></label>
                                    <input type="text" placeholder="192.168.1.1"  name="ip" id="ip" class="form-control" required
                                           title="Ip de conexão ao banco de dados da empresa selecionada">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="porta" class="control-label">Porta<span class="required" aria-required="true"> * </span></label>
                                    <input type="text" value="1987"  name="porta" id="porta" class="form-control" required
                                           title="Porta de rede para conexão ao banco">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="banco" class="control-label">Banco<span class="required" aria-required="true"> * </span></label>
                                    <input type="text" value="cs_loja"  name="banco" id="banco" class="form-control" required
                                           title="Banco onde sera efetuada a conexão">
                                </div>
                            </div>
                        </div>

                        <h3 class="form-subtitulo">Tintométrico</h3>
                        <hr class="divider">

                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label for="usuarioBancoTintometrico" class="control-label">Usuario</label>
                                    <input type="text" placeholder="postgres"  name="usuarioBancoTintometrico" id="usuarioBancoTintometrico" class="form-control"
                                           title="Usuario de conexão ao banco para o Tintométrico">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label for="senhaBancoTintometrico" class="control-label">Senha usuario</label>
                                    <input type="password" placeholder="**********"  name="senhaBancoTintometrico" id="senhaBancoTintometrico" class="form-control"
                                           title="Senha do usuario de conexão ao banco para o Tintométrico">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="ipTintometrico" class="control-label">IP</label>
                                    <input type="text" placeholder="192.168.1.1"  name="ipTintometrico" id="ipTintometrico" class="form-control"
                                           title="Ip de conexão ao banco de dados da empresa selecionada para o Tintométrico" >
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="portaTintometrico" class="control-label">Porta</label>
                                    <input type="text" placeholder="1987"  name="portaTintometrico" id="portaTintometrico" class="form-control"
                                           title="Porta de rede para conexão ao banco para o Tintométrico">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="bancoTintometrico" class="control-label">Banco</label>
                                    <input type="text" placeholder="cs_loja"  name="bancoTintometrico" id="bancoTintometrico" class="form-control"
                                           title="Banco onde sera efetuada a conexão para o Tintométrico">
                                </div>
                            </div>
                        </div>

                        <div class="row" style="border-top:1px solid #eee;">
                            <div class="col-sm-12 form-footer" style="margin-top:10px;">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-danger" onclick="formularioSelecaoConexao.transicaoLayout(false, 'SelecionarConexao');">
                                        <i class="material-icons md-24 ">arrow_back</i> Voltar
                                    </button>
                                    <button type="button" class="btn btn-success" onclick="formularioSelecaoConexao.confirmarAlteracaoDeRegistro();">
                                        <i class="material-icons md-24 ">check</i> Salvar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div aria-hidden="true" aria-labelledby="" role="dialog" tabindex="-1" id="modalRecurso" class="selecionarRecurso modal fade">
        <div class="modal-dialog modal-lg" >
            <div class="modal-content" style="border-radius:0px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <center>
                        <h4 class="modal-title">
                            <b>
                                ADIÇÃO DE RECURSO
                            </b>
                        </h4>
                    </center>
                </div>
                <div class="panel-body">
                    <div class="tab-pane active">

                        <div class="form-inline GridRecurso">
                            <div class="datatableRecurso_Filtros">
                                <span id="datatableRecurso_FiltroGridBuscaLeng" mover="false" style="margin-rigth:5px;">

                                </span>
                                <span id="datatableRecurso_FiltroGridBuscaColuna">
                                    <select name="colunaBusca" class="form-control pull-left" style="margin-left:5px;">
                                    </select>
                                </span>
                                <span id="datatableRecurso_FiltroGridBuscaTipo">
                                    <select name="formaBusca" class="form-control pull-left" style="margin-left:5px;">
                                    </select>
                                </span>
                                <span id="datatableRecurso_FiltroGridBusca" >

                                </span>
                                <span class="" >
                                    <button type="reset" id="datatableRecurso_FiltroGridBuscaLimpar" class="btn btn-warning" style="margin-bottom: 5px;margin-left:5px;">
                                        <i class="material-icons md-18">autorenew</i>
                                        Limpar
                                    </button>
                                </span>
                            </div>
                        </div>

                        <table id="datatableRecurso" class="table table-striped">
                            <thead>
                                <tr>
                                    <th value="id">Id</th>
                                    <th value="submodulo">Submodulo</th>
                                    <th value="descricao">Descrição</th>
                                    <th value="chave">Chave</th>
                                    <th value="valor">Valor</th>
                                    <th value="false">Quantidade</th>
                                    <th value="false">Data</th>
                                    <th value="false">Adicionar</th>
                                </tr>
                            </thead>
                            <tbody class="GridRecurso">

                            </tbody>
                        </table>

                    </div>
                    <hr class="separator">
                    <center>
                        <button type="button" class="btn btn-large btn-success" data-dismiss="modal" aria-hidden="true"><i class="material-icons md-24 ">check</i> OK</button>
                    </center>
                </div>
            </div>
        </div>
    </div>


    <div aria-hidden="true" aria-labelledby="" role="dialog" tabindex="-1" id="modalRecurso2" class="selecionarRecurso2 modal fade">
        <div class="modal-dialog modal-lg" >
            <div class="modal-content" style="border-radius:0px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <center>
                        <h4 class="modal-title">
                            <b>
                                ADIÇÃO DE RECURSO
                            </b>
                        </h4>
                    </center>
                </div>
                <div class="panel-body">
                    <div class="tab-pane active">

                        <div class="form-inline GridRecurso2">
                            <div class="datatableRecurso2_Filtros">
                                <span id="datatableRecurso2_FiltroGridBuscaLeng" mover="false" style="margin-rigth:5px;">

                                </span>
                                <span id="datatableRecurso2_FiltroGridBuscaColuna">
                                    <select name="colunaBusca" class="form-control pull-left" style="margin-left:5px;">
                                    </select>
                                </span>
                                <span id="datatableRecurso2_FiltroGridBuscaTipo">
                                    <select name="formaBusca" class="form-control pull-left" style="margin-left:5px;">
                                    </select>
                                </span>
                                <span id="datatableRecurso2_FiltroGridBusca" >

                                </span>
                                <span class="" >
                                    <button type="reset" id="datatableRecurso2_FiltroGridBuscaLimpar" class="btn btn-warning" style="margin-bottom: 5px;margin-left:5px;">
                                        <i class="material-icons md-18">autorenew</i>
                                        Limpar
                                    </button>
                                </span>
                            </div>
                        </div>

                        <table id="datatableRecurso2" class="table table-striped">
                            <thead>
                                <tr>
                                    <th value="id">Id</th>
                                    <th value="submodulo">Submodulo</th>
                                    <th value="descricao">Descrição</th>
                                    <th value="chave">Chave</th>
                                    <th value="valor" style="min-width: 95px;">Valor</th>
                                    <th value="false">Quantidade</th>
                                    <th value="false">Plano</th>
                                    <th value="false">Data</th>
                                    <th value="false">Adicionar</th>
                                </tr>
                            </thead>
                            <tbody class="GridRecurso2">

                            </tbody>
                        </table>

                    </div>
                    <hr class="separator">
                    <center>
                        <button type="button" class="btn btn-large btn-success" data-dismiss="modal" aria-hidden="true"><i class="material-icons md-24 ">check</i> OK</button>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="" role="dialog" tabindex="-1" id="modalRecursoSelecionar" class="selecionarRecurso modal fade">
        <div class="modal-dialog modal-lg" >
            <div class="modal-content" style="border-radius:0px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <center>
                        <h4 class="modal-title">
                            <b>
                                SELECIONAR RECURSO
                            </b>
                        </h4>
                    </center>
                </div>
                <div class="panel-body">
                    <div class="tab-pane active">

                        <div class="form-inline GridRecursoSelecionar">
                            <div class="datatableRecursoSelecionar_Filtros">
                                <span id="datatableRecursoSelecionar_FiltroGridBuscaLeng" mover="false" style="margin-rigth:5px;">

                                </span>
                                <span id="datatableRecursoSelecionar_FiltroGridBuscaColuna">
                                    <select name="colunaBusca" class="form-control pull-left" style="margin-left:5px;">
                                    </select>
                                </span>
                                <span id="datatableRecursoSelecionar_FiltroGridBuscaTipo">
                                    <select name="formaBusca" class="form-control pull-left" style="margin-left:5px;">
                                    </select>
                                </span>
                                <span id="datatableRecursoSelecionar_FiltroGridBusca" >

                                </span>
                                <span class="" >
                                    <button type="reset" id="datatableRecursoSelecionar_FiltroGridBuscaLimpar" class="btn btn-warning" style="margin-bottom: 5px;margin-left:5px;">
                                        <i class="material-icons md-18">autorenew</i>
                                        Limpar
                                    </button>
                                </span>
                            </div>
                        </div>

                        <table id="datatableRecursoSelecionar" class="table table-striped">
                            <thead>
                                <tr>
                                    <th value="id">Id</th>
                                    <th value="descricao">Descrição</th>
                                    <th value="chave">Chave</th>
                                    <th value="valor">Valor</th>
                                    <th value="false">Selecionar</th>
                                </tr>
                            </thead>
                            <tbody class="GridRecursoSelecionar">

                            </tbody>
                        </table>

                    </div>
                    <hr class="separator">
                    <center>
                        <button type="button" class="btn btn-large btn-success" data-dismiss="modal" aria-hidden="true"><i class="material-icons md-24 ">check</i> OK</button>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="" role="dialog" tabindex="-1" id="modalDataBaseUpdate" class="modal fade">
        <div class="modal-dialog modal-lg" >
            <div class="modal-content" style="border-radius:0px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <center>
                        <h4 class="modal-title">
                            <b>
                                UPDATE BASE DE DADOS
                            </b>
                        </h4>
                    </center>
                </div>
                <div class="panel-body">
                    <table id="databaseUpdate" class="table table-striped">
                        <thead>
                            <tr>
                                <th value="tabela">Tabela</th>
                                <th value="versao">Versão</th>
                                <th value="descricao">Descrição</th>
                                <th value="status">Status</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="tab-pane active table-responsive" style="overflow-y: auto;max-height: 410px;">

                        <table id="databaseUpdate" class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="display: none;" value="tabela">Tabela</th>
                                    <th style="display: none;" value="descricao">Descrição</th>
                                    <th style="display: none;" value="status">Status</th>
                                </tr>
                            </thead>
                            <tbody class="">

                            </tbody>
                        </table>

                    </div>
                    <hr class="separator">
                    <center>
                        <button type="button" class="btn btn-large btn-success" data-dismiss="modal" aria-hidden="true"><i class="material-icons md-24 ">check</i> OK</button>
                    </center>
                </div>
            </div>
        </div>
    </div>


    <div aria-hidden="true" aria-labelledby="" role="dialog" tabindex="-1" id="modal-confirmacao" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        Confirmação
                    </h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-default"
                        data-dismiss="modal">
                        Cancelar
                    </button>
                    <button
                        type="button"
                        class="btn btn-primary confirmar">
                        Sim
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
