<?php
//$acl = $this->identity()->getAcl();
//$aclRole = $acl->getRoles()[0];
?>

<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse" style="height:100%!important;">
        <ul class="page-sidebar-menu " data-keep-expanded="false" data-slide-speed="400" >

            <li class="start active">
                <a href="/dashboard">
                    <i class="material-icons md-24">dashboard</i>
                    <span class="title titulo">
                        Dashboard
                    </span>
                </a>
            </li>

            <li class="start ">
                <a href="#">
                    <i class="material-icons md-24">cloud_circle</i>
                    <span class="title titulo">E-commerce</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">

                    <li>
                        <a href="/produto">
                            <i class="material-icons md-24">format_list_numbered</i>
                            Manutenção de Produtos<span class="small label label-success" style="font-size:10px;">NOVO</span>
                        </a>
                    </li>

                </ul>
            </li>
            
            <li class="start ">
                <a href="#">
                    <i class="material-icons md-24">card_travel</i>
                    <span class="title titulo">Clientes web</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">

                    <li>
                        <a href="/clientes">
                            <i class="material-icons md-24">format_list_numbered</i>
                            Manutenção <span class="small label label-success" style="font-size:10px;">NOVO</span>
                        </a>
                    </li>

                </ul>
            </li>
            <!--<php if ($acl->isAllowed($aclRole, '/usuarios', 'get')) : ?>-->
                <li class="">
                    <a href="javascript:;">
                        <i class="material-icons md-24">account_circle</i>
                        <span class="title titulo">Usuarios
                            <span class="small label label-success" style="font-size:10px;">NOVO</span>
                        </span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu" style="display: none;">
                        <li>
                            <a href="/usuarios">
                                <i class="material-icons md-24">format_list_numbered</i>
                                Manutenção
                            </a>
                        </li>
                        <li>
                            <a href="/usuarios/tipos">
                                <i class="material-icons md-24">style</i>
                                Tipos e permissões
                            </a>
                        </li>
                    </ul>
                </li>
            <!--<php endif; ?>-->

        </ul>
    </div>
</div>
