<div class="page-header navbar navbar-fixed-top" style="z-index: 9998 !important; ">
    <div class="page-header-inner">
        <div class="page-logo" style="background-color:#3B3F51; width:235px;">
            <a href="/dashboard">
                <img src="/img/logo-max.png" alt="logo" class="logo-default" style="max-width:145px;margin-top:15px;">
            </a>
            <div class="menu-toggler sidebar-toggler"></div>
        </div>
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"></a>
        <div class="page-top">
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">

                    <li class="dropdown googleAnalytics">
                        <a href="#" class="dropdown-toggle">
                            <i class="material-icons md-24" style="display: inline-block;">account_circle</i>
                            <span class="username username-hide-on-mobile" style="display: inline-block;">
                                <div id="active-users-container"></div>
                            </span>
                        </a>
                    </li>

                    <li class="separator googleAnalytics"></li>

                    <li id="menuAnalytics" class="dropdown">
                        <a href="/dashboard" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="material-icons md-24">more_vert</i>
                            <!--<i class="icon-user"></i>-->
                            <span class="username username-hide-on-mobile">
                                Google Analytics
                            </span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default" style="width:470px;">
                            <li class="center-block">
                                <a href="#" >
                                    <div id="embed-api-auth-container" style="display: inline-block;"></div> -
                                    <div id="view-name" style="display: inline-block;"></div>
                                </a>
                            </li>
                            <li class="center-block">
                                <a href="#" >
                                    <div class="" id="view-selector-container" style="display: inline-block;"></div>
                                </a>
                            </li>
                            <li class="center-block">
                                <a href="#" onclick="gapi.analytics.auth.signOut();location.reload();" >
                                    <i class="material-icons md-18">power_settings_new</i>
                                    <span class="pull-right">Sair da conta do Google </span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="separator"></li>

                    <li id="menuUser" class="dropdown dropdown-user dropdown-dark">
                        <a href="/dashboard" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="material-icons md-24">account_circle</i>
                            <!--<i class="icon-user"></i>-->
                            <span class="username username-hide-on-mobile">
                                <?php if ($this->identity()): ?>
                                    <?= $this->identity()->getUsuario()->getNomeCompleto(); ?>
                                <?php endif; ?>
                            </span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li class="center-block">
                                <a href="/sair" >
                                    <i class="material-icons md-18">power_settings_new</i>
                                    <span class="pull-right">Sair</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
