<!DOCTYPE html>
<?php
/**
 * Adicionar aqui apenas os Scripts necessários para montagem do tema
 */
//$this->headScript()
//        ->prependFile('metronic/assets/admin/layout4/scripts/layout.js')
//        ->prependFile('metronic/assets/global/scripts/metronic.js')
//        ->prependFile('metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js')
//        ->prependFile('metronic/assets/global/plugins/jquery/dist/jquery.min.js')
?>
<html lang="pt-BR" >
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
            <meta charset="utf-8" >
                <?= $this->headTitle() ?>
                <?= $this->headLink() ?>
                <?= $this->headMeta() ?>
                </head>

                <body class="csadmin page-header-fixed page-sidebar-closed-hide-logo">

                    <!-- top navigation -->
                    <?= $this->topNavigation ?>
                    <!-- /top navigation -->
                    <div class="page-container">

                        <!-- sidebar menu -->
                        <?= $this->sidebar ?>
                        <!-- /sidebar menu -->
                        <div class="page-content-wrapper">
                            <div class="page-content">
                                <!-- page content -->
                                <?= $this->content; ?>
                                <!-- page content -->
                            </div>
                        </div>
                    </div>

                    <?= $this->modal ?>
                </body>
                <?= $this->headScript() ?>
                <script type="text/javascript">
                    $(document).ready(function () {
                        Layout.init(); // Funcionamento do menu;
                        Metronic.init(); // Funcionamento dos js do Metronic.js

                        $('#menuUser').on('click', function () {
                            if ($(this).find('ul').attr('class').indexOf('show') == -1) {
                                $(this).find('ul').addClass('show');
                            } else {
                                $(this).find('ul').removeClass('show');
                            }
                        });
                    });
                </script>
                </html>