<div class="Formulario" style="display: none;">
    <form method="POST" id="conexao" class="horizontal-form conexao">
        <span class="form-subtitulo">
            <h3>Dados de conexão</h3>
        </span>
        <hr class="divider">
        <div class="form-body">

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="id" class="control-label">Id</label>
                        <input type="number" placeholder="Id"
                               name="id" id="id" class="form-control" readonly="readonly">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="idClienteMax" class="control-label">Cliente cadastrado<span class="required" aria-required="true"> * </span></label>
                        <div class="input-group">
                            <input type="text" placeholder="999 - CLIENTE EXEMPLO"  name="idClienteMax" id="idClienteMax" class="form-control" readonly="readonly" required>
                            <span id="buscarCliente" onclick="$('#modalClienteMax').modal();" class="input-group-addon" style="border-color: #2a3f54;background-color: #34485c;">
                                <i class="fa fa-search" style="color:#FFF;"></i>
                            </span>
                        </div>

                        <span class="help-block">Selecione um cliente já cadastrado para poder gerar uma nova conexão</span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="ip" class="control-label">Ip<span class="required" aria-required="true"> * </span></label>
                        <input type="text" placeholder="192.168.1.1"  name="ip" id="ip" class="form-control" required>
                        <span class="help-block">Ip de conexão com o banco de dados</span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="porta" class="control-label">Porta<span class="required" aria-required="true"> * </span></label>
                        <input type="text" placeholder="8080"  name="porta" id="porta" class="form-control" required>
                        <span class="help-block">Porta de rede para conexão com o banco de dados</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="usuarioBanco" class="control-label">Usuario DB<span class="required" aria-required="true"> * </span></label>
                        <input type="text" placeholder="postgres"  name="usuarioBanco" id="usuarioBanco" class="form-control" required>
                        <span class="help-block">Usuario do banco de dados</span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="senhaBanco" class="control-label">Senha DB<span class="required" aria-required="true"> * </span></label>
                        <input type="password" placeholder = "Senha do usuario"  name="senhaBanco" id="senhaBanco" class="form-control" required>
                        <span class="help-block">Senha do usuario para o banco de dados</span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="banco" class="control-label">DB<span class="required" aria-required="true"> * </span></label>
                        <input type="text" placeholder="csgestor_cliente"  name="banco" id="banco" class="form-control" required>
                        <span class="help-block">Nome do banco de dados</span>
                    </div>
                </div>
            </div>


            <div class="row" style="border-top:1px solid #eee;">
                <div class="col-sm-12 form-footer" style="margin-top:10px;">
                    <div class="pull-right">
                        <button type="button" class="btn btn-danger" onclick="initConexao.transicaoLayout(false);">
                            <i class="material-icons md-24 ">arrow_back</i> Voltar
                        </button>
                        <button type="button" class="btn btn-success" onclick="initConexao.confirmarAlteracaoDeRegistro();">
                            <i class="material-icons md-24 ">check</i> Salvar
                        </button>
                    </div>
                </div>
            </div>

    </form>
</div>
