<div class="x_content Grid">

    <table id="datatable" class="table table-striped">
        <thead>
            <tr>

                <th value="id">Id</th>
                <th value="documento">Empresa</th>
                <th value="ip">Ip</th>
                <th value="porta">Porta</th>
                <th value="usuarioBanco">Usuario DB</th>
                <th value="banco">DB</th>
                <th style="text-align: center;" value="false">Detalhes</th>
                <th style="text-align: center;" value="false">Exclusão</th>

            </tr>
        </thead>

        <tbody class="Grid">

        </tbody>
    </table>
</div>
