<?php
//var_dump($this->getHelperPluginManager()->getServiceLocator('RotasPersonalizadas')->get('rotaspersonalizadas'));
//die();
?>
<div class="Formulario" style="display: none;">

    <form id="tiposPermissoes">

        <div class="portlet light">

            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject bold uppercase font-dark">Permissões</span>
                    <span class="caption-helper">por tipo de usuario</span>
                </div>

                <div class="actions">

                    <div class="form-inline">
                        <input type="number" placeholder="Id" name="id" id="id" class="form-control" style="display: none;">
                        <label for="usuario" class="control-label">
                            Descrição do tipo de usuario
                            <span class="required" aria-required="true"> * </span>
                        </label>
                        <input type="text" class="form-control" name="descricao" id="descricao" placeholder="Tipo de usuario" required>
                    </div>

                </div>
            </div>

            <div class="portlet-body">

                <input type="number" placeholder="Id"name="id" id="id" class="form-control" style="display: none;">

                <?= $this->render('grid-permissoes'); ?>


                <div class="form-footer margin-bottom-10 padding-top-10px" style="border-top:1px solid #eee;">
                    <div class="pull-right">
                        <button type="button" class="btn btn-danger BtnVoltar" onclick="formularioTiposUsuario.transicaoLayout(false);">
                            <i class="material-icons md-24 ">arrow_back</i> Voltar
                        </button>
                        <button type="button" class="btn btn-success" onclick="formularioTiposUsuario.confirmarAlteracaoDeRegistro();">
                            <i class="material-icons md-24 ">check</i> Salvar
                        </button>
                    </div>
                </div>

            </div>

        </div>

    </form>

</div>
