<?php $rotas = $this->getHelperPluginManager()->getServiceLocator('RotasPersonalizadas')->get('rotaspersonalizadas')->getRotas(); ?>
<div class="row">
    <div class="col-xs-12 margin-bottom-10">
        <button type="button"title="Reverter para ultima informação salva! Não é possivel reverter depois de salvo no banco de dados!" class="btn btn-warning pull-right" onclick="formularioTiposUsuario.clickBotaoConsultar($('#tiposPermissoes .portlet-body > [name=id]').val());">
            <i class="fa fa-undo"></i>  Desfazer alterações
        </button>
        <button type="button" title="Seleção de todas as permissões" class="btn btn-info margin-right-10 pull-right" onclick="$('.selecionaTipoPermissao').click();">
            <i class="fa fa-check-circle"></i>  Inverter  seleção
        </button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="todo-tasklist">

            <?php $contador = 0; ?>
            <?php foreach (array_reverse($rotas) as $key => $value): ?>

                <div id="permissoes-<?= strtolower($key); ?>" class="portlet box blue-soft permissoes" style="color:#FFF; border-color:#18a6d9;">
                    <div class="portlet-title" style="background-color:#18a6d9;">
                        <div class="caption">
                            <?= $key; ?>
                        </div>
                        <div class="tools">
                            <a href="" class="collapse" data-original-title="" title=""> </a>
                        </div>
                    </div>
                    <div class="portlet-body boxPermissoes<?= $key; ?>" style="display: block;">

                        <div class="row">
                            <?php foreach ($value as $n => $val): ?>
                                <?php $idAuxiliar = str_replace('/', '', $val); ?>

                                <div class="col-md-6 col-sm-12 margin-bottom-10">
                                    <div class="todo-tasklist-item todo-tasklist-item-border-blue ">
                                        <div class="todo-tasklist-item-title pull-right">
                                            <label name="btnLimparPermissoes" class="label label-danger" title="Reseta as permissão">
                                                <i class="fa fa-trash"></i>
                                            </label>
                                        </div>
                                        <div class="todo-tasklist-item-title"> URL: <?= $val; ?></div>
                                        <input type="hidden" id="<?= $idAuxiliar; ?>id" name="permissoes[<?= $contador; ?>][id]" />
                                        <input type="hidden" id="<?= $idAuxiliar; ?>url" name="permissoes[<?= $contador; ?>][url]"  value="<?= $val; ?>"/>
                                        <input type="hidden" id="<?= $idAuxiliar; ?>idTipo" name="permissoes[<?= $contador; ?>][idTipo]" class="permissoesIdTipo"/>
                                        <!--<div class="todo-tasklist-item-text"> Descrição exemplo </div>-->
                                        <div class="todo-tasklist-controls pull-left">
                                            <span class="todo-tasklist-date">
                                                <!--<i class="fa fa-calendar"></i>  25 Fev 2017 </span>-->
                                                <label for="<?= $idAuxiliar; ?>get" class="label label-danger">
                                                    <input id="<?= $idAuxiliar; ?>get" name="permissoes[<?= $contador; ?>][get]" class="selecionaTipoPermissao" type="checkbox" style="display: none !important;" title="Alterar permissão" />CONSULTAR
                                                </label>&nbsp;
                                                <label for="<?= $idAuxiliar; ?>post" class="label label-danger">
                                                    <input id="<?= $idAuxiliar; ?>post" name="permissoes[<?= $contador; ?>][post]" class="selecionaTipoPermissao" type="checkbox" style="display: none !important;" title="Alterar permissão"/>INCLUIR
                                                </label>&nbsp;
                                                <label for="<?= $idAuxiliar; ?>put"  class="label label-danger">
                                                    <input id="<?= $idAuxiliar; ?>put" name="permissoes[<?= $contador; ?>][put]" class="selecionaTipoPermissao" type="checkbox" style="display: none !important;" title="Alterar permissão"/>EDITAR
                                                </label>&nbsp;
                                                <label  for="<?= $idAuxiliar; ?>delete" class="label label-danger">
                                                    <input id="<?= $idAuxiliar; ?>delete" name="permissoes[<?= $contador; ?>][delete]" class="selecionaTipoPermissao" type="checkbox" style="display: none !important;" title="Alterar permissão"/>EXCLUIR
                                                </label>&nbsp;
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <?php $contador ++; ?>
                            <?php endforeach; ?>
                        </div>

                    </div>
                </div>

            <?php endforeach; ?>

        </div>
    </div>
</div>



<!--
<div class="form-inline GridPermissoes">
    <div class="datatablePermissoes_Filtros">
        <span id="datatablePermissoes_FiltroGridBuscaLeng" mover="false" style="margin-rigth:5px;">
        </span>
        <span id="datatablePermissoes_FiltroGridBuscaColuna">
            <select name="colunaBusca" class="form-control pull-left" style="margin-left:5px;">
            </select>
        </span>
        <span id="datatablePermissoes_FiltroGridBuscaTipo">
            <select name="formaBusca" class="form-control pull-left" style="margin-left:5px;">
            </select>
        </span>
        <span id="datatablePermissoes_FiltroGridBusca" >
        </span>
        <span class="" >
            <button type="reset" id="datatablePermissoes_FiltroGridBuscaLimpar" class="btn btn-warning" style="margin-bottom: 5px;margin-left:5px;">
                <i class="material-icons md-18">autorenew</i>
                Limpar
            </button>
        </span>
        <span class="" >
            <button id="datatablePermissoes_FiltroGridAdicionar" class="btn btn-success" onclick="#"  style="margin-bottom: 5px;margin-left:5px;">
                <i class="material-icons md-18">add</i>
                Adicionar
            </button>
        </span>
    </div>
</div>

<div class="x_content GridPermissoes">

    <table id="datatablePermissoes" class="table table-striped">
        <thead>
            <tr>
                <th value="id">Id</th>
                <th value="url">Descricao</th>
                <th value="url">Url</th>
                <th value="get">Consulta</th>
                <th value="put">Alteração</th>
                <th value="post">Criação</th>
                <th value="delete">Exclusão</th>
                 <th style="text-align: center;" value="false">Detalhes</th>
                <th style="text-align: center;" value="false">Exclusão</th>
            </tr>
        </thead>
        <tbody class="GridPermissoes">

        </tbody>
    </table>
</div>-->