<div class="x_content Grid">

    <table id="datatable" class="table table-striped">
        <thead>
            <tr>
                <th value="id">Id</th>
                <th value="descricao">Tipo</th>
                <th style="text-align: center;" value="false">Detalhes</th>
                <th style="text-align: center;" value="false">Exclusão</th>
            </tr>
        </thead>
        <tbody class="Grid">

        </tbody>
    </table>
</div>