<div class="Formulario" style="display: none;">
    <form method="POST" id="sistema" class="horizontal-form empresas">
        <span class="form-subtitulo">
            <h3>Recurso(s)</h3>
        </span>
        <hr class="divider">
        <div class="form-body">
            <input type="number" placeholder="Id"name="id" id="id" class="form-control" style="display: none;">

            <div class="row">
                <div class="col-sm-1">
                    <div class="form-group">
                        <label for="submodulo" class="control-label">Submodulo</label>
                        <select name="submodulo" id="submodulo" class="form-control selected-row-input">
                            <option value="0">NÃO</option>
                            <option value="1">SIM</option>
                        </select>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="descricao" class="control-label">Descrição</label>
                        <input type="text" placeholder="Descrição do recurso"  name="descricao" id="descricao" class="form-control">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="chave" class="control-label">Chave</label>
                        <input type="text" placeholder="Chave de uso interno"  name="chave" id="chave" class="form-control">
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="valor" class="control-label">Valor</label>
                        <input type="number" placeholder="Valor atribuido há uma unidade do recurso"  name="valor" id="valor" class="form-control">
                        <span class="help-block"></span>
                    </div>
                </div>

            </div>

            <div class="row" style="border-top:1px solid #eee;">
                <div class="col-sm-12 form-footer" style="margin-top:10px;">
                    <div class="pull-right">
                        <button type="button" class="btn btn-danger BtnVoltar" onclick="formularioRecurso.transicaoLayout(false);">
                            <i class="material-icons md-24 ">arrow_back</i> Voltar
                        </button>
                        <button type="button" class="btn btn-success" onclick="formularioRecurso.confirmarAlteracaoDeRegistro();">
                            <i class="material-icons md-24 ">check</i> Salvar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
