<div class="btn-group">
    <a href="#" class="dropdown-toggle btn btn-circle" data-toggle="dropdown" data-close-others="true" aria-expanded="true">
        <i class="icon-credit-card"></i>
        <span>
            Cartao
        </span>
        <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu hold-on-click dropdown-menu-right">
        <li>
            <a 
                href="#"
                onclick="filtrarCartao(this)"
                >

                Todos

            </a>
        </li>
        <?php foreach ($this->cartao as $key => $cartao) : ?>
            <li>
                <a
                    href="#"
                    onclick="filtrarCartao(this)"
                    data-codigo="<?= $cartao->getCodigo() ?>"
                    data-nome="<?= ucfirst(strtolower($cartao->getAdministrador())) ?> - <?= $cartao->getTipo() ?>"
                    >

                    <?= ucfirst(strtolower($cartao->getAdministrador())) ?> - <?= $cartao->getTipo() ?>

                </a>
            </li>
        <?php endforeach; ?>
    </ul>
    <input type="hidden" class="sr-only" name="cartao" value="" />
</div>