<div class="btn-group" title="<?= $this->opcoes->getTitle() ?>">
    <div class="input-group input-medium">

        <input 
            type="text" 
            name="data" 
            class="form-control form-control-inline input-medium date-picker" 
            value="<?= $this->data; ?>"
            />

        <span class="input-group-btn">
            <button class="btn default" type="button">
                <i class="fa fa-calendar"></i>
            </button>
        </span>
    </div>
</div>