<div class="btn-group">
    <a href="#" class="dropdown-toggle btn btn-circle" data-toggle="dropdown" data-close-others="true" aria-expanded="true">
        <i class="icon-briefcase"></i>
        <span>
            Fabricantes
        </span>
        <i class="fa fa-angle-down"></i>
    </a>
    <div class="dropdown-menu hold-on-click dropdown-menu-right">
        <ul class="filtro">
            <li onclick="selecionarTodos(this)">
                <a href="#">
                    Selecionar / Remover todos
                </a>
            </li>             
            <?php foreach ($this->fabricantes as $key => $fabricante) : ?>
                <li>
                    <a href="#">
                        <input 
                            type="checkbox" 
                            class="checker" 
                            name="fabricantes" 
                            value="<?= $fabricante->getCodigo() ?>" 
                            <?= $this->opcoes->getValor() === $fabricante->getCodigo() ? 'checked="checked"' : '' ?>
                            >

                        <?= $fabricante->getCodigo() ?> - <?= ucfirst(strtolower($fabricante->getFabricante())) ?>

                    </a>
                </li>
            <?php endforeach; ?>
        </ul>
        <button class="btn btn-success" onclick="filtrar()">Buscar</button>
    </div>
</div>