<div class="FiltroFuncionario col-lg-2 col-sm-3 col-xs-12 form-group has-feedback pull-right">

    <a data-toggle="dropdown"
        data-close-others="false"
        aria-expanded="false">
            <div class="initSelectOptionsFuncionarios">
                <center>
                    <i class="fa fa-users"></i>
                    <label>Responsavel</label>
                    <i class="fa fa-angle-down"></i>
                </center>
            </div>
    </a>
    <div class="dropdown-menu hold-on-click dropdown-menu-right" style="min-width: 200px;">
        <center>
            <h4>
                Responsavel
            </h4>
            <hr style="margin: 5px;">
            <a onclick="selecionarTodosFuncionarios();" class="filtroTodos" href="#">
                Inverter seleção
            </a>
        </center>
        <ul class="filtro" style="max-height:250px;overflow-y: auto;padding:10px;">
            <?php foreach ($this->funcionarios as $key => $funcionario) : ?>
                <hr style="margin: 5px;">
                <li style="z-index:9999;list-style-type:none;margin-top: 5px;border-bottom: black 1px;">
                    <a href="#">
                        <input 
                            data-index="<?= $key ?>"
                            type="checkbox" 
                            value="<?= $funcionario['fantasia'] ?>" 
                            name="funcionarios"
                            <?php if ($this->opcoes->getValor() == $funcionario['codigo']): ?>
                                checked="checked"
                            <?php endif; ?>
                            />
                        <!--class="js-switch"-->
                        &nbsp;&nbsp;<?= ucfirst(strtolower($funcionario['fantasia'])) ?>
                    </a>
                </li>
            <?php endforeach; ?>

        </ul>
        <hr style="margin: 5px;">
        <center>
            <button class="btn btn-success" style="margin-bottom: 5px;" onclick="filtrar()">Buscar</button>
        </center>
    </div>
</div>
