<div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback pull-right" style="width: 100%;">

    <a data-toggle="dropdown"
       data-close-others="false"
       aria-expanded="false">
        <div class="initSelectOptionsFuncionarios">
            <center>
                <i class="fa fa-users"></i>
                <label>Responsavel</label>
                <i class="fa fa-angle-down"></i>
            </center>
        </div>
    </a>

    <div class="dropdown-menu hold-on-click dropdown-menu-right">
        <ul class="filtro">
            <li>
                <a 
                    href="#"
                    onclick="filtrarFuncionario(this)"
                    data-nome="Funcionario"
                    data-codigo=""
                    >

                    Todos Responsaveis

                </a>
            </li>
            <?php foreach ($this->funcionarios as $key => $funcionario) : ?>
                <li>
                    <a
                        href="#"
                        onclick="filtrarFuncionario(this)"
                        data-codigo="<?= $funcionario->getCodigo() ?>"
                        data-nome="<?= ucfirst(strtolower($funcionario->getNome())) ?>"
                        >

                        <?= $funcionario->getCodigo() ?> - <?= ucfirst(strtolower($funcionario->getNome())) ?>

                    </a>
                </li>
            <?php endforeach; ?>
        </ul>
        <input type="hidden" class="sr-only" name="funcionarios" value="<?= $this->opcoes->getValor() ?>" />
    </div>
</div>