<div class="col-lg-2 col-sm-3 col-xs-12 form-group has-feedback pull-right" title="<?= $this->opcoes->getTitle() ?>">
    <a id="configFiltro">
        <div id="reportrange" class="pull-right" style="width: 100%; background: #fff; cursor: pointer; padding: 6px 10px; border: 1px solid #ccc">
            <center>
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
            <span id="urlDate"><?= $this->valores['inicial'] ?> - <?= $this->valores['final'] ?></span>
            <input type="hidden" class="sr-only" name="intervaloData" value='<?= json_encode($this->valores) ?>'/>
            <b class="fa fa-angle-down"></b>
            </center>
        </div>
    </a>
</div>
