<div class="btn-group" title="<?= $this->opcoes->getTitle() ?>">
    <select id="auxAnual" class="form-control"  name="intervaloData">
        <?php for ($i = date('Y'); $i > date('Y') - 10; $i--) : ?>

            <option 
                value='<?= json_encode(['inicial' => date("01/01/" . ($i - 1)), 'final' => date("31/12/" . $i)]); ?>' 
                class="ms-hover"
                > 
                <?= $i - 1 ?> / <?= $i ?> 

            </option>

        <?php endfor; ?>
    </select>
</div>

