<!--Lib para montagem de selectOption-->

<link href="<?= $this->basePath('scripts/apifiltro/css/multiselect.css'); ?>" rel="stylesheet" type="text/css" />
<link href="<?= $this->basePath('metronic/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css'); ?>" rel="stylesheet" type="text/css">
<link href="<?= $this->basePath('metronic/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css'); ?>" rel="stylesheet" type="text/css">

<script src="<?= $this->basePath('scripts/apifiltro/js/multiselect.js'); ?>"></script>
<script src="<?= $this->basePath('metronic/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js'); ?>"></script>
<script src="<?= $this->basePath('metronic/assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js'); ?>"></script>
<script src="<?= $this->basePath('metronic/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js'); ?>"></script>
<script src="<?= $this->basePath('metronic/assets/global/plugins/clockface/js/clockface.js'); ?>"></script>
<script src="<?= $this->basePath('metronic/assets/global/plugins/bootstrap-daterangepicker/moment.min.js'); ?>"></script>
<script src="<?= $this->basePath('metronic/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js'); ?>"></script>
<script src="<?= $this->basePath('metronic/assets/global/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js'); ?>"></script>
<script src="<?= $this->basePath('metronic/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js'); ?>"></script>
<script src="<?= $this->basePath('metronic/assets/admin/pages/scripts/components-pickers.js'); ?>"></script>

<script>
    var filtrarMenuInput = function (elemento) {
        var $elmt = $(elemento);
        var container = $elmt.parents('ul');
        container.find('a').css('background-color', '');
        $elmt.css('background-color', '#f6f6f6');

        var codigo = $elmt.data('codigo');
        container.siblings('input[type=hidden]').val(codigo);

        filtrar(elemento);
    };

    function filtroResponsivo() {
        var width = screen.width;

        if (width < 991) {
            $('.Filtros').children().appendTo('.FiltrosMobile');
            $('.PesquisaGrid').children().appendTo('.PesquisaGridMobile')
                    .find('.pagination').hide();
        } else {
            $('.FiltrosMobile').children().appendTo('.Filtros');
            $('.PesquisaGridMobile').children().appendTo('.PesquisaGrid')
                    .find('.pagination').show();
        }
    }

    $(window).resize(filtroResponsivo);

    $(function () {
        filtroResponsivo();
    });
</script>
