<!--<div class="btn-group btn-theme-panel hidden-md hidden-lg">

    <a
        href="#" 
        class="dropdown-toggle btn btn-icon-only btn-circle btn-default" 
        data-toggle="dropdown" 
        data-close-others="false" 
        aria-haspopup="false" 
        aria-expanded="true"
        >

        <i class="icon-settings"></i>

    </a>
    
    <div class="dropdown-menu theme-panel hold-on-click">
        <div class="row">
            <div class="col-xs-5 FiltrosMobile">

            </div>
            <div class="col-xs-7 seperator PesquisaGridMobile">

            </div>
        </div>
    </div>
</div>-->