<div class="col-lg-3 col-sm-3 col-xs-12 form-group has-feedback pull-right">
    <a id="datatable_BtnBusca"
       data-toggle="dropdown"
       data-close-others="false"
       aria-expanded="false">
        <div class="initSelectOptionsFuncionarios"
        style="width: 100%; background: #fff; cursor: pointer; padding: 1px; border: 1px solid #ccc">
            <center>
                <i class="fa fa-search"></i>
                <label name="textPesquisa" style="margin-top:5px;">Pesquisa</label>
                <i class="fa fa-angle-down"></i>
            </center>
        </div>
    </a>

    <div class="dropdown-menu hold-on-click dropdown-menu-right"
         style="min-width: 250px;">
        <ul class="filtroStatus"
            style="max-height:360px;overflow-y: auto;padding:10px;">
            <li style="list-style-type:none;margin: 2px;">
                <h4>
                    Pesquisa por:
                </h4>
            </li>
            <hr style="margin: 5px;">
            <li class="row" style="list-style-type:none;margin: 10px;">
                <div id="datatable_FiltroGridBuscaColuna">
                    <select name="colunaBusca" class="form-control">

                    </select>
                </div>
            </li>

            <hr style="margin: 5px;">
            <li class="row" style="list-style-type:none;margin: 10px;">
                <label>Como: </label>

                <div id="datatable_FiltroGridBuscaTipo">
                    <select name="formaBusca" class="form-control">

                    </select>
                </div>
            </li>

            <hr style="margin: 5px;">

            <li class="row" style="list-style-type:none;margin: 10px;">
                <label>O que:</label>
                <div id="datatable_FiltroGridBusca">

                </div>
            </li>

        </ul>
        <hr style="margin: 5px;">
        <center>
            <button type="reset" id="datatable_FiltroGridBuscaLimpar" class="btn btn-warning" style="margin-bottom: 5px;">
                <i class="material-icons md-18">autorenew</i>
                Limpar
            </button>
        </center>
    </div>
</div>
