<div class="btn-group">
    <a href="#" class="dropdown-toggle btn btn-circle" data-toggle="dropdown" data-close-others="true" aria-expanded="true">
        <i class="icon-credit-card"></i>
        <span>
            Contas
        </span>
        <i class="fa fa-angle-down"></i>
    </a>
    <div class="dropdown-menu hold-on-click dropdown-menu-right">
        <ul class="filtro">
            <li>
                <a 
                    href="#"
                    onclick="filtrarPortadores(this)"
                    >

                    Todas

                </a>
            </li>
            <?php foreach ($this->portadores as $key => $portadores) : ?>
                <li>
                    <a
                        href="#"
                        onclick="filtrarPortadores(this)"
                        data-codigo="<?= $portadores->getCodigo() ?>"
                        >

                        <?= ucfirst(strtolower($portadores->getBanco())) ?>

                    </a>
                </li>
            <?php endforeach; ?>
        </ul>
        <input type="hidden" class="sr-only" name="portadores" value="" />
    </div>
</div>