<div class="col-lg-2 col-sm-2 col-xs-12 form-group has-feedback pull-right">

    <a data-toggle="dropdown"
       data-close-others="false"
       aria-expanded="false">
        <div class="initSelectOptionsFuncionarios">
            <center>
                <i class="fa fa-info"></i>
                <label name="textStatus">Status</label>
                <i class="fa fa-angle-down"></i>
            </center>
        </div>
    </a>
    <div class="dropdown-menu hold-on-click dropdown-menu-right" style="min-width: 200px;">
        <ul class="filtroStatus" style="max-height:260px;overflow-y: auto;padding:10px;">
            <li style="list-style-type:none;margin: 2px;">
                <h4>
                    Status
                </h4>
            </li>
            <hr style="margin: 5px;">
            <li style="z-index:9999;list-style-type:none;margin-top: 10px;padding-left: 5px;">
                <a onclick="selecionarTodosStatus();" class="filtroTodos" href="#">
                    Inverter seleção   
                </a>
            </li>
            <?php foreach ($this->status as $key => $status) : ?>
                <hr style="margin: 5px;">
                <li>
                    <a data-value="<?= $key ?>" data-codigo="<?= preg_replace('/\s+/', '', strtolower($status)); ?>" >
                        <input 
                            data-index="<?= $key ?>"
                            type="checkbox" 
                            value="<?= $key ?>" 
                            name="status" class="StatusFiltro"
                            checked="checked"
                            />
                        &nbsp;&nbsp;<?= ucfirst(strtolower($status)); ?>
                    </a>
                </li>
            <?php endforeach; ?>

        </ul>
        <hr style="margin: 5px;">
        <center>
            <button class="btn btn-success" style="margin-bottom: 5px;" onclick="filtrar()">Buscar</button>
        </center>
    </div>
</div>