<div class="col-lg-2 col-sm-3 col-xs-12 form-group has-feedback pull-right">

    <a data-toggle="dropdown"
       data-close-others="false"
       aria-expanded="false">
            <div class="initSelectOptionsFuncionarios">
                <center>
                    <i class="fa fa-info"></i>
                    <label name="textStatus">Status</label>
                    <i class="fa fa-angle-down"></i>
                </center>
            </div>
    </a>

    <ul class="dropdown-menu" style="max-height:300px;overflow-y: auto;padding:10px;">
        <li style="list-style-type:none;margin: 2px;">
            <h4>
                Status
            </h4>
        </li>
        <hr style="margin: 5px;">
        <li>
            <a onclick="filtrarStatus(this);" data-value="">
                Todos
            </a>
        </li>
        <?php foreach ($this->status as $key => $status) : ?>
            <hr style="margin: 5px;">
            <li>
                <a onclick="filtrarStatus(this);" data-value="<?= $key ?>" data-codigo="<?= preg_replace('/\s+/', '', strtolower($status)); ?>" >
                    <?= $status ?>
                </a>
            </li>
        <?php endforeach; ?>
    </ul>
    <input type="hidden" name="status"/>
</div>