<div class="Formulario" style="display: none;">
    <form method="POST" id="plano" class="horizontal-form conexao">
        <span class="form-subtitulo">
            <h3>Contrato de cliente</h3>
        </span>
        <hr class="divider">
        <div class="form-body">
            <input type="number" name="id" id="id" style="display: none;">

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="idClienteMaxscalla" class="control-label">Cliente cadastrado<span class="required" aria-required="true"> * </span></label>
                        <div class="input-group">
                            <input type="text" placeholder="999 - CLIENTE EXEMPLO"  name="idClienteMaxscalla" id="idClienteMaxscalla" class="form-control" readonly="readonly" required>
                            <span id="buscarCliente" onclick="$('#modalClienteMax').modal();" class="input-group-addon" style="border-color: #2a3f54;background-color: #34485c;">
                                <i class="fa fa-search" style="color:#FFF;"></i>
                            </span>
                        </div>

                        <span class="help-block">Selecione um cliente já cadastrado!</span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="idPlano" class="control-label">Plano cadastrado</label>
                        <div class="input-group">
                            <input type="text" placeholder="999 - PLANO EXEMPLO"  name="idPlano" id="idPlano" class="form-control" readonly="readonly">
                            <span onclick="$('#idPlano').val('');" class="input-group-addon" style="border-color: #eea236;background-color: #f0ad4e;">
                                <i class="fa fa-refresh" style="color:#FFF;"></i>
                            </span>
                            <span id="buscarCliente" onclick="$('#modalPlano').modal();" class="input-group-addon" style="border-color: #2a3f54;background-color: #34485c;">
                                <i class="fa fa-search" style="color:#FFF;"></i>
                            </span>
                        </div>

                        <span class="help-block">Selecione um plano já cadastrado!</span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="idConexao" class="control-label">Conexão</label>
                        <div class="input-group">
                            <input type="text" placeholder="999 - CONEXAO EXEMPLO"  name="idConexao" id="idConexao" class="form-control" readonly="readonly"
                                   title="Quando valor for branco ira criar um novo cadastro de conexão!">
                            <span onclick="$('#idConexao').val('');" class="input-group-addon" style="border-color: #eea236;background-color: #f0ad4e;">
                                <i class="fa fa-refresh" style="color:#FFF;"></i>
                            </span>
                            <span id="buscarCliente" onclick="$('#modalConexao').modal();" class="input-group-addon" style="border-color: #2a3f54;background-color: #34485c;">
                                <i class="fa fa-search" style="color:#FFF;"></i>
                            </span>
                        </div>

                        <span class="help-block">Selecione um conexão já cadastrado!</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="apelido" class="control-label">Apelido<span class="required" aria-required="true"> * </span></label>
                        <input type="text" placeholder="Exemplo"  name="apelido" id="apelido" class="form-control" required
                               title="Descrição abrevida do cliente">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="ativo" class="control-label">Ativação</label>
                        <input id="ativo" name="ativo" class="form-control" type="checkbox" style="width: 25px!important;"/>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="dominio" class="control-label">Dominio</label>
                        <input type="text" placeholder="dominio.com.br"  name="dominio" id="dominio" class="form-control">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="subDominio" class="control-label">Subdominio</label>
                        <input type="text" placeholder="app.dominio.com.br"  name="subDominio" id="subDominio" class="form-control">
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="ip" class="control-label">IP<span class="required" aria-required="true"> * </span></label>
                        <input type="text" placeholder="192.168.1.1"  name="ip" id="ip" class="form-control" required
                               title="Ip de conexão ao banco de dados da empresa selecionada">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="porta" class="control-label">Porta<span class="required" aria-required="true"> * </span></label>
                        <input type="text" value="1987"  name="porta" id="porta" class="form-control" required
                               title="Porta de rede para conexão ao banco">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="usuarioBanco" class="control-label">Usuario<span class="required" aria-required="true"> * </span></label>
                        <input type="text" value="POSTGRES"  name="usuarioBanco" id="usuarioBanco" class="form-control" required
                               title="Usuario de conexão ao banco">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="senhaBanco" class="control-label">Senha usuario<span class="required" aria-required="true"> * </span></label>
                        <input type="password" value="maxr2w2e8f4"  name="senhaBanco" id="senhaBanco" class="form-control" required
                               title="Senha do usuario de conexão ao banco">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="banco" class="control-label">Banco<span class="required" aria-required="true"> * </span></label>
                        <input type="text" value="cs_loja"  name="banco" id="banco" class="form-control" required
                               title="Banco onde sera efetuada a conexão">
                    </div>
                </div>
            </div>

            <h3 class="form-subtitulo">Tintométrico</h3>
            <hr class="divider">

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="ipTintometrico" class="control-label">IP</label>
                        <input type="text" placeholder="192.168.1.1"  name="ipTintometrico" id="ipTintometrico" class="form-control"
                               title="Ip de conexão ao banco de dados da empresa selecionada para o Tintométrico" >
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="portaTintometrico" class="control-label">Porta</label>
                        <input type="text" placeholder="1987"  name="portaTintometrico" id="portaTintometrico" class="form-control"
                               title="Porta de rede para conexão ao banco para o Tintométrico">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="usuarioBancoTintometrico" class="control-label">Usuario</label>
                        <input type="text" placeholder="POSTGRES"  name="usuarioBancoTintometrico" id="usuarioBancoTintometrico" class="form-control"
                               title="Usuario de conexão ao banco para o Tintométrico">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="senhaBancoTintometrico" class="control-label">Senha usuario</label>
                        <input type="password" placeholder="**********"  name="senhaBancoTintometrico" id="senhaBancoTintometrico" class="form-control"
                               title="Senha do usuario de conexão ao banco para o Tintométrico">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="bancoTintometrico" class="control-label">Banco</label>
                        <input type="text" placeholder="cs_loja"  name="bancoTintometrico" id="bancoTintometrico" class="form-control"
                               title="Banco onde sera efetuada a conexão para o Tintométrico">
                    </div>
                </div>
            </div>

            <div class="row" style="border-top:1px solid #eee;">
                <div class="col-sm-12 form-footer" style="margin-top:10px;">
                    <div class="pull-right">
                        <button type="button" class="btn btn-danger" onclick="formularioConexao.transicaoLayout(false);">
                            <i class="material-icons md-24 ">arrow_back</i> Voltar
                        </button>
                        <button type="button" class="btn btn-success" onclick="formularioConexao.confirmarAlteracaoDeRegistro();">
                            <i class="material-icons md-24 ">check</i> Salvar
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
